@value Haricot, Radish, Carrot, White, DarkChilli, White, BlueCabbage, HaricotMedium from 'styles/colors.css';

.badge {
	composes: paddingSMLeftRight marginXSRight marginXSBottom from 'sass-loader!styles/spacing.scss';
	composes: inlineBlock from 'styles/display.css';
	composes: textXS from 'styles/typography.css';
	font-weight: bold;
	border-radius: 4px;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}
