@value White, Blackberry from 'styles/colors.css';
@value sizeXXL from 'styles/typography.css';

.banner {
	background: White;
	color: Blackberry;
	composes: paddingMDTopBottom paddingSMLeftRight from 'sass-loader!styles/spacing.scss';
}

.bannerInner {
	composes: accountContainer from 'styles/layout.css';
}

.onDesktop {
    composes: hidden-sm-down from 'sass-loader!styles/bootstrap.scss';
}

.onMobile {
    composes: hidden-md-up from 'sass-loader!styles/bootstrap.scss';
}

.bannerTitle {
	composes: headerXXL from 'styles/typography.css';
	color: Blackberry;
}
