.coButtonSegment, .coSpinnerContainer {
	padding-bottom: 44px;
	padding-top: 4px;
	padding-left: 25px;
	padding-right: 25px;
}

.buttoncontainer {
	width: 35%;
}

.buttoncontainerFull {
	width: 100%;
}

.coButton {
	composes: marginMDLeftRight from 'sass-loader!styles/spacing.scss';
}

.submitButton {
	padding-top: 5px;
	min-height: 52px;
}

.coSpinner {
	transform: none;
	top: 7px;
}
