@value Bluecheese, LightestAccessible from 'styles/colors.module.css';

.container {
  text-align: center;
  width: 5rem;
  height: 5rem;
  line-height: 0.9;
}

.month {
  background-color: Bluecheese;
  color: white;
  padding: 0.35rem 0.7rem;
  font-weight: bold;
  min-height: 1.65rem;
}

.day {
  background-color: white;
  border: 1px solid LightestAccessible;
  border-top: 0;
  padding: 0.30rem 0.7rem;
  font-weight: bolder;
  min-height: 3.4rem;
}

.dayNumeric {
  font-weight: bolder;
}
