@value Blackberry, NewGrey from 'styles/colors.css';
@value BreakpointFromLarge, BreakpointToMedium from 'design-language/breakpoints.css';

.homepageRedesign {
  composes: fontStyleBody from 'design-language/typography.css';
  color: NewGrey;

  @media BreakpointToMedium {
    > div {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
    }
  }

  > div > div {
    + p {
      font-size: inherit;
      line-height: inherit;
      margin-bottom: 2rem;
    }

    > div {
      > p {
        margin: 1rem 0 0.5rem;
        color: Blackberry;
      }
      > div p {
        font-size: inherit;
        color: NewGrey;
        @media BreakpointFromLarge {
          padding: 0 2rem;
        }
      }
    }
  }
}
