@value White from 'styles/colors.css';

.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
}

button:focus {
	outline: none;
}

.button {
	composes: textUpper from 'styles/typography.css';
	composes: textSM from 'styles/typography.css';
	composes: textBold from 'styles/typography.css';
	color: White;
	background: none;
	border: none;
	font-size: 12px;
	min-height: 24px;
}

.start {
	composes: button;
	background: rgba(47, 40, 38, 0.9);
}

.toggleButton {
	composes: button;
	background: rgba(47, 40, 38, 0.4);
}

.buttonMinus {
	composes: toggleButton;
	composes: fa-minus from 'styles/vendor/font-awesome-module.css';
}

.buttonPlus {
	composes: toggleButton;
	composes: fa-plus from 'styles/vendor/font-awesome-module.css';
}

.stop {
	composes: button;
	background: rgba(211, 97, 72, 0.9);
}

.print {
	composes: button;
	background: rgba(68, 136, 79, 0.9);
}
