@value ScreenXSMax from 'styles/screenSizes.css';
@value NewGrey from 'styles/colors.css';
@value BreakpointToMedium from 'design-language/breakpoints.css';

.headerBase {
	text-align: center;
}

.subHeader {
	composes: headerBase;
	composes: headerXL from 'styles/typography.css';

  .homepageRedesign & {
    color: NewGrey;
    margin: 0.5rem 0 2rem;
  }
}

.testimonials {
	composes: paddingXXXLTop from 'sass-loader!styles/spacing.scss';
  &.homepageRedesign {
    padding: 0;

    @media BreakpointToMedium {
      h2 {
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
  }

	@media ScreenXSMax {
		padding-top: 55px;
		padding-bottom: 55px;
	}
}
