@value avenirHeavyFontStack from 'styles/typography.css';
@value DarkGrey, Mackerel, White from 'styles/colors.css';
@value ScreenXXSMin, ScreenSMMin, ScreenMDMin from 'styles/screenSizes.css';

.resetButtonStyle {
  display: block;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.productWrapper {
  background:White;
  border: 1px solid Mackerel;
  margin-bottom: 20px;
  transition: box-shadow 200ms ease-in;
  width: 100%;

  @media ScreenXXSMin {
    width: calc(80% - 10px);
    margin: 10px auto;
  }

  @media ScreenMDMin {
    width: calc(50% - 10px);
  }
}

.productWrapper:hover {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.10);
}

.productDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.productImage {
  width: 100%;
  padding-bottom: 66%; /* ratio of the image */
  height: 0;
  overflow: hidden;
  position: relative;
}

.productImage img {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.productContent {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.productInfo {
  text-align: left;
}

.productInfo:hover .productTitle {
  text-decoration: underline;
}

.productTitle {
  font-size: 18px;
  font-family: avenirHeavyFontStack;
  font-weight: 400;
  margin-bottom: 5px;
}

.productPrice {
  font-family: avenirHeavyFontStack;
  color: DarkGrey;
  font-size: 14px;
  margin-bottom: 0;
}

.productButtonWrapper {
  align-self: flex-end;
}
