@value ScreenMLMax, ScreenMLMin, ScreenSMMin from 'styles/screenSizes.css';
@value SpacingLG as GutterSize from 'sass-loader!styles/spacing.scss';
@value sizeMD from 'styles/typography.css';
@value White, Basa from 'styles/colors.css';

@value attributesLineHeight 1.8;
@value chefTtileWidth calc(100% - 85px);

.featuredRecipe {
	@media ScreenMLMin {
		width: 100%;
		height: 100%;
		height: 645px;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		overflow: hidden;
		position: relative;
	}
}

.recipeDetails {
	composes: relative from 'styles/position.css';
}

.featuredDetails {
	composes: col-xs-12 col-lg-5 from 'sass-loader!styles/bootstrap.scss';
	composes: recipeDetails;

	@media ScreenMLMin {
		background: White;
		padding: 0;
		padding-bottom: 5px;
		margin-right: GutterSize;
		margin-left: GutterSize;
		margin-top: 40px;
	}
	@media ScreenMLMax {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
}

.featuredDetailsWithTag {
	composes: featuredDetails;
	@media ScreenMLMin {
		margin-top: 50px;
	}
}

.textContainer {
	composes: paddingMD from 'sass-loader!styles/spacing.scss';
	@media ScreenMLMax {
		margin-top: 15px;
	}
}

.link {
	cursor: pointer;
}

.linkUnderlined {
	composes: link;
	&:hover {
		text-decoration: underline;
	}
}

.linkIfChefFeatured {
	@media ScreenMLMax {
		max-width: chefTtileWidth;
	}
}

.chefLogo {
	@media ScreenMLMin {
		display: none;
	}
}

.score {
	position: absolute;
	left: 10px;
	margin-top: -40px;

	@media ScreenMLMin {
		top: 100%;
	}
}

.rangeBadgeFeatured {
	position: absolute;
	margin-left: -15px;
	margin-top: -40px;

	@media ScreenSMMin {
		margin-top: -44px;
	}
	@media ScreenMLMin {
		position: relative;
		margin-left: -25px;
		margin-bottom: 15px;
		margin-top: 0px;
	}
}

.viewDetails {
  margin-bottom: 15px;
}

.buttonContainer {
	display: flex;
	align-items: flex-end;
}

.addButton {
	flex-grow: 1;
}
