@value axiformaFontStack, sizeSM, sizeMD from 'styles/typography.css';
@value White, Blackberry from 'styles/colors.css';
@value ScreenLGMin, ScreenXSMax, ScreenMDMin, ScreenSMMin, ScreenSMMax, ScreenMDMax, ScreenXXSMax from 'styles/screenSizes.css';

.collectionLink {
    width: 100%;
    position: relative;
    margin: 0.75rem 0.75rem 1.25rem 0.75rem;
    flex-direction: column;


    @media ScreenSMMin {
        margin: 0 1rem 1rem 0;
        width: calc(50% - 1rem);
        height: auto;
    }
    @media ScreenMDMin {
        width: calc(33.33% - 1rem);
    }
    @media ScreenLGMin {
        width: calc(25% - 1rem);
    }
}

.collectionLinkContainer {
    width: 100%;
    height: 100%;
    color: Blackberry;
    position: relative;
    @media ScreenSMMin {
        flex-direction: column;
        display: flex;
    }
}

.collectionLinkList {
    width: 100%;
    height: 100%;
    color: Blackberry;
    position: relative;
    @media ScreenSMMin {
        display: flex;
        flex-direction: column;
    }
}

.collectionLinkHeading {
    font-size: sizeMD;
    font-weight: 600;
    @media ScreenSMMin {
        font-size: 20px;
    }
}
