@value ScreenXXSMin from 'styles/screenSizes.css';
@value White from 'styles/colors.css';

.willFade {
	opacity: 1;
	transition: 0.5s opacity;
	display: flex;
}

.fadeOut {
	composes: willFade;
	opacity: 0.4;
	pointer-events: none;
}
