@value ScreenXSMax from 'styles/screenSizes.css';

.bold {
	composes: textBold from 'styles/typography.css';
}

.header {
	display: flex;
	justify-content: space-between;
}

.subHeader {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.dateTime {
	font-size: 0.875rem;
	margin-bottom: 0;
}

.button {
	@media ScreenXSMax {
		display: block;
	}
}
