.coSpinnerContainer {
  padding-bottom: 44px;
  padding-top: 4px;
  padding-left: 25px;
  padding-right: 25px;
}

.coSpinner {
  transform: none;
  top: 7px;
}

.displayNone {
  display: none;
}

.checkoutLabel {
  display: inline-block;
  margin-right: 0.75rem;
  composes: fontStyleButtonL from 'design-language/typography.css';
}
