@value Pomegranate, LightestAccessible from 'styles/colors.module.css';
@value ScreenXXSMin, ScreenSMMin from 'styles/screenSizes.module.css';

.container {
  text-align: left;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header {
  margin-bottom: 1.5rem;
}

.headerSpacing {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.scheduleItem {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-column-gap: 1.5rem;
}

.scheduleItem:not(:last-child) {
  min-height: 10rem;
}

.verticalLine {
  border-left: 2px dotted LightestAccessible;
  height: 100%;
  margin-left: 50%;
}

.mobileShow {
	composes: hidden-md-up from 'sass-loader!styles/bootstrap.scss';
}
