.mobileImageWrapper {
    height: 100%;
    width: 200px;
    border: none;
    background: none;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.desktopImageWrapper {
    height: 75%;
    width: 100%;
    border: none;
    background: none;
    position: relative;
    padding: 0;
    padding-top: 100%;
    height: auto;
    overflow: hidden;
}

.mobileImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    max-height: none;
    transform: scale(1.2);
}

.desktopImage {
    position: absolute;
    top: -10%;
    left: -10%;
    max-width: none;
    width: 120%;
}
