{
  "plugins": [
    "lodash",
    "transform-async-to-generator",
    "transform-strict-mode",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "presets": [
        ["env", {
          "loose": true,
          "targets": {
            "node": "8.11.3"
          },
          "useBuiltIns": true
        }],
        "react",
        "stage-0"
      ],
      "plugins": [
        ["lodash",
          "transform-async-to-generator",
          "transform-strict-mode",
          "transform-class-properties",
          "transform-object-rest-spread",
          "syntax-dynamic-import",
          "transform-runtime", {
            "helpers": true,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "transform-runtime", {
            "polyfill": false,
            "regenerator": true
          }
        ],
        "syntax-dynamic-import"
      ]
    }
  }
}
