@value White, Pepper, Basa from 'styles/colors.css';
@value sizeXXL, sizeXS from 'styles/typography.css';
@value ScreenXSMax from 'styles/screenSizes.css';
@value SpacingXXS, SpacingLG, SpacingMD from 'sass-loader!styles/spacing.scss';

@value holderHeight 54px;
@value desktopWidth 70px;
@value mobileWidth 64px;

.desktopIcon {
	max-height: holderHeight;
	min-width: desktopWidth;
	border-radius: 6px;
	font-size: sizeXXL;
	margin-left: 40px;
}

.mobileIcon {
	composes: marginLGLeft marginMDTop from 'sass-loader!styles/spacing.scss';
	font-size: sizeXXL;
}

.checkIcon {
	composes: absolute from 'styles/position.css';
	composes: fa-basic-class fa-check from 'styles/vendor/font-awesome-module.css';
	color: White;
}

.imgMobile {
	composes: noRadius from 'styles/borders.css';
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.placeHolder {
	composes: textCenter from 'styles/typography.css';
	font-size: 11px;
}

.recipeHolder {
	max-height: calc(holderHeight - 1px);
	height: calc(holderHeight - 1px);
	border: 1px Basa dashed;
	display: flex;
	flex: 1 0;
	overflow: hidden;
	justify-content: center;
	align-items: stretch;
	margin-right: 3px;
}

.recipeHolder:first-child {
	margin-left: 3px;
}

.inline {
	composes: inlineBlock from 'styles/display.css';
}

.mobile {
	composes: inline;
	composes: noMargin from 'sass-loader!styles/spacing.scss';
	background-color: Pepper;
}

.desktop {
	max-height: holderHeight;
	height: 100%;
	max-width: 60px;
	composes: borderBase borderDashed from 'styles/borders.css';
}

.borderNone {
	composes: borderNone from 'styles/borders.css';

	@media ScreenXSMax {
		padding: 0;
	}
}

.paddingForAddRecipes {
	padding: 2px 4px;
	display: flex;
	flex: 1 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
