@value Pepper30, Duckegg, White, Radish, Bluecheese, Mackerel, Oyster from 'styles/colors.css';
@value avenirHeavyFontStack from 'styles/typography.css';

@value moveButtonHeight 1rem;

.moveButton {
	border: 1px solid Duckegg;
	background-color: White;
	border-radius: moveButtonHeight;
	font-family: avenirHeavyFontStack;
	font-size: 13px;
	line-height: moveButtonHeight;
	margin-top: 0.5rem;
	padding: 0.5rem 1rem;
}

.moveFromButton {
	composes: moveButton;
	color: Radish;
}

.addToButton {
	composes: moveButton;
	color: Bluecheese;
}

.disableButton {
	color: Oyster;
	border-color: Mackerel;
}

.arrowDown {
	composes: fa-basic-class  fa-arrow-down from 'styles/vendor/font-awesome-module.css';
	padding-right: 5px;
}

.arrowUp {
	composes: fa-basic-class  fa-arrow-up from 'styles/vendor/font-awesome-module.css';
	padding-right: 5px;
}
