@value headingFontStackBold, sizeMD from 'styles/typography.css';
@value White, DarkBasa from 'styles/colors.css';

.smallRecipeTile {
  width: 100%;
  border: 1px solid DarkBasa;
  background-color: White;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 1rem;
}

.recipeHover:hover {
  box-shadow: 0 4px 4px 0 rgba(51,61,71,0.40);
}

.recipeImage {
  display: inline-block;
    width: 100%;
}

.recipeContentWrapper {
  display: inline-flex;
  flex-direction: column;
  padding: 0.75rem;
  width: 100%;
}

.titleWrapper {
  font-family: headingFontStackBold;
  font-size: sizeMD;
  line-height: 1.25rem;
  &:hover {
    text-decoration: underline;
  }
}

.recipeAttributes > div {
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
}

.rangeBadgeWrapper{
  margin-top: -20px;
  margin-left: -1px;
  position: absolute;
  z-index: 12;
}
