@value BreakpointToMedium, BreakpointFromMedium, BreakpointToLarge, BreakpointFromLarge from 'design-language/breakpoints.css';
@value White from 'styles/colors.css';

.container {
  background: White;
  width: 100%;
  flex: 1;
  display: flex;

  @media BreakpointToLarge {
    flex-direction: column;
    align-items: center;
  }

  @media BreakpointFromLarge {
    flex-direction: row;
    padding: 0 2rem;
    justify-content: center;
  }
}

.partition {
  @media BreakpointToLarge {
    width: 100%;
  }

  @media BreakpointFromLarge {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 35.5rem;
  }
}

.mobileAndTabletOnly {
  width: 100%;

  @media BreakpointFromLarge {
    display: none;
  }
}

.tabletOnly {
  @media BreakpointToMedium {
    display: none;
  }

  @media BreakpointFromLarge {
    display: none;
  }
}

.desktopOnly {
  @media BreakpointToLarge {
    display: none;
  }
}

/* Images are included via CSS instead of img because server-rendered page has
   a flash of unstyled content, in which img-s look really ugly.
   padding-bottom allows to specify a div's aspect ratio (height / width). */
.image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.topImage {
  background-image: url('./assets/mobile-tablet-top.jpg');
  padding-bottom: 25%; /* 1918x479 */
}

.topImageGoustoOnDemand {
  background-image: url('./assets/mobile-tablet-top-gousto-on-demand.jpg');
  padding-bottom: 25%; /* 640x160 */
}

.desktopImage {
  padding-bottom: 125%; /* 1112x1390 */
  background-image: url('./assets/desktop-image.jpg');
}

.bottomImage {
  background-image: url('./assets/tablet-bottom.jpg');
  padding-bottom: 75%; /* 1918x1440 */
}

.content {
  @media BreakpointToMedium {
    padding: 1.5rem 0.75rem;
    max-width: 29.5rem;
  }

  @media BreakpointFromMedium {
    padding: 2.5rem 2rem;
    width: 40rem;
  }

  @media BreakpointToLarge {
    margin: auto;
  }

  @media BreakpointFromLarge {
    padding: 2.5rem 2rem;
    flex: 0 0 27.25rem;
    width: 27.25rem;
  }
}

.heading {
  composes: fontStyle3XL from 'design-language/typography.css';
  margin-bottom: 1.5rem;

  @media BreakpointFromMedium {
    margin-bottom: 2rem;
  }
}
