@value 5XLarge, 3XLarge, FontWeightBold, FontFamilyAxiformaBook from 'design-language/typography.module.css';
@value BreakpointFromMedium from 'design-language/breakpoints.module.css';
@value Mackerel from 'styles/colors.module.css';

.titleContainer {
  padding: 1rem 0.25rem;

  @media BreakpointFromMedium {
    padding: 2rem 0;
  }
}

.title {
  padding: 0;
  margin: 0 0 1rem;
  font: FontWeightBold 3XLarge FontFamilyAxiformaBook;
  display: flex;
  align-items: flex-end;

  &:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    border-bottom: 1px solid Mackerel;
    margin: 0 0 0.5rem 0.5rem;
  }

  @media BreakpointFromMedium {
    font: FontWeightBold 5XLarge FontFamilyAxiformaBook;
  }
}

.subTitle {
  margin: 0;
  padding: 0;
}
