@value ScreenXSMax from 'styles/screenSizes.css';
@value SpacingMD from from 'sass-loader!styles/spacing.scss';

.checkbox {
	@media ScreenXSMax {
		margin-top: SpacingMD;
	}
}

.error {
	composes: marginSMTop from 'sass-loader!styles/spacing.scss';
	composes: textCenter from 'styles/typography.css';
	composes: fadeIn from 'styles/effects.css';
	composes: error from 'styles/layout.css';
}

.ageVerificationModal{
	width: 600px;
	border-radius: 5px;
	padding: 30px;
}

.ageVerificationTitle{
	position: relative;
	float: left;
}

.ageVerificationContent{
	clear: both;
}

.ageVerificationFooter{
	text-transform: uppercase;
	position: relative;
	float: right;
	margin: 0;
}
