@value BreakpointToMedium, BreakpointFromMedium, BreakpointToLarge, BreakpointFromLarge, BreakpointToXLarge from 'design-language/breakpoints.css';
@value Mackerel from 'styles/colors.css';

.divider {
  height: 1px;
  border: none;
  background-color: Mackerel;
  margin: 2rem 0;
}

.hidden-sm {
  @media BreakpointToMedium {
    display: none;
  }
}

.hidden-md {
  @media BreakpointFromMedium and BreakpointToLarge {
    display: none;
  }
}

.hidden-lg {
  @media BreakpointFromLarge and BreakpointToXLarge {
    display: none;
  }
}
