@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value ScreenXXSMaxDEPRECATED from 'styles/screenSizes.css';
@value Bluecheese, Oyster from 'styles/colors.css';

.mainText {
  padding-top: 0.5rem;

  @media BreakpointFromMedium {
    padding-bottom: 1.5rem;
  }
}

.link {
  border-bottom: 1px solid Oyster;
  padding-bottom: 0.25rem;
  composes: fontSemiBold from 'design-language/typography.module.css';
}

.ctas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -0.5rem;

  @media ScreenXXSMaxDEPRECATED {
    flex-direction: column-reverse;
  }
}

.cta {
  flex: 0 48%;
  margin-bottom: 0.5rem;
}
