@value ScreenXXSMin from 'styles/screenSizes.css';
@value White from 'styles/colors.css';
.stockAlert {
  margin: 0 auto;
  background-color: White;
  padding: 0.125rem .5rem 0.25rem;
  @media ScreenXXSMin {
    max-width: 1600px;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

.stockAlert :first-child {
  margin-bottom: 0.5rem;
}

.willFade {
	opacity: 1;
	transition: 0.5s opacity;
}

.fadeOut {
	composes: willFade;
	opacity: 0.4;
	pointer-events: none;
}

.cvBanner {
  padding: 13px 0 18px;
}
