@value SpacingSM, SpacingXXS from 'sass-loader!styles/spacing.scss';
@value ScreenSMMax from 'styles/screenSizes.css';
@value sizeMD bodyFontStackBold from 'styles/typography.css';
@value White, Blackberry from 'styles/colors.css';

.base {
	composes: marginMDTop from 'sass-loader!styles/spacing.scss';
	composes: textBold from 'styles/typography.css';
}

.recipeDetails {
	composes: relative from 'styles/position.css';
	composes: marginMDBottom from 'sass-loader!styles/spacing.scss';
	composes: borderXS from 'styles/borders.css';
	composes: flex, verticalCenter from 'styles/flex.css';
	background: White;
	border-radius: 0;
	vertical-align: top;
	composes: inlineBlock from 'styles/display.css';
	position: relative;
	width: 100%;
	@media ScreenXSMax {
		flex-basis: MobColumnWidth;
		border-left-width: 0;
		border-right-width: 0;
	}
}

.simpleHeading {
	composes: textCenter headerLG from 'styles/typography.css';
	composes: block from 'styles/display.css';
	composes: headerLG from 'styles/typography.css';
	composes: base;
	min-height: 50px;
	-webkit-font-smoothing: auto;
	font-smoothing: auto;
	font-weight: bold;
	margin-top: 0;
	@media ScreenXSMax {
		font-size: sizeMD;
	}

	@media ScreenSMMax {
		font-size: 15px;
	}

	@media (width > 1500px) {
		height: 50px;
	}
}

.recipeTitle {
  text-align: left;
  color: Blackberry;
  margin: 0 0 0.5rem;
  composes: fontStyleSubHead from 'design-language/typography.module.css';
  overflow: hidden;
  max-height: 3rem;
}

.simple {
	min-height: 160px;
	cursor: pointer;
  position: relative;
}

.cookingTime {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.textContainerCenter {
  composes: paddingMD from 'sass-loader!styles/spacing.scss';
	composes: textCenter from 'styles/typography.css';
	padding-left: SpacingSM;
	padding-right: SpacingSM;
	padding-bottom: SpacingXXS;
}

.textContainer {
  padding: 1rem;
}

.simpleTagContainer {
	height: 30px;
}
