@value ScreenXXSMin, ScreenSMMin, ScreenMDMin, ScreenMLMin from 'styles/screenSizes.css';

@value JWBlue #3B3FB2;
@value JWSMImageSize 135px;
@value LGImageSize 200px;
@value MDImageSize 175px;
@value SMImageOffset 0.6;
@value LGImageOffset 0.9;
@value GelSMLeft 50%;
@value GelMDLeft 90%;
@value GelLGLeft 85%;

.container {
	composes: inlineBlock from 'styles/display.css';
	width: 100%;
	height: 200px;

	background-position: center;
	background-size: cover;
}

.wagamama2 {
	composes: container;
	background-image: url('media/images/menu/wagamama_banner_mobile_button.jpg');

	@media ScreenXXSMin {
		background-image: url('media/images/menu/wagamama_banner_tablet_button.jpg');
	}

	@media ScreenMLMin {
		background-image: url('media/images/menu/wagamama_banner_desktop_button.jpg');
	}
}

.christmas1 {
	composes: container;
	background-image: url('media/images/menu/christmas_banner_mobile_no_click.jpg');

	@media ScreenXXSMin {
		background-image: url('media/images/menu/christmas_banner_tablet_no_click.jpg');
	}

	@media ScreenMLMin {
		background-image: url('media/images/menu/christmas_banner_desktop_no_click.jpg');
	}
}

.christmas2 {
	composes: container;
	background-image: url('media/images/menu/christmas_banner_mobile_click.jpg');

	@media ScreenXXSMin {
		background-image: url('media/images/menu/christmas_banner_tablet_click.jpg');
	}

	@media ScreenMLMin {
		background-image: url('media/images/menu/christmas_banner_desktop_click.jpg');
	}
}

.contentBase {
	composes: flex from 'styles/flex.css';
}

.content {
	composes: contentBase;
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	height: 100%;
}

.gelPortrait {
	composes: gel from 'Gel/Gel.css';
	left: calc(GelSMLeft - (SMImageOffset * JWSMImageSize));
	top: 50%;
	height: JWSMImageSize;
	width: JWSMImageSize;

	@media ScreenSMMin {
		left: calc(GelMDLeft - (SMImageOffset * MDImageSize));
		height: MDImageSize;
		width: MDImageSize;
	}

	@media ScreenMDMin {
		left: calc(GelLGLeft - (LGImageOffset * LGImageSize));
		height: LGImageSize;
		width: LGImageSize;
	}
}

.gelPortrait__image {
  border-radius: 100%;
}

.link {
	width: 100%;
}
