@value ScreenXXSMin, ScreenMDMin from 'styles/screenSizes.css';

@value JWBlue #3B3FB2;
@value JWSMImageSize 175px;
@value JWLGImageSize 200px;
@value SMImageOffset 0.7;
@value LGImageOffset 0.9;
@value GelSMLeft 65%;
@value GelMDLeft 30%;
@value GelLGLeft 45%;

.container {
	composes: inlineBlock from 'styles/display.css';
	width: 100%;
	height: 200px;

	background-position: center;
	background-size: cover;
}

.taste-of-italy {
	composes: container;
	background-image: url('media/images/menu/taste-of-italy-banner-mobile.jpg');

	@media ScreenXXSMin {
		background-image: url('media/images/menu/taste-of-italy-banner-tablet.jpg');
	}

	@media ScreenMDMin {
		background-image: url('media/images/menu/taste-of-italy-banner-desktop.jpg');
	}
}

.summer-bbq {
	composes: container;
	background-image: url('media/images/menu/alfresco-mobile.jpg');

	@media ScreenXXSMin {
		background-image: url('media/images/menu/alfresco-tablet.jpg');
	}

	@media ScreenMDMin {
		background-image: url('media/images/menu/alfresco-desktop.jpg');
	}
}

.contentBase {
	composes: flex from 'styles/flex.css';
}

.content {
	composes: contentBase;
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	height: 100%;
}

.gelText {
	left: GelSMLeft;
	top: 50%;
	padding: 14px;

	@media ScreenXXSMin {
		left: GelMDLeft;
	}

	@media ScreenMDMin {
		left: GelLGLeft;
		padding: 18px;
	}
}

.gelPortrait {
	composes: gel from 'Gel/Gel.css';
	left: calc(GelSMLeft - (SMImageOffset * JWSMImageSize));
	top: 40%;
	height: JWSMImageSize;
	width: JWSMImageSize;

	@media ScreenXXSMin {
		left: calc(GelMDLeft - (SMImageOffset * JWSMImageSize));
	}

	@media ScreenMDMin {
		left: calc(GelLGLeft - (LGImageOffset * JWLGImageSize));
		height: JWLGImageSize;
		width: JWLGImageSize;
	}
}

.gelPortrait__image {
  border-radius: 100%;
}

.gelText__svg {
	height: 100%;
	width: 86%;
}
