@value ScreenXXSMin, ScreenMDMin from 'styles/screenSizes.css';

@value JWBlue #3B3FB2;
@value JWSMImageSize 175px;
@value JWLGImageSize 200px;
@value SMImageOffset 0.7;
@value LGImageOffset 0.9;
@value GelSMLeft 65%;
@value GelMDLeft 30%;
@value GelLGLeft 45%;

.container {
	composes: inlineBlock from 'styles/display.css';
	width: 100%;
	height: 200px;

	background-position: center;
	background-size: cover;
}

.everyday-favourites {
	composes: container;
	background-image: url('media/images/menu/ef-banner-mobile.jpg');

	@media ScreenXXSMin {
		background-image: url('media/images/menu/ef-banner-tablet.jpg')
	}

	@media ScreenMDMin {
		background-image: url('media/images/menu/ef-banner-desktop.jpg');
	}
}

.ten-min {
	composes: container;
	background-image: url('media/images/menu/10min-banner-mobile.jpg');

	@media ScreenXXSMin {
		background-image: url('media/images/menu/10min-banner-tablet.jpg')
	}

	@media ScreenMDMin {
		background-image: url('media/images/menu/10min-banner-desktop.jpg');
	}
}

.contentBase {
	composes: flex from 'styles/flex.css';
}

.content {
	composes: contentBase;
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	height: 100%;
}

.gelText {
	left: GelSMLeft;
	top: 50%;
	padding: 14px;

	@media ScreenXXSMin {
		left: GelMDLeft;
	}

	@media ScreenMDMin {
		left: GelLGLeft;
		padding: 18px;
	}
}

.everyday-favourites .gelText {
	padding: 0px;
}

.gelPortrait {
	composes: gel from 'Gel/Gel.css';
	left: calc(GelSMLeft - (SMImageOffset * JWSMImageSize));
	top: 40%;
	height: JWSMImageSize;
	width: JWSMImageSize;

	@media ScreenXXSMin {
		left: calc(GelMDLeft - (SMImageOffset * JWSMImageSize));
	}

	@media ScreenMDMin {
		left: calc(GelLGLeft - (LGImageOffset * JWLGImageSize));
		height: JWLGImageSize;
		width: JWLGImageSize;
	}
}

.everyday-favourites .gelPortrait {
	z-index: 2;
}

.joe-wicks .gelPortrait__image {
	border-radius: 100%;
	border: 3px solid JWBlue;
}

.gelText__svg {
	height: 100%;
	width: 86%;
}

.everyday-favourites .gelText__svg {
	height: 100%;
	width: 100%;
	position: absolute;
	right: 5px;
}
