&-box-container {
	background: $color_gradient_1;
	padding: 20px 20px 40px 20px;
	text-align: center;
	&:nth-of-type(1){
		margin-right: 8%;
	}
	@media (max-width: $mobile_breakpoint) {
		margin-bottom: 8%;
	}
}
&-box-type-container {
	padding: 50px 20px;
	@media (max-width: $mobile_breakpoint) {
		display: block;
	}
}

&-box-icon {
	width: 80px;
	height: 80px;
	position: absolute;
	right: -70px;
	bottom: 72px;
	@media (max-width: 1024px) {
		right: -100px;
		bottom: 100px;
	}
	@media (max-width: $mobile_breakpoint) {
		right: -50px;
		bottom: 45px;
	}
}

&-box-img {
	padding: 0px;
}

&-box-size {
	width: 100%;
	&-2 {
		width: 342px;
		max-width: 90%
	}
	&-4 {
		width: 380px;
	}
}

&-actions {
	display: inline-block;
	margin-top: 20px;
	.text {
		display: inline-block;
		padding-right: 30px;
		@media(max-width: 767px) {
			padding-right: 0;
			display: block;
		}
	}
}
