.flexibility {
	@media (max-width: 767px) {
		display: block;
	}
}
.icon-hearts {
	fill: transparent;
	width: 100px;
	height: 100px;
}

.icon-container {
	position: relative;
}

.quote-wrapper {
	padding-top: 20px;
	padding-bottom: 10px;
}
