@value Haricot, DarkHaricot from 'styles/colors.module.css';

.discountAppliedNotice {
  color: DarkHaricot;
  margin-bottom: 1.5rem;
  composes: fontStyleS from 'design-language/typography.module.css';
}

.tick {
  composes: fa-basic-class fa-fw fa-check from 'styles/vendor/font-awesome-module.css';
  color: Haricot;
  font-size: 1rem;
  margin-right: 0.5rem;
}
