@import 'config/main';

body.contact-us {
	#map-canvas {
		height: 330px;
		margin: 0px;
		padding: 0px;
		width: 100%;
		background-color: $color_gradient_4;
		.ladda-spinner {
			position: absolute;
			top: 250px;
			left: 50%;
			margin-left: -20px;
		}
	}

	.get-directions {
		color: $color_secondary;
	}

	.contact-container {
		color: $color_secondary;
	}

	.contact-text {
		color: $color_secondary;
	}

	.gousto-map img {
		max-width: none !important;
		height: auto !important;
		background: none !important;
		border: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	a.contact-link {
		color: $color_clicklinks;
	}
	.contact-office {
		border-right: 1px solid $color_border;
		padding-bottom: 80px;
		@media (max-width: 1023px) {
			text-align: center;
			border-right: none;
			padding-bottom: 30px;
		}
	}
	.contact-socials {
		list-style: none;
		padding-left: 0;
		li {
			display: inline-block;
		}
		.footer-icon {
			padding: 0px 5px;
			svg {
				width: 22px;
				height: 22px;
				fill: $color_gradient_10;
				&:hover {
					fill: $color_primary;
				}
			}
		}
	}
	#haveaquestion-container{
		padding: 0 0 0 20px;
		textarea {
			margin-bottom: 15px;
			border-color: $color_gradient_4;
			color: $color_secondary;

			&:focus {
				border-color: $color_gradient_5;
				box-shadow: none;
				outline: none;
			}

			&:error {
				border-color: $color_red;
				color: $color_red;
				box-shadow: none;
				outline: none;
			}
		}
		@media (max-width: 1023px) {
			padding: 0;
			text-align: center;
		}
	}

	.form-control {
		&:focus {
			border-color: $color_gradient_5;
			box-shadow: none;
			outline: none;
		}
	}
}
