@import 'config/main';
/**
 * Cookbook
 */

.cookbook .wrapper {
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
	float: none;
}

.cookbook-intro {
	position: relative;
	margin: 0 auto;
	width: 96%;
	max-width: 860px;
}
.cookbook-intro-img {
	position: absolute;
	top: 5%;
	left: 0;
	height: auto;
	max-width: 30%;
}
.cookbook-intro-textwrap {
	@media (min-width: 768px) {
		float: right;
		background: lighten($color_secondary, 20%);
		padding: 10px 10px 10px 60px;
		width: 80%;
		border: 2px solid darken($color_secondary, 20%);
		border-radius: 5px;
	}
	@media (max-width: 767px) {
		font-size: 16px;
	}
}

.cookbook-searchforms-wrapper {
	margin-top: 30px;
}

body.cookbook {
	/*** ITEMGRID ***/
	#recipe-grid .itemgridchild {
		border: 1px solid $color_border;
		width: 30.8%;
		margin-left: 2%;
		float: none;
		background: $color_gradient_1;
		-webkit-box-shadow: 1px 2px 6px 2px $color_gradient_4;
		box-shadow: 1px 2px 6px 2px $color_gradient_4;
		padding: 0;
		margin-bottom: 4%;
		display: inline-block;
		vertical-align: top;

		@media (max-width: 767px) {
			width: 45%;
			margin-left: 3.2%;
		}
		@media (max-width: 480px) {
			width: 94%;
			margin-left: 3%;
			margin-bottom: 6%;
		}
	}
	#recipe-grid .itemgridchild .cookbook-recipe-header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	#recipe-grid .itemgridchild h3 {
		background: $color_gradient_3;
		background: rgba($color_gradient_1, 0.5);
		font-size: 13px;
		text-align: center;
		margin: 0;
		padding: 20px 0;
		min-height: 49px;
		width: 100%;
		@include font-heading-bold;
	}
	#recipe-grid .itemgridchild .taste-award {
		margin: 10px 0 0 10px;
		width: 91px;
		height: 91px;
		background-image: url('/images/icons/taste-awards-logo.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
	}
	#recipe-grid .itemgridchild img {
		width: 100%;
	}
	#recipe-grid .itemgridchild .btn {
		width: 96%;
		margin: 0 auto;
	}
	#recipe-grid .itemgridchild ul {
		@media (max-width: 480px) {
			padding-left: 10%;
		}
	}
	#recipe-grid .itemgridchild p:last-child {
		margin-bottom: 5px;
	}
	#recipe-grid .itemgrid-info {
		background: url('/images/icons/bg-transparent-fff-07.png');
		width: 100%;
		text-align: left;
		padding: 0;
		margin: 0;
		position: absolute;
		height: 0;
		overflow: hidden;
		z-index: 30;
	}
	#recipe-grid .itemgrid-info ol {
		padding: 0;
		margin: 2% 3%;
		list-style-type: none;
	}
	#recipe-grid .readmore {
		margin-top: -25px;
		position: absolute;
		width: 100%;
		float: left;
		text-align: center;
		z-index: 40;
	}
	#recipe-grid .readmore span {
		background: url('/images/icons/bg-transparent-fff-07.png');
		padding: 5px;
		display: inline-block;
		cursor: pointer;
	}
	#recipe-grid .readmore .open {
		border: 1px solid $color_gradient_4;
		margin-top: -10px;
	}
}

.cookbook-error {
	margin: 10px 0 0;
	.close {
		margin-top: -4px;
		margin-right: -2px;
	}
}

.cookbook-recipecard-description {
	padding: 15px;
}
