@import 'config/main';

.farmshop-teaser {
	font-size: 20px;
}

#farm-shop{
	padding: 0px;
	.cont {
		position: relative;
		overflow: hidden;
		border: 1px solid $color_gradient_4;
		margin: 0px 15px 15px 15px;
		&:first-of-type{
			margin-left:0;
		}
		.add-remove {
			position: absolute;
		}
	}
	h3.product-title {
		font-size: 13px;
		margin: 0 0 10px 0;
		min-height: 60px;
		@include font-text-bold;
	}
	.product-details {
		padding: 15px;
		margin-bottom: 10px;
	}
	p.description {
		font-size: 12px;
		min-height: 240px;
	}
	.product-item {
		padding: 0;
		.image-container {
			overflow: hidden;
			@include aspect-ratio(4, 5);
		}
		img {
			width: 100%;
		}
	}
	.qty{
		width: 30px;
		padding-left: 0;
		right: 30px;
		text-align: center;
	}
	.notinbasket{
		.addtobasket.plus{
			@include font-heading-bold;
			font-size: 38px;
		}
	}
	@media (max-width: 767px) {
		.cont {
			margin-right: 0px;
		}
		.product-item {
			max-width: 100%;
			.image-container{
				display: inline;
				@include aspect-ratio($exclude: true);
			}
			img {
				float: left;
				width: 40%;
			}
			.product-details{
				float: left;
				width: 60%;
				margin-bottom: 0;
				.product-title {
					min-height: 0;
				}
				p.description {
					min-height: 0;
				}
			}
		}
		.qty{
			right: 40px;
		}
	}
	.row {
		margin-bottom: 0px;
	}
	.spinner-container {
		position: absolute;
		display: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color_gradient_10, 0.4);
		margin: 0 auto;
		padding-top: 50%;
		padding-left: 50%;
		z-index: 10;
	}
	div.nostock {
		height: 100%;
		width: 100%;
		z-index: 100;
		position: absolute;
		background-image: url('/images/icons/recipe-bg.png');
		background-repeat: repeat;
		background-color: $color_gradient_9;
		background-color: rgba($color_gradient_9, 0.8);
	}
	.stock-label {
		color: $color_primary;
		position: absolute;
		right: 10px;
		top: 10px;
		width: auto;
		border: 1px solid $color_primary;
		background-color: $color_gradient_1;
		padding: 5px 10px;
	}
	.popover {
		max-width: 200px;
	}
}

#order-summary-box {
	.price-box-value{
		margin-bottom: 0;
	}

	.price-discount{
		margin-bottom: 15px;
	}
}
