@import 'config/main';

/* Main menu nav sidebar styles */
@media screen and (max-width: 767px) {
	.sidebar-offcanvas {
		position: fixed;
		right: -60%;
		top: 0;
		width: 60%;
		display: block;
		@include vendor-prefix(transition, all 0.25s ease-in-out);
		@include vendor-prefix(box-shadow, 0 0 8px 0 rgba($color_gradient_7,0.6));
	}

	.row-offcanvas {
		position: relative;
		right: 0;
		@include vendor-prefix(transition, all 0.25s ease-in-out);

		.navbar {
			border-bottom: 1px solid $color_border;
			@include vendor-prefix(transition, all 0.25s ease-in-out);
		}
	}

	.row-offcanvas.active {
		right: 60%;
		.navbar {
			left: -60%;
		}
		.sidebar-offcanvas {
			right: 0;
		}
		.ordersummary-fixedbottom-openbtn, .ordersummary-fixedbottom-wrapper {
			@include vendor-prefix(transition, all 0.25s ease-in-out);
			left: -60%;
		}
	}
}
