@import 'config/main';
/********** ORDER SUMMARY PAGE *************/

.summary-title {
	padding-bottom: 15px;
	text-align: center;
}
.summary .content {
	max-width: 1170px;
	float: none;
	margin-right: auto;
	margin-left: auto;
}
.summary .content .left {
	padding-right: 100px;
}
.summary div#share-buttons a.btn {
	display: block;
}
@media(max-width:995px) {
	.summary .content .right {
		display: none;
	}
	.summary h4 {
		font-size: 23px;
	}
	.summary .content .left {
		padding-right: 15px;
	}
	.summary .share-button p {
		margin-right: 0;
	}
}
.summary {
	h2.chosen {
		@include font-heading-bold;
		font-size: 16px;
		padding: 10px;
	}
	.itemgridchild {
		overflow: hidden;
		h3 {
			position: absolute;
			bottom: -1px;
			left: 15px;
			width: calc(100% - 29px);
			font-size: 12px;
			background-color: rgba($color_gradient_1, 0.7);
			margin: 0;
			padding: 10px 5px;
			margin-right: 15px;
		}
		img {
			width: 100%;
			max-width: none;
		}
	}
}

.summary{
	.wrap {
		max-width: 1170px;
		margin: 0 auto;
	}
	hr {
		border-top: 1px solid $color_gradient_4;
	}
}

.summary {
	a.link {
		color: $color_secondary;
	}
	.wrapper {
		h1, h2, h3, ul, li {
			color: $color_gradient_9;
		}
	}
	.col-md-9 {
		padding: 0;
	}
	h2 {
		font-size: 24px;
		padding: 15px 0;
	}
	.refer {
		padding: 15px 0 0 0;
		bottom: 0px;
		right: 0;
		font-size: 15px;
		float: right;
		.strong {
			color: $color_primary;
			@include font-text-bold;
			font-size: 21px;
		}
		hr {
			border-top: 1px solid $color_gradient_4;
		}
		.padd {
			width: 100%;
			background-color: $color_gradient_1;
			background-repeat: no-repeat;
			background-position: bottom center;
			background-size: 100% auto;

			.referblock-wrapper {
				padding-top: 20px;
				padding-left: 20px;
				padding-right: 20px;
			}

			h3 {
				margin-top: 0;
				color: $color_gradient_9;
			}
			.summary {
				background-color: $color_gradient_1;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				padding: 0px 20px 20px 20px;
			}
			#share-buttons {
				background: none;
				a.btn {
					margin: 10px 5px;
				}
			}
		}
	}
}

@media(max-width:768px) {
	.summary {
		h2 {
			text-align: center;
		}
		.share-with-friends {
			padding: 0;
		}
		.refer {
			.padd {
				background-image: none;
			}
		}
	}
}

.ordersummary-sticky {
	@include vendor-prefix(transition, all 0.3s ease 2s);
	background-color: $color_secondary;
	left: 0;
	max-height: 0;
	position: fixed;
	width: 100%;
	z-index: 10;
	bottom: 0px;
	&.grow {
		@include vendor-prefix(transition, all 0.3s ease 0s);
		max-height: 66px;
	}
	.gbtn-primary {
		margin: 15px 0;
	}
}

@media(max-width:768px) {
	.gousto-market {
		.ordersummary-sticky {
			max-height: 66px;
			bottom: 0;
		}
		.ordersummary-fixedbottom-click {
			bottom: 65px;
			background-color: $color_secondary;
			border-color: $color_secondary;
			color: $color_gradient_1;
		}
	}
}
