.widget--stats {
	& > .container {
		padding: 0;
	}
}

.stat-container{
	.stat{
		&-panel{
			display: inline-block;
			background: $color_gradient_1;
			margin-bottom: 20px;
			width: 100%;

			&-title{
				@include font-text-bold
				font-size: 16px;
				padding-left: 15px;
				padding-top: 10px;
			}

			&-svg{
				height: 120px;
				align-content: center;
				fill: $color_secondary;
				width: 100%;
				margin: 0 auto;
			}
			.locked{
				color: $color_border;
				&-svg{
					fill: $color_border;
					margin-bottom: 62px;
					@media (max-width: $screen-md-max) {
						margin-bottom: 70px;
					}
					@media (max-width: $screen-sm-max) {
						margin-bottom: 62px;
					}
				}
			}
		}

		&-description{
			font-size: 14px;
			padding: 0;
			padding-left: 15px;
		}
		&-data{
			text-align: center;
			@include font-text-bold
			margin-top: -10px;
			&-value{
				@include font-text-bold
				color: $color_primary;
				font-size: 30px;
				margin-bottom: 0;
			}
			&-unit{
				@include font-text-bold
				font-size: 14px;
			}
		}
	}
}
