.frame {
  composes: paddingSMTopBottom from 'sass-loader!styles/spacing.scss';
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.addressContainer {
  display: inline-block;
  margin-right: 1rem;
}

.hide {
  display: none;
}
