@value White from 'styles/colors.css';
@value ArrowHeight: 30px;
@value NegativeArrowHeight: -30px;

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.arrow--top {
  top: NegativeArrowHeight;
  border-bottom: ArrowHeight solid White;
}

.arrow--bottom {
  bottom: NegativeArrowHeight;
  border-top: ArrowHeight solid White;
}

.arrow--left {
  left: 20%;
  right: initial;
}

.arrow--right {
  left: initial;
  right: 20%;
}
