@value sizeSM, sizeXL from 'styles/typography.css';
@value NewGrey from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';

.container {
  padding: 1rem 1.25rem;

  @media BreakpointFromMedium {
    padding: 1rem 1.5rem;
  }

  p {
    margin: 0;
  }
}

.recipes {
  composes: fontStyleS from 'design-language/typography.css';
  color: NewGrey;
  text-align: center;
}

.boxPrice {
  composes: fontStyleL from 'design-language/typography.css';
}
