.loading_container {
  min-height: 495px;
  width: 100%;
  padding-top: 0px;
  display: flex;
  align-items: center;
}

.loading_image_container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.loading_image {
  width: 4rem;
  height: 4rem;
}
