@value axiformaFontStack, sizeSM, sizeMD, sizeXS from 'styles/typography.css';
@value White, Blackberry, BlueBase from 'styles/colors.css';
@value ScreenLGMin, ScreenXSMax, ScreenMDMin, ScreenSMMin, ScreenSMMax, ScreenMDMax, ScreenXXSMax from 'styles/screenSizes.css';

.recipeTile {
  width: 100%;
  position: relative;
  height: 220px;
  margin: 0 0.75rem 0.75rem 0.75rem;
  flex-direction: column;

  @media ScreenSMMin {
    margin: 0 1rem 1rem 0;
    width: calc(50% - 1rem);
    height: auto;
  }
  @media ScreenMDMin {
    width: calc(33.33% - 1rem);
  }
  @media ScreenLGMin {
    width: calc(25% - 1rem);
  }
}

.recipeTileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: White;
  color: Blackberry;
  position: relative;
  @media ScreenSMMin {
    flex-direction: column;
  }
}

.recipeTileContainer:nth-child(2n) {
  @media ScreenSMMin and ScreenSMMax {
    margin-right: 0;
  }
}

.recipeTileContainer:nth-child(3n) {
  @media ScreenMDMin and ScreenMDMax {
    margin-right: 0;
  }
}

.recipeTileContainer:nth-child(4n) {
  @media ScreenLGMin {
    margin-right: 0;
  }
}

.recipeTileInfo {
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
  @media ScreenXSMax {
    margin: 0.75rem;
    height: auto;
    width: 35%;
  }
}

.recipeTileContainer:hover {
  box-shadow: 0 4px 14px 0 rgba(51, 61, 71, 0.2);
  cursor: pointer;
}

.recipeTileContainer:hover .recipeTitle {
  text-decoration: underline;
}

.variantPushDown {
  padding-top: 30px;
  @media ScreenSMMin {
    padding-top: 0;
  }
}

.recipeTileIsFineDineIn {
  background: Blackberry;
  color: White;
}

.variantDropdownContainer {
  width: 100%;
  position: absolute;
  top: 98%;
  right: 0;
  z-index: 150;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 0.5rem;
  background-color: White;

  @media ScreenSMMin {
    width: 112%;
    right: -6%;
  }
  @media ScreenMDMin {
    width: 112%;
    right: -6%;
  }
  @media ScreenLGMin {
    width: 112%;
    right: -6%;
  }
}

.recipeTileTitle {
  margin-bottom: 1rem;
  flex: 1;
  font-family: axiformaFontStack;
  font-size: sizeXS;
  font-weight: 600;
  line-height: 1.6;
  @media ScreenSMMin {
    font-size: sizeMD;
  }
}

.recipeTileWithLinkTitle {
  flex: auto;
  margin-bottom: 0;
}

.recipeTagHolder {
  position: absolute;
  top: 0.5rem;

  @media ScreenSMMin {
    top: 1rem;
  }
}

.recipeTagHolderShifted {
  position: absolute;
  top: 2.625rem;
}

/* Everything below is a part of experiment
 * https://gousto.atlassian.net/browse/TG-6541
 */

@value color-S200 #A29EFF;
@value color-S600 #412dee;
@value outline-broder-width: 0.1875rem;
@value outline-border-radius: 0.1875rem;

.recipeTileLink {
  width: 100%;
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  border-bottom: 0.0625rem solid BlueBase;

  &:focus {
    outline: none;
    border: outline-broder-width solid BlueBase;
    border-radius: outline-border-radius;
  }
}
.recipeTileFineDineInLink {
  border-bottom-color: color-S200;

  &:focus {
    outline: none;
    border: outline-broder-width solid BlueBase;
    border-radius: outline-border-radius;
  }
}

.recipeTileLink:hover {
  border-bottom-color: color-S600;

  .recipeTileLinkText {
    color: color-S600;
  }
}

.recipeTileLink:hover {
  border-bottom-color: BlueBase;

  .recipeFineDineInTileLinkText {
    color: BlueBase;
  }
}

.recipeTileLinkIcon {
  color: BlueBase;
}
.recipeTileLink:hover .recipeTileLinkIcon {
  color: color-S600;
}

.recipeTileFineDineInLinkIcon {
  color: color-S200;
}
.recipeTileLink:hover .recipeTileFineDineInLinkIcon {
  color: BlueBase;
}
