@value White from 'styles/colors.module.css';

.menuDateRange {
  composes: headerXXL from 'styles/typography.module.css';
  composes: noMargin noPadding from 'sass-loader!styles/spacing.scss';
}

.mobile {
  padding: 0.5rem 1rem;
  background: White;
  composes: hidden-md-up from 'sass-loader!styles/bootstrap.scss';
}
