@value ScreenXSMax from 'styles/screenSizes.css';

.deliveryDetailsWrapper {
	display: flex;
}

.bold {
	composes: textBold from 'styles/typography.css';
}

.header {
	margin-bottom: 1.25rem;
	font-size: 1.125rem;
}

.subSection {
	margin-bottom: 1.25rem;
	flex-basis: 100%;
}

.details {
	display: flex;
	justify-content: space-between;
}

.subHeader {
	font-size: 1rem;
	padding-bottom: 0.315rem;
}

.dateTime {
	font-size: 0.875rem;
}

.capitalize {
	text-transform: capitalize;
}
