{
    "presets": [
          "env",
            "react",
            "stage-0"
          ],
"plugins": [
	"syntax-dynamic-import"
],
    "env": {
        "test": {
            "plugins": [
                [
                	"transform-runtime", {
	                    "polyfill": false,
	                    "regenerator": true
	                }
	            ],
                "istanbul",
                "syntax-dynamic-import"
            ]
        }
    }
}
