@value Bluecheese, White from 'styles/colors.css';
@value BreakpointFromLarge, BreakpointToMedium from 'design-language/breakpoints.css';

.container {
  composes: paddingSMTopBottom from 'sass-loader!styles/spacing.scss';
  text-align: center;
  background: Bluecheese;

  &.homepageRedesign {
    @media BreakpointFromLarge {
      p {
        margin-right: 2rem
      }
    }
    @media BreakpointToMedium {
      .button {
        width: 311px;
      }
    }
  }
}

.hide {
	composes: none from 'styles/display.css';
}

.text {
  composes: inlineBlock from 'styles/display.css';
  composes: marginXXS from 'sass-loader!styles/spacing.scss';
  composes: textXL bodyFont textBold from 'styles/typography.css';
  color: White;
}

.link {
  cursor: pointer;
}

.linkUnderlined {
  text-decoration: underline;
}
