@value axiformaFontStack, sizeMD, sizeXS from 'styles/typography.css';
@value ScreenSMMin from 'styles/screenSizes.css';

.recipeTileTitle {
    margin-bottom: 1rem;
    flex: 1;
    font-family: axiformaFontStack;
    font-size: sizeXS;
    font-weight: 600;
    line-height: 1.6;
    @media ScreenSMMin {
        font-size: sizeMD;
    }
}
