src/manifest.json
src/node_modules
src/public
src/dist
src/libs/goustouicomponents
.DS_Store
.FBCIndex
Thumbs.db
src/.npmrc
src/.yarnrc
tests/e2e/node_modules
tests/e2e/selenium-debug.log
tests/e2e/reports
tests/e2e/screenshots
src/coverage/
yarn-error.log
src/_coverage
src/vendor
# VSCode
.vs
.vscode
jsconfig.json
.idea
src/config/env.json
