**/node_modules
.DS_Store
.FBCIndex
Thumbs.db
src/.npmrc
src/.yarnrc
tests/e2e/node_modules
tests/e2e/selenium-debug.log
tests/e2e/reports
tests/e2e/screenshots
tests/regression/node_modules
tests/regression/screenshots
tests/regression/results
tests/regression/reports
tests/regression/videos
tests/load/__pycache__
**/eslint-results.json
yarn-error.log
**/.eslintcache
# VSCode
.vs
.idea
src/apps/webclient/config/env.json
lib

# Yarn
# This is the recommended configuration for non-zero-installs.
# Storing the Yarn releases and plugins in version control is intentional.
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package-lock.json

