/src/.awspublish-gousto2-production-assets
/src/.sass-cache/*
/src/aws.json
/src/app/config/local
/src/bootstrap/compiled.php
/src/composer.phar
/src/local
/src/node_modules
/src/public/*.html
/src/public/rev-manifest.json
/src/public/cms
/src/public/css
/src/public/email_images
/src/public/fonts
/src/public/img
/src/public/js
/src/public/video
/src/public/stylesheets
/src/public/javascripts
/src/vendor
/src/app/manifest.json
/src/public/sitemap-cookbook.xml
.DS_Store
.FBCIndex
Thumbs.db
/src/.npmrc
/src/.yarnrc
/src/public/images
public/storage
/src/public/storage
src/npm-debug.log
src/app/assets/__tests__/coverage
src/app/assets/*.ttf
src/app/assets/*.eot
src/app/assets/*.jpg
src/app/assets/*.woff
src/app/assets/*.svg
src/app/assets/*.woff2
src/app/assets/javascripts/reactComponents.js
.idea/*
.tags
.tags_swap
npm-debug.log
src/public/apple-app-site-association
tests/e2e/node_modules
tests/e2e/selenium-debug.log
tests/e2e/reports
tests/e2e/screenshots
src/nodeserver/.nyc_output/
src/nodeserver/coverage/
yarn-error.log
