registry=https://registry.npmjs.org
@gousto-internal:registry=https://gousto-472493421475.d.codeartifact.eu-west-1.amazonaws.com/npm/proxy-repository/
//gousto-472493421475.d.codeartifact.eu-west-1.amazonaws.com/npm/proxy-repository/:always-auth=true
