# Default ownership
*       @Gousto/guild-frontend

# Global ownership
/src/apps/webclient/dangerfile.js @Gousto/frontend-foundations @Gousto/squad-radishes @Gousto/squad-haricots @Gousto/squad-turnips @Gousto/squad-rockets-frontend @Gousto/squad-beetroots
/.github/workflows/danger.yml @Gousto/frontend-foundations @Gousto/squad-radishes @Gousto/squad-haricots @Gousto/squad-turnips @Gousto/squad-rockets-frontend @Gousto/squad-beetroots

# frontend guild ownership
/src/apps/webclient/bower.json @Gousto/guild-frontend

# frontend-foundations ownership
/src/                                                   @Gousto/frontend-foundations
/package.json                                           @Gousto/frontend-foundations
/.dockerignore                                          @Gousto/frontend-foundations
/service.yml                                            @Gousto/frontend-foundations
/Dockerfile                                             @Gousto/frontend-foundations
/ansible/                                               @Gousto/frontend-foundations
/cloudformation/                                        @Gousto/frontend-foundations
/images/                                                @Gousto/frontend-foundations
/scripts/                                               @Gousto/frontend-foundations
/setup/                                                 @Gousto/frontend-foundations
/.circleci/                                             @Gousto/frontend-foundations
/.github/                                               @Gousto/frontend-foundations
/.gitignore                                             @Gousto/frontend-foundations
/.git-blame-ignore-revs                                 @Gousto/frontend-foundations
/src/apps/webclient/.bowerrc                            @Gousto/frontend-foundations
/src/apps/webclient/.eslintignore                       @Gousto/frontend-foundations
/src/apps/webclient/.eslintrc                           @Gousto/frontend-foundations
/src/apps/webclient/config/                             @Gousto/frontend-foundations
/src/apps/webclient/scripts/                            @Gousto/frontend-foundations
/src/apps/webclient/server/                             @Gousto/frontend-foundations
/src/apps/webclient/__tests__/.eslintrc                 @Gousto/frontend-foundations
/src/apps/webclient/src/routes/index.js                 @Gousto/frontend-foundations
/src/apps/webclient/src/_testing/                       @Gousto/frontend-foundations
/src/apps/webclient/src/store.js                        @Gousto/frontend-foundations
/tests/regression/cypress.json                          @Gousto/frontend-foundations

# squad-radishes ownership
/src/apps/webclient/src/components/FiveRecipesPaintedDoorTest          @Gousto/squad-radishes
/src/apps/webclient/src/routes/Menu/                                   @Gousto/squad-radishes
/src/apps/webclient/src/config/collections.js                          @Gousto/squad-radishes
/src/apps/webclient/src/config/menu.js                                 @Gousto/squad-radishes
/src/apps/webclient/src/config/recipes.js                              @Gousto/squad-radishes
/src/apps/webclient/src/containers/menu/                               @Gousto/squad-radishes
/src/apps/webclient/src/actions/basket.js                              @Gousto/squad-radishes
/src/apps/webclient/src/actions/__tests__/basket.test.js               @Gousto/squad-radishes
/src/apps/webclient/src/actions/boxSummary.js                          @Gousto/squad-radishes
/src/apps/webclient/src/actions/__tests__/boxSummary.test.js           @Gousto/squad-radishes
/src/apps/webclient/src/actions/menu.js                                @Gousto/squad-radishes
/src/apps/webclient/src/actions/__tests__/menu.test.js                 @Gousto/squad-radishes
/src/apps/webclient/src/actions/menuActionHelper.js                    @Gousto/squad-radishes
/src/apps/webclient/src/actions/__tests__/menuActionHelper.test.js     @Gousto/squad-radishes
/src/apps/webclient/src/actions/menuCollections.js                     @Gousto/squad-radishes
/src/apps/webclient/src/actions/__tests__/menuCollections.test.js      @Gousto/squad-radishes
/src/apps/webclient/src/actions/menuService.js                         @Gousto/squad-radishes
/src/apps/webclient/src/actions/__tests__/menuService.test.js          @Gousto/squad-radishes
/src/apps/webclient/src/actions/menuServiceLoadDays.js                 @Gousto/squad-radishes
/src/apps/webclient/src/actions/__tests__/menuServiceLoadDays.test.js  @Gousto/squad-radishes
/src/apps/webclient/src/actions/collections.js                         @Gousto/squad-radishes
/src/apps/webclient/src/actions/__tests__/collections.test.js          @Gousto/squad-radishes
/src/apps/webclient/src/actions/recipes.js                             @Gousto/squad-radishes
/src/apps/webclient/src/actions/__tests__/recipes.test.js              @Gousto/squad-radishes
/src/apps/webclient/src/actions/filters.js                             @Gousto/squad-radishes
/src/apps/webclient/src/actions/__tests__/filters.test.js              @Gousto/squad-radishes
/src/apps/webclient/src/reducers/basket.js                             @Gousto/squad-radishes
/src/apps/webclient/src/reducers/__tests__/basket.test.js              @Gousto/squad-radishes
/src/apps/webclient/src/reducers/boxSummary.js                         @Gousto/squad-radishes
/src/apps/webclient/src/reducers/__tests__/boxSummary.test.js          @Gousto/squad-radishes
/src/apps/webclient/src/reducers/collections.js                        @Gousto/squad-radishes
/src/apps/webclient/src/reducers/__tests__/collections.test.js         @Gousto/squad-radishes
/src/apps/webclient/src/reducers/filters.js                            @Gousto/squad-radishes
/src/apps/webclient/src/reducers/__tests__/filters.test.js             @Gousto/squad-radishes
/src/apps/webclient/src/reducers/menu.js                               @Gousto/squad-radishes
/src/apps/webclient/src/reducers/__tests__/menu.test.js                @Gousto/squad-radishes
/src/apps/webclient/src/reducers/menuService.js                        @Gousto/squad-radishes
/src/apps/webclient/src/reducers/__tests__/menuService.test.js         @Gousto/squad-radishes
/src/apps/webclient/src/reducers/recipes.js                            @Gousto/squad-radishes
/src/apps/webclient/src/reducers/__tests__/recipes.test.js             @Gousto/squad-radishes
/src/apps/webclient/src/selectors/basket.js                            @Gousto/squad-radishes
/src/apps/webclient/src/selectors/__tests__/basket.test.js             @Gousto/squad-radishes
/src/apps/webclient/src/selectors/boxSummary.js                        @Gousto/squad-radishes
/src/apps/webclient/src/selectors/__tests__/boxSummary.test.js         @Gousto/squad-radishes
/src/apps/webclient/src/selectors/collections.js                       @Gousto/squad-radishes
/src/apps/webclient/src/selectors/__tests__/collections.test.js        @Gousto/squad-radishes
/src/apps/webclient/src/selectors/filters.js                           @Gousto/squad-radishes
/src/apps/webclient/src/selectors/__tests__/filters.test.js            @Gousto/squad-radishes
/src/apps/webclient/src/selectors/recipe.js                            @Gousto/squad-radishes
/src/apps/webclient/src/selectors/__tests__/recipe.test.js             @Gousto/squad-radishes
/src/apps/webclient/src/selectors/menu.js                              @Gousto/squad-radishes
/src/apps/webclient/src/selectors/__tests__/menu.test.js               @Gousto/squad-radishes
/src/apps/webclient/src/utils/basket.js                                @Gousto/squad-radishes
/src/apps/webclient/src/utils/__tests__/basket.test.js                 @Gousto/squad-radishes
/src/apps/webclient/src/utils/boxSummary.js                            @Gousto/squad-radishes
/src/apps/webclient/src/utils/collections.js                           @Gousto/squad-radishes
/src/apps/webclient/src/utils/menu.js                                  @Gousto/squad-radishes
/src/apps/webclient/src/utils/menuService.js                           @Gousto/squad-radishes
/src/apps/webclient/src/utils/__tests__/menuService.test.js            @Gousto/squad-radishes
/src/apps/webclient/src/utils/recipe.js                                @Gousto/squad-radishes
/src/apps/webclient/src/utils/__tests__/recipe.test.js                 @Gousto/squad-radishes
/src/apps/webclient/src/containers/OptimizelyRollouts/                 @Gousto/squad-radishes
/src/apps/webclient/src/routes/OrderConfirmation/                      @Gousto/squad-radishes

# squad-haricots ownership
/src/apps/webclient/src/actions/__tests__/getHelp.test.js                          @Gousto/squad-haricots
/src/apps/webclient/src/middlewares/tracking/snowplow/__tests__/getHelp.test.js    @Gousto/squad-haricots
/src/apps/webclient/src/actions/getHelp.js                                         @Gousto/squad-haricots
/src/apps/webclient/src/apis/__mocks__/getHelp.js                                  @Gousto/squad-haricots
/src/apps/webclient/src/apis/__tests__/getHelp.test.js                             @Gousto/squad-haricots
/src/apps/webclient/src/apis/getHelp.js                                            @Gousto/squad-haricots
/src/apps/webclient/src/components/BottomBar/                                      @Gousto/squad-haricots
/src/apps/webclient/src/components/CookieBanner/                                   @Gousto/squad-haricots
/src/apps/webclient/src/components/Login/                                          @Gousto/squad-haricots
/src/apps/webclient/src/middlewares/tracking/snowplow/getHelp                      @Gousto/squad-haricots
/src/apps/webclient/src/reducers/__tests__/getHelp.test.js                         @Gousto/squad-haricots
/src/apps/webclient/src/reducers/getHelp.js                                        @Gousto/squad-haricots
/src/apps/webclient/src/routes/ResetPassword/                                      @Gousto/squad-haricots
/src/apps/webclient/src/routes/Account/MyGousto/Header                             @Gousto/squad-haricots
/src/apps/webclient/src/routes/GetHelp/                                            @Gousto/squad-haricots
/src/apps/webclient/src/selectors/__tests__/getHelp.test.js                        @Gousto/squad-haricots
/src/apps/webclient/src/selectors/getHelp.js                                       @Gousto/squad-haricots
/tests/regression/fixtures/getHelp/                                                @Gousto/squad-haricots

# squad-turnips ownership
/src/apps/webclient/src/containers/Experiments/                         @Gousto/squad-turnips
/src/apps/webclient/src/reducers/cookbookRecipes.js                     @Gousto/squad-turnips
/src/apps/webclient/src/routes/Ratings/                                 @Gousto/squad-turnips

# squad-rockets ownership
/src/apps/webclient/src/routes/Account/                                 @Gousto/squad-rockets-frontend
/src/apps/webclient/src/routes/Welcome/                                 @Gousto/squad-rockets-frontend
/src/apps/webclient/src/routes/Join/                                    @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/loggingmanager.js                       @Gousto/squad-rockets-frontend
/src/apps/webclient/src/apis/loggingManager.js                          @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/__tests__/loggingmanager.test.js        @Gousto/squad-rockets-frontend
/src/apps/webclient/src/apis/__tests__/loggingManager.test.js           @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/user.js                                 @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/__tests__/user.test.js                  @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/subscription.js                         @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/__tests__/subscription.test.js          @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/subscriptionPause.js                    @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/__tests__/subscriptionPause.test.js     @Gousto/squad-rockets-frontend
/src/apps/webclient/src/reducers/subscriptionPause.js                   @Gousto/squad-rockets-frontend
/src/apps/webclient/__tests__/reducers/subscriptionPause.test.js        @Gousto/squad-rockets-frontend
/src/apps/webclient/src/reducers/subscription.js                        @Gousto/squad-rockets-frontend
/src/apps/webclient/__tests__/reducers/subscription.test.js             @Gousto/squad-rockets-frontend
/src/apps/webclient/src/apis/__tests__/subscription.test.js             @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/__tests__/tastePreferences.test.js      @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/tastePreferences.js                     @Gousto/squad-rockets-frontend
/src/apps/webclient/src/apis/tastePreferences.js                        @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/welcome.js                              @Gousto/squad-rockets-frontend
/src/apps/webclient/src/containers/welcome/                             @Gousto/squad-rockets-frontend
/src/apps/webclient/src/apis/boxPrices.js                               @Gousto/squad-rockets-frontend
/src/apps/webclient/src/apis/__tests__/boxPrices.test.js                @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/auth.js                                 @Gousto/squad-rockets-frontend
/src/apps/webclient/src/actions/__tests__/auth.test.js                  @Gousto/squad-rockets-frontend
/src/apps/webclient/src/reducers/auth.js                                @Gousto/squad-rockets-frontend
/src/apps/webclient/__tests__/reducers/auth.test.js                     @Gousto/squad-rockets-frontend
/src/apps/webclient/src/apis/auth.js                                    @Gousto/squad-rockets-frontend
/src/apps/webclient/src/apis/__tests__/auth.test.js                     @Gousto/squad-rockets-frontend
/tests/regression/fixtures/welcome/                                     @Gousto/squad-rockets-frontend

# squad-beetroots ownership
/src/apps/webclient/src/routes/BoxPrices/                               @Gousto/squad-beetroots
/src/apps/webclient/src/routes/Checkout/                                @Gousto/squad-beetroots
/src/apps/webclient/src/routes/Signup/                                  @Gousto/squad-beetroots
/src/apps/webclient/src/routes/Home/                                    @Gousto/squad-beetroots
/src/apps/webclient/src/routes/Payment/                                 @Gousto/squad-beetroots
/src/apps/webclient/src/routes/ShowcaseMenu/                            @Gousto/squad-beetroots
/src/apps/webclient/src/layouts/CheckoutLayout/                         @Gousto/squad-beetroots
/src/apps/webclient/src/config/checkout.js                              @Gousto/squad-beetroots
/src/apps/webclient/src/config/promoCode.js                             @Gousto/squad-beetroots
/src/apps/webclient/src/config/home.js                                  @Gousto/squad-beetroots
/src/apps/webclient/src/config/signup.js                                @Gousto/squad-beetroots
/src/apps/webclient/src/apis/checkout.js                                @Gousto/squad-beetroots
/src/apps/webclient/src/apis/payments.js                                @Gousto/squad-beetroots
/src/apps/webclient/src/apis/__tests__/payments.test.js                 @Gousto/squad-beetroots
/src/apps/webclient/src/apis/__tests__/checkout.test.js                 @Gousto/squad-beetroots
/src/apps/webclient/src/actions/checkout.js                             @Gousto/squad-beetroots
/src/apps/webclient/src/actions/promos.js                               @Gousto/squad-beetroots
/src/apps/webclient/src/actions/signup.js                               @Gousto/squad-beetroots
/src/apps/webclient/src/actions/home.js                                 @Gousto/squad-beetroots
/src/apps/webclient/src/actions/__tests__/home.test.js                  @Gousto/squad-beetroots
/src/apps/webclient/src/actions/__tests__/checkout.test.js              @Gousto/squad-beetroots
/src/apps/webclient/src/actions/__tests__/signup.test.js                @Gousto/squad-beetroots
/src/apps/webclient/src/validations/card-checkout.js                    @Gousto/squad-beetroots
/src/apps/webclient/src/validations/address.js                          @Gousto/squad-beetroots
/src/apps/webclient/src/validations/delivery.js                         @Gousto/squad-beetroots
/src/apps/webclient/src/validations/ruleMessages.js                     @Gousto/squad-beetroots
/src/apps/webclient/src/validations/user.js                             @Gousto/squad-beetroots
/src/apps/webclient/src/validations/userAsync.js                        @Gousto/squad-beetroots
/src/apps/webclient/src/validations/util.js                             @Gousto/squad-beetroots
/src/apps/webclient/src/utils/checkout.js                               @Gousto/squad-beetroots
/src/apps/webclient/src/utils/forms.js                                  @Gousto/squad-beetroots
/src/apps/webclient/src/utils/schemaMarkup.js                           @Gousto/squad-beetroots
/src/apps/webclient/src/utils/signup.js                                 @Gousto/squad-beetroots
/src/apps/webclient/src/utils/url.js                                    @Gousto/squad-beetroots
/src/apps/webclient/src/utils/utm.js                                    @Gousto/squad-beetroots
/src/apps/webclient/src/utils/__tests__/forms.test.js                   @Gousto/squad-beetroots
/src/apps/webclient/src/utils/__tests__/schemaMarkup.test.js            @Gousto/squad-beetroots
/src/apps/webclient/src/utils/__tests__/url.test.js                     @Gousto/squad-beetroots
/src/apps/webclient/src/utils/__tests__/utm.test.js                     @Gousto/squad-beetroots
/src/apps/webclient/src/utils/__tests__/home.test.js                    @Gousto/squad-beetroots
/src/apps/webclient/src/utils/__tests__/signup.test.js                  @Gousto/squad-beetroots
/src/apps/webclient/src/utils/home.js                                   @Gousto/squad-beetroots
/src/apps/webclient/src/selectors/checkout.js                           @Gousto/squad-beetroots
/src/apps/webclient/src/selectors/payment.js                            @Gousto/squad-beetroots
/src/apps/webclient/src/selectors/tracking.js                           @Gousto/squad-beetroots
/src/apps/webclient/src/selectors/__tests__/checkout.test.js            @Gousto/squad-beetroots
/src/apps/webclient/src/selectors/__tests__/payment.test.js             @Gousto/squad-beetroots
/src/apps/webclient/src/selectors/__tests__/tracking.test.js            @Gousto/squad-beetroots
/src/apps/webclient/src/reducers/checkout.js                            @Gousto/squad-beetroots
/src/apps/webclient/src/reducers/payment.js                             @Gousto/squad-beetroots
/src/apps/webclient/src/reducers/signup.js                              @Gousto/squad-beetroots
/src/apps/webclient/src/reducers/__tests__/payment.test.js              @Gousto/squad-beetroots
/src/apps/webclient/src/reducers/__tests__/checkout.test.js             @Gousto/squad-beetroots
/tests/e2e/pages/signup.js                                              @Gousto/squad-beetroots
/tests/e2e/pages/home.js                                                @Gousto/squad-beetroots
/tests/e2e/pages/checkoutErrorV2.js                                     @Gousto/squad-beetroots
/tests/e2e/pages/checkoutV2.js                                          @Gousto/squad-beetroots
/tests/e2e/tests/systemTests/errorFlows/signup/                         @Gousto/squad-beetroots
/tests/e2e/tests/systemTests/flows/signup/                              @Gousto/squad-beetroots
/tests/regression/fixtures/payments/                                    @Gousto/squad-beetroots
/tests/regression/fixtures/checkout/                                    @Gousto/squad-beetroots
/src/apps/webclient/src/middlewares/tracking/dataLayerTracker/          @Gousto/squad-beetroots
