@value Mackerel, Basa, Bluecheese, Blackberry from 'styles/colors.css';
@value sizeSM from 'styles/typography.css';

.item {
    text-align: left;
    box-sizing: content-box;
}
.listItem {
    composes: item;
    position: relative;
    border-bottom: 1px solid Basa;
    padding: 0.325rem 0;
    &:last-of-type {
        border: none;
    }
}

.listItemWithBorder {
    composes: item;
    border: 1px solid Mackerel;
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

.listItemWithBlueBorder {
    composes: item;
    border: 2px solid Bluecheese;
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

.soldOutText {
    color: Mackerel;
    font-weight: 800;
    white-space: nowrap;
}

.extraInformation {
    margin-left: .75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.negativeMargin {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.surchargeAmountText {
    color: Blackberry;
    font-weight: 800;
    white-space: nowrap;
}

.perServingText {
    color: Blackberry;
    font-weight: 500;
    white-space: nowrap;
    font-size: sizeSM;
}

.labelContainer {
    cursor: pointer;
    margin: 0;
    display: flex;
}

.labelContainerSplit {
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
