@value Mackerel, Basa, Bluecheese from 'styles/colors.css';

.item {
    text-align: left;
    box-sizing: content-box;
}
.listItem {
    composes: item;
    position: relative;
    border-bottom: 1px solid Basa;
    padding: 0.325rem 0;
    &:last-of-type {
        border: none;
    }
}

.listItemWithBorder {
    composes: item;
    border: 1px solid Mackerel;
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

.listItemWithBlueBorder {
    composes: item;
    border: 2px solid Bluecheese;
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

.soldOutText {
    position: absolute;
    right: 1rem;
    color: Mackerel;
    font-weight: 800;
}
