@value ScreenXXSMin, ScreenSMMin from 'styles/screenSizes.css';
@value Blackberry from 'styles/colors.css';

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: Blackberry;
  z-index: 1;
}

.footerContent {
  @media ScreenXXSMin {
    white-space: nowrap;
    max-width: 20rem;
    flex-grow: 1;
  }
}

.footerContentWrapper {
  @media ScreenXXSMin {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
}

.footerErrorMessage {
  flex-grow: 1;

  @media ScreenXXSMin {
    margin-right: 1.5rem;
  }
}

.footerErrorMessage > div {
  @media ScreenXXSMin {
    margin-bottom: 0;
  }
}
