@value ScreenXXSMin from 'styles/screenSizes.css';
@value Blackberry from 'styles/colors.css';

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: Blackberry;
}

.footerContent {
  @media ScreenXXSMin {
    max-width: 20rem;
  }
}

.footerContentWrapper{
  @media ScreenXXSMin {
    display: flex;
    justify-content: flex-end;
  }
}
