.setDeliveryDateButton-desktop {
	width: 355px;
	margin-right: 93px;
}

.setDeliveryDateButton-mobile {
	width: 30%;
}

.fullWidth {
	width: 100%;
}

.mobile {
	composes: coButtonSegment from '../BoxSummaryButton/BoxSummaryButton.css';
	padding-left: 0;
	padding-right: 0;
}
