.widget {
	padding: 0;
	&--white {
		background-color: $color_gradient_1;
		.header-line-text {
			background-color: $color_gradient_1;
			@include font-heading-bold;
		}
	}
	&--eggshell {
		background-color: $color_background;
	}

	&:last-of-type {
		padding-bottom: 40px;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	h3.header-line {
		margin-bottom: 20px;
	}

	.container {
		& > div:first-of-type {
			margin-top: 40px;
		}
	}

	.container-no-padding {
		box-sizing: content-box;
		padding: 0;
	}
}
