@value ScreenXSMax, ScreenSMMax, ScreenMLMax from 'styles/screenSizes.css';

.tooltipWidth {
	@media ScreenSMMax {
		max-width: 150px;
	}
	@media ScreenXSMax {
		max-width: 100%;
	}
}

.tooltipMobileGrid {
	max-width: 120px;
}

.btnWrapper {
	composes: marginSMTop from 'sass-loader!styles/spacing.scss';

	flex: 1;
	font-weight: 700;
}

.btnCheckout {
	composes: marginMDLeftRight from 'sass-loader!styles/spacing.scss';
}

.segment {
	@media ScreenSMMax {
		max-height: 60px;
		height: 57px;
		line-height: 28px;
		padding-top: 0;
	}
}

.segmentSelected {
	@media ScreenSMMax {
		max-height: 60px;
		height: 57px;
		padding-top: 10px;
	}
}

.surcharge {
	composes: inlineBlock from 'styles/display.css';
}

.surchargeWrapped {
	@media ScreenSMMax {
		display: block;
		max-width: 145px;
		margin: 0 auto;
	}
}

.surchargeHidden {
	@media ScreenSMMax {
		display: none;
	}
}
