@value Bluecheese, White from 'styles/colors.css';

.container {
  position: absolute;
  z-index: 200;
}

.content {
  background-color: White;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.5);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.cta {
  margin-top: 20px;
  color: Bluecheese;
  font-weight: 600;
}
