@value comfortaaFontStack from 'styles/typography.css';
@value ScreenSMMax, ScreenSMMin from 'styles/screenSizes.css';

.foodBrandContainer {
  background: White;
}

.foodBrandTitleContainer {
  position: absolute;
  width: 100%;
  font-family: comfortaaFontStack;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  @media ScreenSMMin {
    padding-bottom: 0px;
    }
}

.foodBrandTitleContainerFixed {
  composes: foodBrandTitleContainer;
  background: White;
  position: fixed;
  top: 0;
  z-index: 11;
}

.foodBrandTitleContainer > h1 {
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  @media ScreenSMMin {
    font-size: 32px;
  }
}

.backButton {
  font-size: 13px;
  display: inline-flex;
  margin: auto 0;
  padding-left: 10px;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  white-space: pre;
  @media ScreenSMMin {
    font-size: 18px;
  }
}

.hideOnMobile {
  @media ScreenSMMax {
    display: none;
  }
}

.foodBrandDescription {
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding-top: 45px;
  @media ScreenSMMin {
    padding-top: 55px;
  }
}

.leftArrow {
  composes: fa-basic-class fa-fw fa-chevron-left from 'styles/vendor/font-awesome-module.css';
  padding-top: 2px;
  @media ScreenSMMin {
    padding-top: 4px;
  }
}
