@value sizeXL from 'styles/typography.css';
@value RadiusSM from 'styles/borders.css';
@value successColor from 'styles/forms.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value DarkHaricot, White, Blackberry, Radish from 'styles/colors.css';
@value inputHeight: 41px;

.inputContainer {
  composes: flex column flexGrow center from 'styles/flex.css';
}

.inputGroup {
  composes: flex from 'styles/flex.css';
  composes: paddingSMTop paddingXXSBottom from 'sass-loader!styles/spacing.scss';
  width: 100%;
}

.inputGroupRedesign {
  padding: 0 0 1rem;
  flex-direction: column;

  @media BreakpointFromMedium {
    padding-bottom: 1.5rem;
  }
}

.inputAddon {
  composes: flex column from 'styles/flex.css';
}

.hideCTA {
  display: none;
}

.inputBase {
  composes: input from 'styles/forms.css';
  height: inputHeight;
}

.input {
  composes: inputBase;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.inputRedesign {
  height: 3rem;
}

.discountLabel {
  composes: fontStyleSubHead from 'design-language/typography.css';
  margin-bottom: 0.5rem;
}

.inputError {
  composes: inputBase;
  composes: inputError from 'styles/forms.css';
}

.inputErrorRedesign {
  composes: inputError;
  border-color: Radish;
  border-width: 2px;
  background: White;
  color: Blackberry !important;
  composes: fontStyleBody from 'design-language/typography.css';
}

.inputSuccess {
  composes: inputBase;
  color: successColor !important;
  composes: inputSuccess from 'styles/forms.css';
}

.inputSuccessRedesign {
  composes: inputSuccess;
  composes: fontStyleBody from 'design-language/typography.css';
  border-width: 2px;
  border-color: DarkHaricot;
  background: White;
  color: Blackberry !important;
  position: relative;
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  top: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  right: 0.5rem;
  border: none;
  padding: 0;
}

.inputIconSuccess {
  background: url('routes/Checkout/Components/PromoCode/icon-success-tick.svg') center center /
    contain no-repeat;
}

.inputIconError {
  background: url('routes/Checkout/Components/PromoCode/icon-error-red.svg') center center / contain
    no-repeat;
}

.isHidden {
  display: none;
}

.applyButton {
  cursor: pointer;
  composes: paddingXSTopBottom paddingMDLeftRight from 'sass-loader!styles/spacing.scss';
  border-top-right-radius: RadiusSM;
  border-bottom-right-radius: RadiusSM;
  border-bottom-width: 0;
  max-height: none;
  height: inputHeight;
  line-height: inputHeight;
}

.buttonContainer {
  border: 0;
}

.removeButton {
  composes: applyButton;
  font-size: sizeXL;
}

.buttonRemove {
  border-width: 0;
}

.icon {
  composes: fa-basic-class fa-times from 'styles/vendor/font-awesome-module.css';
}

.successMsg {
  composes: msg from 'styles/forms.css';
}

.errorMsg {
  composes: errorMsg from 'styles/forms.css';
}
