@value BreakpointFromMedium from 'design-language/breakpoints.css';

.ctaContainer {
  margin-bottom: 1rem;
  background-color: #1e2c48;

  @media BreakpointFromMedium {
    max-width: 17.5rem;
  }

  button {
    background-color: #1e2c48;
  }
}
