@value White, Bluecheese, Black, Blackberry from 'styles/colors.css';
.arrowContainer {
    background-color: White;
    width: 2.5rem;
    text-align: center;
    margin-left: 0.325rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    position: relative;
    
    border-color: Bluecheese;
    color: Bluecheese;
}

.arrowDown {
    font-size: 24px;
    composes: fa-basic-class  fa-angle-down from 'styles/vendor/font-awesome-module.css';
}

.arrowUp {
    font-size: 24px;
    composes: fa-basic-class  fa-angle-up from 'styles/vendor/font-awesome-module.css';
}
