@value Pomegranate, White, Bluecheese from 'styles/colors.module.css';

.container {
  composes: paddingSMTopBottom from 'sass-loader!styles/spacing.scss';
  background: White;
  border-radius: 3px;
  border: 1px solid Pomegranate;
  padding: 16px 14px;
  margin: 0 24px;
  z-index: 2;
  display: grid;
  grid-template-columns: 18px 1fr;
  grid-column-gap: 10px;
}

.headerTitle,
.headerText {
  font-weight: 600;
  line-height: 21px;
}

.headerTitle {
  font-size: 20px;
}

.headerText {
  font-size: 15px;
}

.bodyText {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0px;
  padding-left: 17px;
}

.infoIcon {
  composes: fa-basic-class fa-info-circle from 'styles/vendor/font-awesome-module.css';
  color: Bluecheese;
  font-size: 18px;
}
