@value BreakpointToMedium, BreakpointFromMedium from 'design-language/breakpoints.css';

.customerCareDetails {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  flex-wrap: wrap;

  @media BreakpointFromMedium {
    flex-wrap: no-wrap;
  }
}

.customerCarePart {
  composes: fontStyleBody from 'design-language/typography.css';
  margin-right: 1rem;
  display: flex;
  align-items: center;

  @media BreakpointToMedium {
    margin-bottom: 0.5rem;
  }
}

.customerCareIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
