.container {
  margin-bottom: 1.5rem;
}

.header {
  composes: fontStyleSubHead from 'design-language/typography.css';
}

.messageContainer {
  composes: fontStyleBody from 'design-language/typography.css';
}
