@value White, RafBgDefault from 'styles/colors.css';
@value ScreenSMMin from 'styles/screenSizes.css';

.howItWorks {
  width: 100%;
  background-color: White;
  display: flex;
  padding-bottom: 100px;
  margin-bottom: -25px;
}
.howItWorksWrapper {
  width: 98%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  
  @media ScreenSMMin {
    flex-direction: row;
    width: 88%;
  }
}

.howItWorksStep {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.howItWorksStepIdx {
  font-family: Avenir;
  font-weight: bold;
  justify-content: left;
  display: flex;
  padding-left: 20px;
  @media ScreenSMMin {
    justify-content: center;
    padding-left: 0;
  }
}

.howItWorksStepIdx span {
  background-color: White;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: -15px;
  z-index: 10;
  @media ScreenSMMin {
    height: 50px;
    width: 50px;
  }
}

.howItWorksStepContent {
  justify-content: center;
  align-items: center;
  display: flex;
	background-color: RafBgDefault;
  height: 120px;
	width: 344px;
	border-radius: 3px;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,0.1);
  margin: 0 15px;
  padding: 0 15px;
  @media ScreenSMMin {
    width: 355px;
    height: 195px;
    padding: 0 30px;
  }
}

.howItWorksStepContent a {
  display: contents;
}