@value ScreenLGMin, ScreenMDMin, ScreenSMMin from 'styles/screenSizes.css';
@value Coconut, Mackerel from 'styles/colors.css';

.wrapper {
  padding: 0 16px;
  width: 100%;
}

.alternateBackground {
  background-color: Coconut;
}

.content {
  background-color: inherit;
  margin: 0 auto;
  max-width: 750px;
  padding: 1.5rem 0;

  @media ScreenMDMin {
    max-width: 970px;
  }

  @media ScreenLGMin {
    max-width: 1170px;
  }
}

.content:empty {
  display: none;
}

.title {
  background-color: inherit;
  position: relative;
  margin: 0 0 1.5rem;

  &:before {
    border-top: 1px solid Mackerel;
    top: 50%;
    left: 0;
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    margin-top: 2px;
  }
}

.titleText {
  background-color: inherit;
  position: relative;
  padding-right: 1rem;
}

h2.title {
  font-family: ComfortaaRegular, Helvetica, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;

  @media ScreenSMMin {
    font-size: 32px;
  }
}

h3.title {
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;

  @media ScreenSMMin {
    font-size: 24px;
  }
}
