@value NewGrey from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';

.whyGoustoContainer {
  max-width: 75rem;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0.75rem;

  @media BreakpointFromMedium {
    padding: 2.5rem 2rem 1.5rem;
  }
}

.title {
  margin-bottom: 1rem;

  @media BreakpointFromMedium {
    margin-bottom: 1.5rem;
  }
}

.priceSubTitle {
  margin: 0 auto 2.5rem;
  width: 100%;
  max-width: 31.5rem;

  @media BreakpointFromMedium {
    max-width: 36.5rem;
    margin-bottom: 2rem;
  }
}

.subTitle {
  color: NewGrey;
  composes: fontStyleBodyL from 'design-language/typography.css';
}

.pricePerServing {
  composes: fontBold from 'design-language/typography.css';
}


.CTAContainer {
  display: none;

  @media BreakpointFromMedium {
    display: block;
    max-width: 13rem;
    margin: 0 auto;
  }
}
