@value BreakpointFromMedium from 'design-language/breakpoints.module.css';

.whyGoustoContainer {
  max-width: 75rem;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0.75rem;

  @media BreakpointFromMedium {
    padding: 2.5rem 2rem 1.5rem;
  }
}

.pricePerServing {
  composes: fontBold from 'design-language/typography.module.css';
}

.CTAContainer {
  display: none;

  @media BreakpointFromMedium {
    display: block;
    max-width: 17.5rem;
    margin: 0 auto;
  }
}
