@value bodyFontStackNormal, axiformaFontStack, sizeSM, sizeXS from 'styles/typography.css';

.doubleDeckerCount {
  padding: 3px 6px;
  text-align: center;
  font-size: sizeXS;
  font-family: axiformaFontStack;
}

.count {
  margin-left: 10px;
  vertical-align: text-bottom;
  padding: 3px 6px;
  border-radius: 10px;
  background-color: #eaebec;
  text-align: center;
  font-size: sizeSM;
  font-family: bodyFontStackNormal;
}
