@value BreakpointFromMedium, BreakpointToLarge, BreakpointFromLarge from 'design-language/breakpoints.css';
@value BreakpointToSmall from 'styles/appBreakpoints.css';

.buttonContainer {
  margin: 0;

  /*
   Override strange behavior of citrus/Button: non-hovered disabled state
   doesn't have a border while hovered state does, which leads to layout
   jumping 2 pixels when a disabled Checkout button is hovered.

   Should be removed after the following bug is fixed:
   https://github.com/Gousto/citrus/issues/299
   */
  & > button[disabled]:hover {
    border-width: 0;
  }

  /*
    Reduce paddings on 320..374 so that all contents fit; again something that
    citrus/Button doesn't allow to customize directly.
   */
  @media BreakpointToSmall {
    button {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.isFullWidth {
  width: 100%;
}

.checkoutLabel {
  margin-right: 0.75rem;
}
