.headerRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.header {
  composes: textBold from 'styles/typography.css';
}

.currentAddress {
  margin-bottom: 1rem;
}

.currentAddress p {
  font-size: 0.875rem;
  margin-bottom: 0;
}
