@value Blackberry, DarkRadish, Radish, White, Bluecheese from 'styles/colors.css';
@value sizeXS, bodyFontStackBold from 'styles/typography.css';

.circle {
	composes: absolute from 'styles/position.css';
	right: 0.25rem;
	min-width: 3.5rem;
	height: 2.5rem;
	background-color: Blackberry;
	border-radius: 1.25rem 1.25rem 0 0;
}

.iconMobile {
	composes: circle;
	composes: textCenter from 'styles/typography.css';
	composes: relative from 'styles/position.css';
	color: White;
	padding: 0.5rem;
	margin-bottom: 0;
	margin-top: -2.25rem;
}

.arrowDown {
	composes: fa-basic-class  fa-chevron-down from 'styles/vendor/font-awesome-module.css';
}

.arrowUp {
	composes: fa-basic-class  fa-chevron-up from 'styles/vendor/font-awesome-module.css';
}
