@value HaricotLight, Haricot from 'styles/colors.module.css';
@value BreakpointToMedium, BreakpointFromMedium from 'design-language/breakpoints.module.css';
@value borderRadius 3px;

.container {
  text-align: left;
  width: 100%;

  @media BreakpointFromMedium {
    width: 500px;
  }
}

.backgroundHeader {
  grid-area: backgroundHeader;
  background-image: url('../../../../../../media/images/pause-osr-modal-bg.jpg');
  background-size: contain;
  padding-bottom: 56.25%;
  width: 100%;
}

.header {
  composes: fontStyleL from 'design-language/typography.module.css';
  margin: 0 0 16px;
}

.bodyContainer {
  padding: 16px;

  @media BreakpointFromMedium {
    padding: 24px;
  }
}

.subHeader {
  composes: fontStyleM from 'design-language/typography.module.css';
  margin: 0;
}

.discountDetails {
  display: flex;
  align-items: center;
  background-color: HaricotLight;
  border-radius: borderRadius;
  width: 100%;
  margin-bottom: 32px;
  padding: 16px;

  .discountIconContainer {
    background-color: Haricot;
    border-radius: borderRadius;
    width: 56px;
    height: 56px;
    padding: 0.75rem;
    margin-right: 16px;

    .discountIcon {
      width: 2rem;
      height: 2rem;
    }
  }

  @media BreakpointFromMedium {
    margin-bottom: 48px;
  }
}

.discountDetailsSubscriberPricing {
  margin-bottom: 1rem;
}

.ctaContainer {
  text-align: center;
  grid-area: fixedToBottom;
  display: flex;
  flex-direction: column;
}

.keepCta {
  margin-bottom: 1rem;
}
