@value Basa, Bluecheese from 'styles/colors.css';
@value ScreenXSMax, ScreenSMMax from 'styles/screenSizes.css';
@value SpacingMD, SpacingLG, SpacingXL, SpacingXXL from 'sass-loader!styles/spacing.scss';

.bold {
	composes: textBold from 'styles/typography.css';
}

.header {
	margin-bottom: SpacingLG;
}

.editDeliveryOuterContainer {
	margin-left: calc(0px - SpacingXL);
	margin-right: calc(0px - SpacingXL);
	background-color: Basa;
	border-radius: 3px;
	@media ScreenXSMax {
		border-radius: 0px;
		margin-left: calc(0px - SpacingMD);
		margin-right: calc(0px - SpacingMD);
	}
}

.editDeliveryInnerContainer {
	width: 100%;
	padding: SpacingXL;
	@media ScreenXSMax {
		padding: SpacingMD;
	}
}

.row {
	display: flex;
	margin-bottom: SpacingXXL;
	@media ScreenSMMax {
		display: block;
	}
}

.firstDropDownContainer {
	@media ScreenSMMax {
		margin-bottom: SpacingLG;
	}
}

.daysDropDown {
	width: 240px;
	margin-right: SpacingLG;
}

.slotsDropDown {
	width: 235px;
}

.button {
	padding-top: SpacingLG;
	@media ScreenXSMax {
		display: flex;
		justify-content: flex-end;
	}
}

.firstButton {
	margin-right: SpacingLG;
}

.addAddressSection {
	display: flex;
	padding: SpacingMD 0px;
	cursor: pointer;
}

.addIcon {
	color: Bluecheese;
	font-size: 14px;
	composes: fa-basic-class fa-plus from 'styles/vendor/font-awesome-module.css';
	padding-right: 14px;
	align-self: center;
}

.addText {
	color: Bluecheese;
	font-size: 16px;
	composes: textBold from 'styles/typography.css';
}
