@value Bluecheese, Blackberry, Oyster from 'styles/colors.module.css';
@value BreakpointFromMedium, BreakpointFromLarge, BreakpointToMedium from 'design-language/breakpoints.css';

.breadcrumbsList {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.listItem {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.futureItem {
  color: #516272;
  pointer-events: none;
  cursor: default;
  border-bottom: 1px solid transparent;
  padding-top: 0.25rem;
}
