@value ScreenXSMax, ScreenSMMin from 'styles/screenSizes.css';
@value White, Mushroom50 from 'styles/colors.css';

.fullHeight {
	composes: absolute from 'styles/position.css';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.container {
	composes: relative from 'styles/position.css';
	composes: container from 'sass-loader!styles/bootstrap.scss';
	top: 10%;
	z-index: 1000;
	background-color: Mushroom50;
	max-width: 800px;

	@media ScreenXSMax {
		width: 100%;
	}
}

.image {
	overflow: hidden;
	padding: 0 15px;
	width: 100%;
}

.detailContainer {
	composes: flex from 'styles/display.css';
	flex-flow: column;
	padding: 0 15px;
	text-align: left;
}

.detailButtons {
	@media ScreenSMMin {
		order: 2;
	}
}

.productDetailsTitle {
	padding-top: 20px;
	padding-left: 15px;
	text-align: left;
	font-weight: 700;
	font-size: 24px;
}

.productDetailsContent {
	display: flex;
	flex-direction: column;
}
.productDetailsContentRow {
	display: flex;
	flex-direction: row;
}

.productDetailsAttributes {
	padding: 15px;
	text-align: left;
}
