@value Bluecheese, Bluecheese50, White from 'styles/colors.css';
@value sizeXXS from 'styles/typography.css';

.day {
	composes: relative from 'styles/position.css';
	composes: textBold from 'styles/typography.css';
	composes: bottomRightBorder from '../Calendar.css';
	color: Bluecheese;

	background: White;
	cursor: pointer;

	&:last-child {
		border-bottom-width: 0;
	}
}

.currentDay {
	composes: day;
	background: Bluecheese;
	color: White;
}

.emptyDay {
	composes: day;
	cursor: default;
	color: Bluecheese50;
}

.icon {
	composes: absolute from 'styles/position.css';
	font-size: sizeXXS;
	top: 2px;
	left: 2px;
	height: 10px;
	width: 10px;
}

.icon-full-box {
	composes: icon;
	background: url('media/svgs/icon_Booked-delivery-small.svg') center top no-repeat;
}

.icon-empty-box {
	composes: icon;
	background: url('media/svgs/icon_Scheduled-delivery-small.svg') center top no-repeat;
}

.currentDay .icon-full-box {
	position: absolute;
	font-size: sizeXXS;
	top: 2px;
	left: 2px;
	height: 10px;
	width: 10px;
	background: url('media/svgs/icon_Booked-delivery-small-inverted.svg') center top no-repeat;
}

.currentDay .icon-empty-box {
	position: absolute;
	font-size: sizeXXS;
	top: 2px;
	left: 2px;
	height: 10px;
	width: 10px;
	background: url('media/svgs/icon_Scheduled-delivery-small-inverted.svg') center top no-repeat;
}

.square {
	width: 100%;
	padding-bottom : 100%; /* = width for a 1:1 aspect ratio */
}

.content {
	position:absolute;
	height:100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
