@value BreakpointFromMedium from 'design-language/breakpoints.css';

.sectionContainer {
  margin-bottom: 1rem;

  @media BreakpointFromMedium {
    margin-bottom: 1.5rem;
  }
}

.sectionTitle {
  composes: fontStyleL from 'design-language/typography.css';
}

.hasMargin {
  margin-bottom: 0.5rem;
}

.sectionSubtitle {
  composes: fontStyleS from 'design-language/typography.css';
  margin: 0;
}
