@value ScreenMDMin, ScreenMDMax from 'styles/screenSizes.module.css';

.headingWrapper {
  display: flex;
  justify-content: space-between;
}

.headingLink {
  composes: defaultLinkStyle from 'design-language/anchor.module.css';
  font-weight: bold;
  line-height: 1.8;
  max-height: 1.75rem;
}

.cta {
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}

.cta:not(:first-child) {
  @media ScreenMDMin {
    margin-right: 0.5rem;
  }
}

.cta:not(:last-child) {
  @media ScreenMDMax {
    margin-bottom: 0.5rem;
  }
}

.ctasWrapper {
  width: 100%;

  @media ScreenMDMin {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
