@value White, BlueBase, BlueBaseDarker from 'styles/colors.css';

.ctaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px dashed #dbdbdb;
  background-color: White;
  height: 414px;
  border-radius: 10px;
}

.panIcon {
  height: 140px;
  width: 148px;
}

.ctaText {
  composes: comfortaa from 'styles/typography.css';
  padding-top: 38px;
  padding-bottom: 26px;
  font-size: 18px;
  font-weight: bold;
}

.ctaButton {
  width: 70%;
  height: 42px;
  border: none;
  border-radius: 3px;
  color: White;
  background-color: BlueBase;
  text-transform: uppercase;
  transition: background-color .3s;
}

.ctaButton:hover {
  background-color: BlueBaseDarker;
  cursor: pointer;
}
