@value Blackberry from 'styles/colors.module.css';

.orderStatus {
	composes: headerMD textBold from 'styles/typography.module.css';
	composes: marginZeroTopBottom, marginZeroLeftRight from 'sass-loader!styles/spacing.scss';
	color: Blackberry;
}
