@value Coconut, InYourBoxBg, White from 'styles/colors.css';
@value ScreenXSMax, ScreenSMMax, ScreenSMMin, ScreenXXSMax from 'styles/screenSizes.css';
@value BreakpointToMedium, BreakpointFromMedium, BreakpointFromXLarge from 'design-language/breakpoints.css';

.section {
	composes: paddingXXXXLTopBottom from 'sass-loader!styles/spacing.scss';
}

.inverseSection {
	composes: section;
	background-color: Coconut;
  &.homepageRedesign {
    &.testimonials-section {
      background-color:White;
    }
  }
}

.inverseSectionSignupOverride {
	padding-top: 250px;

	@media ScreenSMMin {
		padding-top: 80px;
	}

  &.homepageRedesign {
    @media BreakpointFromMedium {
      padding-top: 5rem;
    }

    @media BreakpointToMedium {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}

.sectionContainer {
	position: relative;
}

.heroSection {
	display: inline;
}

.heroSectionRedesign {
  @media BreakpointToMedium {
    min-height: 689px;
    display: block;
  }
}

.whatsInYourBox-section {
	padding: 0px 0px 20px 0px;
	background: url('routes/Home/InYourBox/unboxing-x1200.jpg') no-repeat InYourBoxBg;
	background-position: 100% bottom;
	background-size: auto 100%;

  &.homepageRedesign {
    background: url('routes/Home/InYourBox/unboxing-redesign-mobile.jpg') center top / contain no-repeat;

    @media BreakpointFromMedium {
      max-height: 622px;
      background: url('routes/Home/InYourBox/unboxing-redesign.jpg') center center / cover no-repeat;
      padding-top: 0;
    }
  }

	@media (width <= 1215px) {
		background-position: calc(100% + 150px) bottom;
	}

	@media ScreenSMMax {
		background-image: url('routes/Home/InYourBox/unboxing-x543.jpg');
		height: calc(100% - 52px);
		background-position: center top;
		background-size: contain;
		padding-top: 83%;
		padding-bottom: 0;
		background-color: White;
	}

	@media ScreenXXSMax {
		background: url('routes/Home/InYourBox/unboxing-x543.jpg') no-repeat center top;
		background-size: 100%;
	}
}

.recipes-section, .subscription-section {
  &:not(.homepageRedesign) {
    @media ScreenXSMax {
      padding-bottom: 90px;
    }
  }
}

.testedAndLovedBy-section {
	padding-top: 0;
	padding-bottom: 0;
}

.emailForm-section {
	padding-top: 0;
	padding-bottom: 0;
}
