@value sizeMD from 'styles/typography.module.css';
@value Black from 'styles/colors.module.css';

.categoryCarousel {
  overflow: hidden;
  height: 400px;
}

.categoryDetails {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 0.5rem;
}

.categoryTitle {
  color: Black;
  font-size: sizeMD;
  font-weight: bold;
}

.categoryViewAllLink {
  margin-left: auto;
}

.categoryCarouselInner {
  overflow-y: hidden;
  overflow-x: auto;
  height: 380px;
  -webkit-overflow-scrolling: touch;
}

.categoryCarouselRecipes {
  display: flex;
}

.categoryCarouselRecipeOuter {
  min-width: 230px;
  margin: 0.5rem;
}
