@value sizeLG, sizeSM from 'styles/typography.module.css';
@value FontFamilyAxiformaBook, FontWeightBold from 'design-language/typography.module.css';
@value Black from 'styles/colors.module.css';

.categoryCarousel {
  overflow: hidden;
}

.categoryDetails {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0.75rem 0.75rem 0.5rem;
}

.categoryTitle {
  color: Black;
  font-size: sizeLG;
  font-family: FontFamilyAxiformaBook;
  font-weight: FontWeightBold;
}

.categoryViewAllLink {
  margin-left: auto;
  font-family: FontFamilyAxiformaBook;
  font-weight: FontWeightBold;
  font-size: sizeSM;
}

.categoryCarouselInner {
  overflow-y: hidden;
  overflow-x: auto;
  height: 374px;
  -webkit-overflow-scrolling: touch;
}

.categoryCarouselRecipes {
  display: flex;
  padding: 0 0.5rem;
}

.categoryCarouselRecipeOuter {
  min-width: 230px;
  margin: 0.75rem 0.25rem;
}

.categoryDescription {
  padding: 0 0.75rem;
  margin: 0;
  font-family: FontFamilyAxiformaBook;
 }
