.categoryCarousel {
  overflow: hidden;
  height: 360px;
}

.categoryCarouselInner {
  overflow-y: hidden;
  overflow-x: auto;
  height: 380px;
	-webkit-overflow-scrolling: touch;
}

.categoryCarouselRecipes {
  display: flex;
}

.categoryCarouselRecipeOuter {
  min-width: 244px;
  margin-left: 0.5rem;
}

.categoryCarouselRecipeOuter:last-child {
  padding-right: 1rem;
}