@value Bluecheese, BluecheeseLighter, White, Pomegranate, Mackerel, Cauliflower, DarkCauliflower from 'styles/colors.css';
@value headingFontWeightBold from 'styles/typography.css';

.shortlistButton {
  composes: marginSMTop from 'sass-loader!styles/spacing.scss';
  flex: 1;
  margin-right: 0.5rem;
  padding: 0;
  border: 1px solid Bluecheese;
  border-radius: 3px;
  text-align: center;
  position: relative;
  background: White;
  color: Bluecheese;
}

.shortlistButton:disabled {
  background: Mackerel;
  border-color: Bluecheese;
}

.shortlistButton:disabled .shortlistText {
  color: Bluecheese;
}

.shortlistButton.shortlisted {
  background: BluecheeseLighter;
}

.checkmark {
  width: 0.75rem;
  height: 0.5rem;
  margin-left: 0.5rem;
}

.shortlistText {
  text-transform: uppercase;
  color: Bluecheese;
  font-weight: headingFontWeightBold;
  vertical-align: middle;
}
