@value Bluecheese, White, Pomegranate, Mackerel from 'styles/colors.css';

.blueHeartButton {
  margin-top: 1rem;
  margin-right: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid Bluecheese;
  border-radius: 3px;
  text-align: center;
  position: relative;
  background: White;
}

.defaultDetailView {
  margin-right: 0;
  margin-left: 1rem;
  margin-bottom: 0.4rem;
}

.redHeartButton {
  composes: blueHeartButton;
  border: 1px solid Pomegranate;
  background: #FFF0F1;
}

.greyHeartButton {
  composes: blueHeartButton;
  border: 1px solid Bluecheese;
  background: Mackerel;
}

.heartIcon {
  height: 1rem;
  width: 1.125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
