@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value CG-200 #AEB7C0;
@value CG-600 #516272;
@value CG-800 #333D47;
@value W-0 #FFFFFF;

.strikedOutPrice {
  display: inline-block;
  text-decoration: line-through;
  margin-right: 0.25rem;
  composes: fontStyleXS from 'design-language/typography.module.css';
  color: CG-200;

  @media BreakpointFromMedium {
    color: CG-600;
  }
}

.primaryPrice {
  composes: fontStyleBodyL from 'design-language/typography.module.css';
  composes: fontSemiBold from 'design-language/typography.module.css';

  color: W-0;
  @media BreakpointFromMedium {
    color: CG-800;
  }
}
