@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value FS-800 #008610;
@value FS-200 #9CDC9E;

.priceAndDiscountTip {
  color: FS-200;
  composes: fontStyleXS from 'design-language/typography.css';

  /* Make sure it's positioned over the blurredBackground which has position: absolute. */
  position: relative;

  @media BreakpointFromMedium {
    color: FS-800;

    /* When in button, override default centering. */
    text-align: start;

    /* Space between the information and the arrow. */
    margin-right: 1rem;
  }
}

.bold {
  composes: fontSemiBold from 'design-language/typography.css';
}
