.appDetails {
  align-items: center;
  display: flex;
  flex: 1;
  padding: 0.5rem 0;
  text-align: left;
}

.appIcon {
  flex: 0 0 auto;
  height: 50px;
  width: 50px;
  margin-right: 0.5rem;
}

.platformSpecificDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rating{
  white-space: nowrap;
}

.ratings {
  animation: ratingsAnimation 0.3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  opacity: 0;
  color: Mackerel;
}

.star {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  animation: starAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
  transform: scale(0);

  &:nth-child(1) { animation-delay: 1.8s }
  &:nth-child(2) { animation-delay: 1.9s }
  &:nth-child(3) { animation-delay: 2s }
  &:nth-child(4) { animation-delay: 2.1s }
  &:nth-child(5) { animation-delay: 2.2s }
}

@keyframes ratingsAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes installCTAAnimation {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes starAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  70% {
    opacity: 0.7;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
