@value ScreenXSMax, ScreenSMMin from 'styles/screenSizes.css';

.animation {
	composes: absolute from 'styles/position.css';
	composes: fadeIn from 'styles/effects.css';

	@media ScreenSMMin {
		transition: opacity 0.3s ease-in-out;
	}
}

.fadeOutAnimation {
	composes: animation;
	opacity: 0;
}

.content {
	composes: relative from 'styles/position.css';
	width: 100%;
	max-width: 100vw;
	height: 100%;
	overflow-x: hidden;
	z-index: 1002;
	transition: transform 0.2s ease-in-out;
}

.overlayContent {
	min-height: 100vh;
}

.contentFromright {
	composes: content;
	composes: slideInFromRight from 'styles/effects.css';
}

.contentSlideOutFromright {
	composes: contentFromright;
	transform: translateX(100%);
}

.contentFromleft {
	composes: content;
	composes: slideInFromLeft from 'styles/effects.css';
}

.contentSlideOutFromleft {
	composes: contentFromleft;
	transform: translateX(-100%);
}

.contentFrombottom {
  composes: content;
  composes: slideInFromBottom from 'styles/effects.css';

  .beforeClose & {
    transform: translate(0, 100%);
  }
}

.contentFromtop {
	composes: content;
	composes: slideInFromTop from 'styles/effects.css';
}

.contentSlideOutFrombottom {
	composes: contentFrombottom;
	transform: translateY(100%);
}

.contentSlideOutFromtop {
	composes: contentFromtop;
	transform: translateY(-100%);
}
