@value ScreenLGMin, ScreenMLMin, ScreenMDMax, ScreenSMMax from 'styles/screenSizes.css';

.recipeListContainer {
    display: flex;
    margin: 1rem;
    margin-right: 0;
    flex-direction: column;
}

.columnsContainer {
    display: flex;
}

.recipesColumn {
    flex-basis: 33%;
    margin-right: 1rem;

    @media ScreenLGMin {
        flex-basis: 20%;
    }
    @media ScreenMLMin {
        flex-basis: 25%;
    }
}
