@value ScreenLGMin, ScreenMDMin, ScreenMDMax, ScreenSMMax from 'styles/screenSizes.css';

.recipeListContainer {
    display: flex;
    margin: 1rem;
}

.recipesColumn {
    flex-basis: 33%;

    @media ScreenLGMin {
        flex-basis: 20%;
    }
    @media ScreenMDMin {
        flex-basis: 25%;
    }
}

.recipesColumn:nth-child(1),
.recipesColumn:nth-child(2) {
  margin-right: 1rem;
}

@media ScreenLGMin {
    .recipesColumn:nth-child(3),
    .recipesColumn:nth-child(4) {
         margin-right: 1rem;
    }
}

@media ScreenMDMin {
    .recipesColumn:nth-child(3) {
        margin-right: 1rem;
    }
}
