@value Bluecheese, Chia, Radish, White, Oyster, NewGrey from 'styles/colors.css';
@value avenirBookFontStack from 'styles/typography.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value FontFamilyAxiformaBook from 'design-language/typography.css';

.row {
  margin: 0;
}

.col {
  composes: marginSMTopBottom from 'sass-loader!styles/spacing.scss';
}

.colMD {
  composes: col;
  composes: col-md-8 col-xs-12 from 'sass-loader!styles/bootstrap.scss';
}

.colSM {
  composes: col;
  composes: col-md-4 col-xs-6 from 'sass-loader!styles/bootstrap.scss';
}

.commonLink {
  color: Bluecheese;
  border-bottom: 1px solid Oyster;
  text-decoration: none;
  composes: fontBold from 'design-language/typography.css';
  white-space: nowrap;
}

.link {
  composes: commonLink;
  composes: fontStyleS from 'design-language/typography.css';
}

.privacyPolicyLink {
  composes: commonLink;
  composes: fontStyleXS from 'design-language/typography.css';

  &:hover,
  &:active {
    text-decoration: none;
    color: Bluecheese;
  }
}

.header {
  composes: headerMD headlineFont from 'styles/typography.css';
  composes: inlineBlock from 'styles/display.css';
}

.emailLabelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowRight {
  composes: fa-basic-class fa-chevron-right from 'styles/vendor/font-awesome-module.css';
  font-size: 10px;
}

.textSM {
  composes: textSM from 'styles/typography.css';
  font-family: avenirBookFontStack;
}

.textSMNoMargin {
  composes: textSM;
  composes: noMargin from 'sass-loader!styles/spacing.scss';
}

.textXS {
  composes: textXS from 'styles/typography.css';
}

.boldInfo {
  composes: textSM;
  composes: textBold from 'styles/typography.css';
  float: right;
}

.labelWithMargin {
  color: Chia;
  composes: textMD textBold from 'styles/typography.css';
}

.label {
  composes: labelWithMargin;
  composes: noMargin from 'sass-loader!styles/spacing.scss';
}

.checkboxLabel {
  composes: fontStyleXS from 'design-language/typography.css';
}

.account {
  composes: fontStyleS from 'design-language/typography.css';
}

.infoSection {
  composes: marginMDTopBottom from 'sass-loader!styles/spacing.scss';
}

.eyeIcon {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.showPassword {
  background: url('media/svgs/icon-show-password.svg') center center / contain no-repeat;
}

.hidePassword {
  background: url('media/svgs/icon-hide-password.svg') center center / contain no-repeat;
}

.isHidden {
  display: none;
}
