@value avenirBookFontStack from 'styles/typography.css';

.framesContainer iframe {
    min-height: 100px;
}

.framesContainer input {
    font-weight: normal;
    font-family: avenirBookFontStack;
}

.framesContainer input::-webkit-input-placeholder {
    font-weight: normal;
    font-family: avenirBookFontStack;
}
