@value inputBorderColor, inputBorderColorFocus, errorBorderColor from 'styles/forms.css';
@value RadiusSM from 'styles/borders.css';

@value Bluecheese, Oyster, Radish from 'styles/colors.css';

:global #controllerFrame {
  width: 0 !important;
  height: 0 !important;
}

.framesForm {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 10px 0;
}

.cardNumberFramesContainer {
  flex: 1 100%;
  margin: 0 0 20px;
}

.expiryDateFramesContainer {
  flex: 1 50%;
  padding-right: 5px;
}

.cvvFramesContainer {
  flex: 1 50%;
  padding-left: 5px;
}

.framesContainer {
  composes: block from 'styles/display.css';
  composes: borderSM from 'styles/borders.css';
  composes: textLG from 'styles/typography.css';
  width: 100%;
  height: 41px;
  outline: none;
  visibility: hidden;
  border-color: inputBorderColor;

  iframe {
    font-weight: normal;
    /* duplicate border-radius because it's not inherited from the parent element */
    border-radius: RadiusSM;
  }

  &[class~="frame--activated"] {
    visibility: visible;
  }

  &:hover,
  &[class~="frame--focus"] {
    border-color: inputBorderColorFocus;
  }

  &[class~="frame--invalid"] {
    border-color: errorBorderColor;
  }
}

.iframeContainer {
  width: 100%;
  height: 3rem;
  border-radius: 3px;
  visibility: hidden;
  border: 1px solid Oyster;

  iframe {
    border-radius: 3px;
  }

  &[class~="frame--activated"] {
    visibility: visible;
  }

  &:hover {
    border-color: Bluecheese;
  }

  &[class~="frame--focus"] {
    border-color: Bluecheese;
    border-width: 2px;
  }

  &[class~="frame--invalid"] {
    border-color: Radish;
    border-width: 2px;
  }
}

.row {
  display: flex;
  margin-bottom: 1rem;
}

.fieldContainer {
  flex: 1;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.fieldWithIcon {
  position: relative;
}

.lockIconContainer {
  position: absolute;
  top: 0;
  right: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.lockIcon {
  /* media/svgs/icon-checkout-lock.svg */
  width: 24px;
  height: 24px;
}

.forceLineBreakOnSmallScreens {
  /* When Security Code (CVV) label displays on two rows, force the Expiry
   (MM/YY) display on two rows as well. This is a hack that depends on the
   labels and font sizes staying the same. */
  @media (min-width: 374px) {
    display: none;
  }
}

.cardNameHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.cardsIcon {
  composes: cardsIcon from '../PaymentMethodSelectorCheckoutOverhaul/PaymentMethodSelectorCheckoutOverhaul.css';
}
