@value Blueberry, Bluecheese from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.module.css';

.link {
  color: Bluecheese;
  text-decoration: underline;
  cursor: pointer;
  composes: fontBold from 'design-language/typography.css';

  &:hover {
    color: Blueberry;
  }
}

.termsAndConditions {
  text-align: center;
  composes: fontStyleXS from 'design-language/typography.css';
  margin-top: 1rem;

  @media BreakpointFromMedium {
    margin-top: 1.25rem;
  }
}
