@value Blueberry, Bluecheese from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.module.css';

.centeredSmallTextWithTopMargin {
  composes: textCenter textSM from 'styles/typography.css';
  composes: marginSMTop from 'sass-loader!styles/spacing.scss';
}

.link {
  color: Bluecheese;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: Blueberry;
  }
}

.checkoutOverhaulTermsAndConditions {
  composes: fontStyleXS from 'design-language/typography.css';
  margin-top: 1rem;

  @media BreakpointFromMedium {
    margin-top: 1.25rem;
  }
}

.checkoutOverhaulLink {
  composes: fontBold from 'design-language/typography.css';
}
