<?php
return array(
	'url' => 'http://{{ core_domain }}/',
	'debug-passthrough' => {{ debug_passthrough }},
	'ssl-verifypeer' => {{ api_verify_peer }},
	'ssl-verifyhost' => {{ api_verify_host }},
	'ssl-certificate' => {{ api_certificate or 'null' }},
	'token' => '{{ outbound_core_access_key }}'
);
