@value ScreenXSMax from 'styles/screenSizes.css';

.imageContainer {
	height:600px;
	width: auto;
	composes: relative from 'styles/position.css';
	margin: auto;
	composes: paddingZeroTopBottom paddingZeroLeftRight from 'sass-loader!styles/spacing.scss';
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	@media ScreenXSMax {
		height:200px;
	}
}
