@value sizeSM, sizeMD, sizeXS from 'styles/typography.css';
@value Blackberry, White from 'styles/colors.css';
@value ScreenXXSMax, ScreenSMMin from 'styles/screenSizes.css';
.purchaseInfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.surchageOnTop {
  flex-direction: column;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.surchargeInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 0.75rem;
  padding-top: 0.125rem;
  color: Blackberry;
}

.surchargeInfoRow {
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
  margin-right: 0;
}

.surchargeInfoIsFineDineIn {
  color: White;
}

.surchargeAmountText {
  font-weight: 600;
  white-space: nowrap;
  align-self: flex-end;
  font-size: sizeSM;
}

.perText {
  font-weight: 500;
  white-space: nowrap;
  font-size: sizeXS;
  line-height: sizeMD;
  padding-right: 0.25rem;
  @media ScreenXXSMax {
    display: none;
  }
}

.perServingText {
  font-weight: 500;
  white-space: nowrap;
  font-size: sizeXS;
  line-height: sizeMD;
  text-align: right;
  @media ScreenXXSMax {
    font-size: 12px;
    /* We don't have defined 12px font size */
  }
}

.spaceLeft {
  padding-left: 0.25rem;
}
