.order {
	composes: borderXS from 'styles/borders.css';
	composes: clearfix from 'styles/layout.css';
	padding: 15px 10px;
	background: White;
	border-radius: 0;
	margin-top: 30px;
	margin-bottom: 30px;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.calendar {
	composes: calendarIcon from 'styles/icons.css';
	display: inline;
	font-size: 30px;
}

.left, .right {
	display: block;
	float: left;
}

.left {
	width: 15%;
	padding-right: 3%;
	text-align: center;
	padding-top: 1.5%;
}

.right {
	width: 80%;
}

.infoLine:not(:first-child) {
	margin-top: 15px;
}
