// This config is required for the Jest tests to run
{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "node": "current"}}
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
