@value sizeXS from 'styles/typography.css';

.headerRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.header {
  composes: textBold from 'styles/typography.css';
}

.currentAddress {
  margin-bottom: 1rem;
}

.currentAddress p {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.newAddressLink {
  display: block;
  padding: 0.75rem 0;
  margin-bottom: 0.5rem;
}

.arrowRight {
  composes: fa-basic-class fa-chevron-right from 'styles/vendor/font-awesome-module.css';
  font-size: sizeXS;
}
