@value BreakpointFromMedium from 'design-language/breakpoints.module.css';

.expandableSection:not(:last-child) {
  padding-bottom: 1.5rem;
}

.expandedContent {
  @media BreakpointFromMedium {
    padding: 1rem 0 0;
  }
}

.ctaContainer {
  padding-top: 1rem;
}
