@value axiformaFontStack, sizeSM, sizeMD, sizeXS from 'styles/typography.css';
@value White, Blackberry from 'styles/colors.css';
@value ScreenLGMin, ScreenXSMax, ScreenMDMin, ScreenSMMin, ScreenSMMax, ScreenMDMax, ScreenXXSMax from 'styles/screenSizes.css';

.recipeTileContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: White;
    position: relative;
    height: 200px;
    margin: 0 0.5rem 0.5rem 0.5rem;
    @media ScreenSMMin {
        width: 48%;
        height: auto;
        flex-direction: column;
        margin: 0 1rem 1rem 0;
        height: auto;
    }

    @media ScreenMDMin {
        width: 30%;
        height: auto;
    }

    @media ScreenLGMin {
        width: 24%;
    }
}

.recipeTileContainer:nth-child(2n) {
    @media ScreenSMMin and ScreenSMMax {
        margin-right: 0;
    }
}

.recipeTileContainer:nth-child(3n) {
    @media ScreenMDMin and ScreenMDMax {
        margin-right: 0;
    }
}

.recipeTileContainer:nth-child(4n) {
    @media ScreenLGMin {
        margin-right: 0;
    }
}

.recipeTileInfo {
    margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    @media ScreenXSMax {
        margin: 0.75rem;
        height: auto;
        width: 35%;
    }
}

.titleWrapper {
    width: 100%;
    margin-bottom: 1rem;
}

.recipeTitle {
    font-family: axiformaFontStack;
    font-size: sizeXS;
    font-weight: 600;
    line-height: 1.6;
    @media ScreenSMMin {
        font-size: sizeMD;
    }
}
.recipeTileIsFineDineIn {
    background: Blackberry;
    color: White;
}

.recipeTileInfoShowVariantHeader {
    @media ScreenXSMax {
        padding-top: 1.5rem
    }
}

.recipeTileContainer:hover {
    box-shadow: 0 4px 14px 0 rgba(51,61,71,0.2);
    cursor: pointer;
}

.recipeTileContainer:hover .recipeTitle {
    text-decoration: underline;
}
