@value ScreenXSMax, ScreenSMMin from 'styles/screenSizes.css';

.row {
	display: flex;

	@media ScreenXSMax {
		justify-content: space-between;
	}
}

.inputTitle {
	composes: textBold from 'styles/typography.css';
	margin-bottom: 8px;
}

.formSection {
	margin-bottom: 25px;
}

.input {
	width: 155px;
}

.fullInput {
	width: auto;
}

.button {
	width: 140px;
	@media ScreenSMMin {
		margin-left: 15px;
	}
}

.buttonFirst {
	margin-left: 0;
}

.sliderSection {
	max-height: 150px;

	transition-property: all;
	transition-duration: .8s;
	transition-timing-function: cubic-bezier(0.36, -0.05, 1, 1.08);
}

.closed {
	max-height: 0;
	overflow-y: hidden;

}
