@value Pomegranate, White from 'styles/colors.css';

.navBarContainer {
	padding: 1rem;
	width: 15rem;
	height: 30rem;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
}

.item {
	composes: marginLGLeftRight from 'sass-loader!styles/spacing.scss';
	composes: paddingXSLeftRight from 'sass-loader!styles/spacing.scss';
	padding-bottom: 0.25rem;
	border-left: 4px solid transparent;
	white-space: nowrap;
	user-select: none;
	font-weight: normal;
	cursor: pointer;
	flex-shrink: 0;
}

.itemTitle {
	line-height: 2rem;
}

.currentItem {
	composes: item;
	color: Pomegranate;
	border-color: Pomegranate;
	font-weight: bold;
}
