@value ScreenXSMax from 'styles/screenSizes.css';

.bold {
	composes: textBold from 'styles/typography.css';
}

.header {
	display: flex;
	justify-content: space-between;
}

.subHeader {
	font-size: 1rem;
	padding-bottom: 0.315rem;
}

.dateTime {
	font-size: 0.875rem;
}

.button {
	@media ScreenXSMax {
		display: flex;
		justify-content: flex-end;
	}
}
