.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.content {
	composes: paddingXLTop from 'sass-loader!styles/spacing.scss';
	composes: textMD from 'styles/typography.css';

	flex: 1;
	text-align: left;
	line-height: 1.5em;
}

.bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media ScreenXSMax {
		flex-wrap: wrap;

		& > div {
			min-width: 100%;
			margin-top: 15px;
		}
	}
}
