@value Bronze from 'styles/colors.css';
@value ScreenXXSMin, ScreenMDMin, ScreenLGMin from 'styles/screenSizes.css';

.container {
	position: relative;
	background-color: Bronze;
}

.content {
	padding: 1rem 0 2.5rem;
}
