@value Bluecheese, DarkRadish from 'styles/colors.css';
@value SpacingSM, SpacingXS from 'sass-loader!styles/spacing.scss';
@value ScreenSMMin, HeightMDMax from 'styles/screenSizes.css';
@value sizeXS, sizeXL, avenirHeavyFontStack from 'styles/typography.css';

.title {
	composes: headerMD headlineFont textCenter from 'styles/typography.css';
}

.titleSection {
	font-family: avenirHeavyFontStack;
	font-size: sizeXL;
	composes: marginXSBottom from 'sass-loader!styles/spacing.scss';
}

.boldText {
	composes: textBold from 'styles/typography.css';
}

.row {
	composes: marginMDBottom from 'sass-loader!styles/spacing.scss';
}

.supportingText {
	composes: paragraphXS from 'styles/typography.css';
	composes: marginXSBottom marginSMTop from 'sass-loader!styles/spacing.scss';
}

.deliverySlotText {
	composes: textCenter paragraphMD textBold from 'styles/typography.css';
}

.dateText {
	composes: paragraphMD textCenter from 'styles/typography.css';
}

.textInput {
	width: 100%;
}

.clear {
	font-size: sizeXS;
	font-weight: bold;
	margin-right: SpacingSM;
	position: absolute;
	right: 0;
	text-transform: none;
}

.clearIcon {
	composes: fa-basic-class fa-pencil from 'styles/vendor/font-awesome-module.css';
	margin-right: 2px;
}

.rowSMMargin {
	composes: marginSMBottom from 'sass-loader!styles/spacing.scss';
}
.notAvailableText {
	composes: block from 'styles/display.css';
	composes: textXS from 'styles/typography.css';
	composes: marginMDTopBottom from 'sass-loader!styles/spacing.scss';
	color: DarkRadish;
}
.undoLink {
	color: Bluecheese;
	cursor: pointer;
}
.warningIcon {
	composes: fa-basic-class fa-warning fa-fw from 'styles/vendor/font-awesome-module.css';
}
.recipeItems {
	@media ScreenSMMin and HeightMDMax {
		overflow-y: auto;
		max-height: 170px;
	}
}

.limitedLength {
	composes: boldText;
	composes: inlineBlock from 'styles/display.css';
	composes: textCenter from 'styles/typography.css';
	composes: paddingMDLeftRight from 'sass-loader!styles/spacing.scss';
	width: 100%;
	height: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.limitedLengthPadding {
	composes: limitedLength;
	padding-right: 52px;
}

.spinner {
	width: 100%;
	display: flex;
	justify-content: center;
}
