@value NewGrey, Haricot, Coconut, White from 'styles/colors.css';
@value BreakpointFromLarge, BreakpointFromMedium, BreakpointFromXLarge from 'design-language/breakpoints.css';

.container {
  max-width: 100%;
  margin: 1rem 0 0;
  background-color: White;

  @media BreakpointFromMedium {
    margin: 1rem auto;
  }

  @media BreakpointFromLarge {
    max-width: 45%;
    margin: 1rem 0.75rem;
  }

  @media BreakpointFromXLarge {
    max-width: 40%;
  }

  > img {
    width: 100%;
  }
}

.boxWrapper {
  padding: 1rem 1.25rem 1rem;
  text-align: left;

  @media BreakpointFromMedium {
    padding: 1.5rem 2rem 1rem;
  }
}

.title {
  composes: fontStyleXL from 'design-language/typography.css';
}

.subtitle {
  composes: FontStyleBody from 'design-language/typography.css';
  color: NewGrey;
}

.boxInfoList {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  background-color: Coconut;
  text-align: center;

  @media BreakpointFromXLarge {
    justify-content: space-between;
  }
}

.portionsSign,
.deliverySign {
  composes: FontStyleBody from 'design-language/typography.css';
  text-align: center;
}

.portionsSign {
  margin-top: 0.5rem;
}

.deliverySign {
  margin: 1rem 0 0;
}

.list {
  margin: 1.5rem 0 2rem;
  padding: 0;
}

.listItem {
  list-style: none;
  composes: FontStyleBody from 'design-language/typography.css';
  margin-bottom: 0.5rem;
}

.tick {
  composes: fa-basic-class fa-fw fa-check from 'styles/vendor/font-awesome-module.css';
  margin-right: 0.5rem;
  color: Haricot;
}
