.hide {
  display: none;
}

.padlockIcon {
  composes: padlockIcon from 'styles/icons.css';
  padding: 0;
  margin-right: 4px;
}

.intro {
  composes: fontStyleBody from 'design-language/typography.css';
}
