@value SpacingMD from 'styles/spacing.css';
@value Bluecheese, Blueberry, Haricot from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.module.css';

.hide {
  display: none;
}

.transparent {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.padlockIcon {
  composes: padlockIcon from 'styles/icons.css';
  padding: 0;
  margin-right: 0.25rem;
}

.text {
  composes: fontStyleBody from 'design-language/typography.css';
  margin-bottom: SpacingMD;
}

.paypalContainer {
  width: 18rem;
  max-width: 100%;
}

.checkoutOverhaul {
  width: 100%;
  height: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.checkoutOverhaulPaypalContainer {
  height: 100%;
}

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payPalButtonVariation {
  margin-bottom: 1rem;

  @media BreakpointFromMedium {
    margin-bottom: 1.25rem;
  }
}
