@value Blackberry, DarkRadish, Radish, White from 'styles/colors.css';
@value SpacingXXS, SpacingSM from 'sass-loader!styles/spacing.scss';
@value ScreenSMMin, ScreenXSMax, ScreenMLMax from 'styles/screenSizes.css';

@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value CG-800 #333D47;

.bsButton {
  composes: inlineBlock from 'styles/display.css';
}

.overflowFix {
  overflow: visible;
  border-radius: 5px;
}

.summaryDesktopSegment {
  composes: inlineFlex verticalCenter from 'styles/flex.css';
  text-align: left;
  max-height: none;
  border-radius: 5px;
  padding-top: SpacingXXS;
  padding-bottom: SpacingXXS;
}

.summaryDesktopSegmentVariant {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: 3px;
  height: calc(3rem - 2px);
  max-height: none;
  padding: 0 0.75rem 0 0.75rem;
  min-width: 10rem;
}

.summaryDesktopSegmentVariant .arrowDown,
.summaryDesktopSegmentVariant .arrowUp {
  color: CG-800;
}

.badge {
  composes: noMargin from 'sass-loader!styles/spacing.scss';
  composes: paragraphXS textCenter from 'styles/typography.css';
  composes: absolute from 'styles/position.css';
  right: 0;
  top: 0;
  transform: translate(25%, -25%);
  width: 18px;
  line-height: 18px;
  color: White;
  background-color: Radish;
  border-radius: 20px;
}

.iconDesktop {
  composes: marginXSLeft from 'sass-loader!styles/spacing.scss';
  margin-left: 0;
  flex: 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonTextWrapper {
  /* Make sure it's positioned over the blurredBackground which has position: absolute. */
  position: relative;

  @media BreakpointFromMedium {
    margin-right: 1rem;
  }
}

.arrowDown {
  composes: fa-basic-class  fa-chevron-down from 'styles/vendor/font-awesome-module.css';
}

.arrowUp {
  composes: fa-basic-class  fa-chevron-up from 'styles/vendor/font-awesome-module.css';
}
