@value Blueberry, Bluecheese from 'styles/colors.css';
@value sizeXL, sizeMD from 'styles/typography.css';

.body {
	composes: marginXXLTop marginXLBottom marginXXLLeftRight from 'sass-loader!styles/spacing.scss';
	max-width: 490px;
}

.firstButton {
	margin-right: 20px;
}

.modalTitle {
	font-size: sizeXL;
	composes: axiforma from 'styles/typography.css';
}

.modalBodyText {
	font-size: sizeMD;
}
