@value Haricot, Blackberry, Pepper30 from 'styles/colors.css';
@value sizeMD, sizeXL, avenirHeavyFontStack from 'styles/typography.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value FS800 #008610;

.receiptLine {
	composes: paragraphMD from 'styles/typography.css';
	composes: flex spaceBetween from 'styles/flex.css';
	composes: marginXSBottom from 'sass-loader!styles/spacing.scss';
}

.label {
	white-space: nowrap;
}

.content {
	text-align: right;
}

.truncateLabel {
	composes: textTruncate from 'styles/typography.css';
}

.normal {
	font-size: sizeMD;
	font-weight: normal;
}

.checkoutNormal {
  font-size: 15px;
  margin-bottom: 0;
}

.primary {
	font-size: sizeMD;
	font-family: avenirHeavyFontStack;
	color: Haricot;
}

.checkoutPrimary {
  composes: fontStyleSubHead from 'design-language/typography.css';
  margin-bottom: 0;
  color: FS800;
}

.bold {
	font-size: sizeMD;
	font-family: avenirHeavyFontStack;
}

.checkoutBold {
  composes: fontStyleBodyL from 'design-language/typography.css';
  composes: fontBold from 'design-language/typography.css';
  margin-bottom: 1rem;

  @media BreakpointFromMedium {
    margin-bottom: 1.5rem;
  }
}

.highlighted {
	font-size: sizeMD;
}

.highlighted :local .label {
	align-self: flex-end;
	text-transform: uppercase;
}

.highlighted :local .content {
	color: Blackberry;
	font-size: sizeXL;
}

.horizontalLineAbove {
	border-bottom: 1px solid Pepper30;
	composes: marginXSTopBottom from 'sass-loader!styles/spacing.scss';
}

.checkoutLine {
  margin: 0.5rem 0;
}
