@value Bluecheese, Radish, Radish40 from 'styles/colors.css';

.flex {
	composes: flex rowWrap from 'styles/flex.css';
	composes: rowWrap flex from 'styles/flex.css';
}

.linkBase {
	composes: textSM from 'styles/typography.css';
	color: Bluecheese;
	text-decoration: underline;

	&:hover {
		cursor: pointer;
	}
}

.address {
	composes: marginXSTopBottom from 'sass-loader!styles/spacing.scss';
}

.addressToggle {
	float: right;
}

.errorMsg {
	color: Radish;
	composes: textXS from 'styles/typography.css';
	composes: paddingXXSTop from 'sass-loader!styles/spacing.scss';
}

.linkRight {
	composes: fa-chevron-right from 'styles/vendor/font-awesome-module.css';
	font-size: 10px;
}

.textSM {
	composes: textSM from 'styles/typography.css';
	composes: inlineBlock from 'styles/display.css';
}

.inputContainer {
	composes: marginSMTopBottom marginXSLeftRight from 'sass-loader!styles/spacing.scss';
}

.inputContainerInline {
	composes: inputContainer;
	composes: inlineBlock from 'styles/display.css';
	vertical-align: top;
}

.inputError {
	background-color: Radish40;
	border: solid 1px Radish;
}

.upperCase {
	composes: textUpper from 'styles/typography.css';
}

:global .deliveryDropdown select{
	width: 100%;
}
