@value Pomegranate, Blackberry from 'styles/colors.css';
@value bodyFontStackBold, bodyFontStackNormal from 'styles/typography.css';

.tooltip {
  color: Blackberry;
  font-family: bodyFontStackNormal;
}

.tooltipBody {
  text-align: left;
  width: 280px;
  margin: 0;
}

.title {
  color: Pomegranate;
  font-family: bodyFontStackBold;
  margin: 0;
  padding-right: 2rem;
}

.heartIcon {
  width: 1rem;
  height: 1rem;
  margin-bottom: -0.25rem;
  margin-left: 0.25rem;
}
