@value ScreenSMMax from 'styles/screenSizes.module.css';
@value avenirBookFontStack from 'styles/typography.module.css';

.infoContainer {
  composes: marginLGTopBottom from 'sass-loader!styles/spacing.scss';
}

.flex {
  composes: flex rowWrap from 'styles/flex.module.css';
  composes: rowWrap flex from 'styles/flex.module.css';
}

.iconFrequency {
  max-width: 60px;
  height: 60px;
  flex: 1 0 0%;
  margin-right: 10px;
}

.iconFrequencyDescription {
  flex: 2 0 0%;
  padding-top: 10px;
  @media ScreenSMMax {
    padding-top: 5px;
  }
}

.iconFrequencyText {
  composes: textSM from 'styles/typography.module.css';
  font-family: avenirBookFontStack;
}
