@value TrueBlack from 'styles/colors.css';

.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: TrueBlack;
  opacity: 0.4;
  z-index: 100;
}
