@value ScreenXSMax, ScreenSMMin from 'styles/screenSizes.css';
@value BreakpointFromMedium from 'design-language/breakpoints.module.css';
@value SpacingXS, SpacingMD from 'sass-loader!styles/spacing.scss';
@value Blueberry, Bluecheese, Parsley, Bronze, Blackberry from 'styles/colors.css';
@value sizeXXS from 'styles/typography.css';

@value imgLarge 80px;
@value imgSmall 60px;

.redesignContainer {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.redesignContainer:last-child {
  margin: 0 0 1rem 0;

  @media BreakpointFromMedium {
    margin-bottom: 1.5rem;
  }
}

p {
	margin-bottom: SpacingXS;
}

.boxdetailsImg {
	width: imgLarge;
	height: imgLarge;
	border-radius: 100%;
}

.redesignImg {
  border-radius: 0;
  width: imgSmall;
  height: imgSmall;

  @media BreakpointFromMedium {
    width: imgLarge;
    height: imgLarge;
  }
}

.summaryImg {
	width: imgSmall;
	height: imgSmall;
	border-radius: 100%;
}

.heading {
	color: Parsley;
}

.link {
	color: Bluecheese;

	&:hover {
		color: Blueberry;
		cursor: pointer;
		text-decoration: underline;
	}
}

.basics {
	composes: textSM from 'styles/typography.css';
}

.arrowRight {
	composes: fa-basic-class fa-chevron-right from 'styles/vendor/font-awesome-module.css';
}

.detailsRow {
	width: 100%;
}

.fineDineIn{
	background: Bronze;
	color: Blackberry;
	font-size: 12px;
	display: inline-block;
	border-radius: 4px;
	padding: 2px 5px;
	line-height: 18px;
	margin: 2px 0;
	vertical-align: middle;
}

.recipeContainer {
	composes: flex rowWrap from 'styles/flex.css';
	composes: marginLGLeft from 'sass-loader!styles/spacing.scss';
	width: calc(100% - 90px);
	@media ScreenSMMin {
		flex-flow: row;
	}
}

.redesignRecipeContainer {
  margin-left: 1rem;
}

.boxdetailsFlex {
	composes: row spaceBetween from 'styles/flex.css';
}

.summaryFlex {
	composes: column flexStart from 'styles/flex.css';
	margin-top: 0;
}

.recipeSubContainer, .receipeName {
	composes: flex from 'styles/flex.css';
	flex: 1 100%;
}

.staplesContainer {
	@media ScreenSMMin {
		flex: 1 100%;
	}
}

.details {
	composes: noMargin from 'sass-loader!styles/spacing.scss';
	flex: 1 100%;
}

.detailsRedesign {
  flex: 0 auto;
}

.recipeName {
	composes: column from 'styles/flex.css';
	align-content: flex-start;
  display: flex;
	@media ScreenSMMin {
		flex: 3 0;
	}
}

.textBold {
	composes: textBold from 'styles/typography.css';
}

.redesignRecipeName {
  composes: fontStyleSubHead from 'design-language/typography.css';
}

.textSM {
	composes: textSM from 'styles/typography.css';
}

.container {
	composes: row from 'sass-loader!styles/bootstrap.scss';
	composes: paddingSMTopBottom paddingMDLeftRight from 'sass-loader!styles/spacing.scss';
	composes: noWrap from 'styles/flex.css';
}

.strike {
	composes: textStrike from 'styles/typography.css';
	composes: paddingSMRight paddingSMRight from 'sass-loader!styles/spacing.scss';
}
