@import '../config/main';

.card-banner {
	background: $color_gradient_9;
	color: $color_gradient_1;
	@include font-text-bold;
	text-align: center;
	padding: 20px;
	font-size: 14px;
	line-height: 14px;
}

#card-banner-close {
	margin-top: -4px;
	opacity: 0.5;
}
