@import '../config/main';

.pagination-slider {
	font-size: 24px;
	@include font-heading-bold;
}

.pagination> .active>a,
.pagination> .active>span,
.pagination> .active>a:hover,
.pagination> .active>span:hover,
.pagination> .active>a:focus,
.pagination> .active>span:focus {
	background-color: $color_primary;
	border-color: $color_primary;
}
