@import '../config/main';

/***  Order summary box (Checkout, Order Confirmation & Farmshop) ***/

@media(max-width: 767px) {
	.ordersummary-fixedbottom-wrapper {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 15px;
		width: 100%;
		z-index: 1000;
		@include vendor-prefix(transition, all 0.25s ease-in-out);
		&.withcontent {
			height: 55px;
		}
		&.open {
			height: 100%;
			overflow-y: scroll;
			#ordersummary-box {
				border-top: 1px solid $color_border;
				padding-top: 40px;
			}
			.ordersummary-fixedbottom-box {
				height: 10px;
				width: 100%;
				position: fixed;
				top: 0;
				left: 0;
				background-color: $color_gradient_1;
				border-bottom: 1px solid $color_border;
				z-index: 1;
			}
		}
	}

	%ordersummary-basket-tab {
		@include font-text-bold;
		text-align: center;
		text-transform: uppercase;
		color: $color_primary;
		.glyphicon {
			font-size: 16px;
			top: 3px;
			left: 8px;
		}
	}
	.ordersummary-fixedbottom-openbtn {
		@extend %ordersummary-basket-tab;
		left: calc(50% - 72px);
		@include size(145px, 36px);
		background-color: $color_gradient_1;
		border-top-left-radius: $default-radius;
		border-top-right-radius: $default-radius;
		position: fixed;
		bottom: 12px;
		z-index: 1001;
		line-height: 34px;

		border-top: 3px solid darken($color_gradient_1, 10);
		border-left: 3px solid darken($color_gradient_1, 10);
		border-right: 3px solid darken($color_gradient_1, 10);

		@include vendor-prefix(transition, all 0.25s ease-in-out);

		&.withcontent {
			bottom: 52px;
		}
		&.scrollup {
			bottom: 600px; //fallback ios7
			bottom: calc(100vh + 30px);
		}
	}
	.ordersummary-fixedbottom-closebtn {
		@extend %ordersummary-basket-tab;
		left: calc(50% - 72px);
		@include size(145px, 30px);
		background-color: $color_gradient_1;
		border-left: 1px solid $color_border;
		border-right: 1px solid $color_border;
		border-bottom: 1px solid $color_border;
		border-bottom-left-radius: $default-radius;
		border-bottom-right-radius: $default-radius;
		position: fixed;
		top: 9px;
		z-index: 1;
	}
}

.ordersummary-box-border {
	padding: 0;
}

#ordersummary-box {
	background: $color_gradient_1;

	@media(max-width: 767px) {
		border-top: 3px solid darken($color_gradient_1, 10);
	}
	@media(min-width: 768px) {
		border-top: 5px solid darken($color_gradient_1, 10);
	}
}

.ordersummary-box-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.ordersummary-box-hr {
	border-top: 1px solid darken($color_gradient_1, 10);
}

.ordersummary-box-title {
	@include font-text-bold;
	color: $color_text;
	padding: 10px 10px 0px 10px;
	text-align: center;
	font-size: 18px;
}

.ordersummary-box-section-title {
	@include font-heading-bold;
	color: $color_gradient_10;
	font-size: 16px;

	&.pull-left {
		margin-top: 12px;
	}
}

.ordersummary-box-content {
	padding: 0px 20px 20px 20px;
}

.ordersummary-lines {
	margin-bottom: 15px;
	p {
		margin-bottom: 5px;
	}
}

.ordersummary-discount-box {
	border: 2px solid $color_secondary;
	background: $color_gradient_1;
	padding: 8px;
	margin: 8px -10px;
	color: $color_gradient_10;
}

.ordersummary-recipes {
	margin-top: 0px;
	margin-bottom: 15px;
	padding-left: 0px;
	list-style: none;
}

.ordersummary-addtitle {
	margin: 3px 0 3px 0;
	text-align: center;
}

.ordersummary-minirecipe {
	margin: 5px;
	padding: 0;
	@include size(36px);
	float: left;

	&.placeholder{
		padding: 6px;
		border: 1px solid $color_gradient_4;
		color: $color_gradient_7;
		font-size: 16px;
		text-align: center;
	}

	@media(max-width: 350px){
		margin: 5px 2px;
	}
}

.ordersummary-nextbtn {
	padding-left: 0;
	padding-right: 0;
	margin-top: 5px;
}

.ordersummary-recipe-icons {
	padding-left: 0;
	padding-right: 0;
}

.ordersummary-recipe {
	position: relative;
	background-color: $color_gradient_1;
	border-bottom: 2px solid $color_gradient_4;
	margin-bottom: 10px;
	picture {
		display: inline-block;
	}
	&.placeholder {
		border: 3px solid $color_gradient_4;
		text-transform: uppercase;
		text-align: center;
		background: none;
		padding: 10px 5px;
		color: $color_gradient_7;
		font-size: 10px;
		height: 40px;
		@include opacity(0.5);
		&.active {
			@include opacity(1);
		}
	}
}

.ordersummary-remove-recipe {
	position: absolute;
	top: 8px;
	right: 8px;
	color: $color_primary;
}

.ordersummary-num-portions {
	display: inline-block;
	text-align: center;
	background: $color_gradient_1;
	color: $color_text;
	@include border-radius(3px);
	border-bottom: 2px solid $color_gradient_4;
	padding: 5px 17px;
	text-transform: uppercase;

	margin: 6px;
	opacity: 0.7;
	p {
		margin-bottom: 0px;
	}
	&.active {
		background: $color_primary;
		color: $color_gradient_1;
		opacity: 1;
	}

	@media(max-width: 767px) {
		&.active {
			background: $color_gradient_1;
			color: $color_primary;
		}
	}
}

#twr-ordersummary-container {
	.ordersummary-num-portions {
		text-decoration: none;
		@media(min-width: 768px) {
			&.active:hover {
				background-color: $color_primary;
			}
			&:hover {
				background-color: darken($color_gradient_1, 10%);
			}
		}
	}
}

.ordersummary-num-portions-num {
	@include font-text-bold;
	font-size: 18px;
}

.ordersummary-num-portions-title {
	@include font-heading-bold;
	font-size: 12px;
	line-height: 35px;
	text-transform: uppercase;
}

.ordersummary-change-choices {
	text-align: right;
	a {
		text-transform: uppercase;
		font-size: 11px;
		padding: 0;
		margin-bottom: 10px;
	}
}

.ordersummary-change-discount {
	text-transform: uppercase;
	color: $color_gradient_7;
	font-size: 10px;
	text-decoration: underline;
	padding-left: 10px;
	&:hover,
	&:active {
		text-decoration: none;
		color: $color_gradient_10;
	}
}

.ordersummary-recipe-overview {
	display: inline-block;
	vertical-align: top;
	max-width: 65%;
	padding: 5px 5px 5px 0;
	line-height: 16px;

	@include font-text-bold;
	p {
		margin: 0;
	}

	p.fine-dine-in {
		background: $Bronze;
		color: $Blackberry;
		font-size: 12px;
		display: inline-block;
		border-radius: 4px;
		padding: 2px 5px;
		line-height: 18px;
		margin: 2px 0;
		vertical-align: middle;
	}

	@media (min-width: 768px) and (max-width: 1200px) {
		max-width: 56%;
	}
}

.ordersummary-recipe-double {
	color: $color_logo;
	text-decoration: underline;
	&:hover,
	&:active {
		color: darken($color_logo, 10);
		text-decoration: none;
	}
}

.ordersummary-recipe-img {
	width: 65px;
	height: 65px;
	margin: 5px;
}

.ordersummary-recipe-portions {
	color: $color_gradient_7;
}

.free-gift-text {
	color: $color_gradient_7;
}

.ordersummary-discount {
	label {
		font-size: 12px !important;
	}
	input {
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		@include font-text-bold;
	}
}

.ordersummary-promoerror {
	font-size: 12px;
	color: $color_primary;
	text-align: right;
	display: none;
}

.ordersummary-skip {
	text-transform: uppercase;
}

/* checkout exclusions */

#order-summary-box.checkout {
	.ordersummary-remove-recipe,
	.ordersummary-recipe-double {
		display: none;
	}
}

/* twr exclusions */
#order-summary-box.twr {
	.ordersummary-box-title {
		display: none;
	}
}
.ordersummary-box-border.twr {
	.ordersummary-box-content {
		padding-top: 20px;
	}
}
