@import '../config/main';

/************************************/
/***** Include Recipe Highlight *****/
/************************************/

.recipehighlight-box {
	padding: 20px 15px;
	svg {
		fill: $color_secondary;
		width: 20px;
		height: 20px;
	}
	@media (max-width: 767px) {
		padding: 15px 0;
	}
	@media (max-width: 1200px) {
		text-align: center;
	}
}
.recipehighlight-box-icon {
	width: 20px;
	height: 20px;
	@media (min-width: 1200px) {
		float:left;
		margin-top: 5px;
		margin-right: 5px;
	}
	@media (max-width: 1200px) {
		margin: 0 auto 12px;
	}
	@media (max-width: 767px) {
		float: left;
	}
}
.recipehighlight-box-title {
	color: $color_text_dulled;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 0;
	white-space: nowrap;
}
.recipehighlight-box-value {
	@include font-text-bold;
	font-size: 11px;
	color: $color_text;
	margin-bottom: 0;
	line-height: 17px;
	white-space: nowrap;
	.icon-carrot {
		fill: $color_secondary;
		width: 12px;
		height: 12px;
		margin-left: -3px;
	}
}
