@import '../config/main';

.refersocial-btn {
	margin-left: 6px;
	@media (max-width: $screen-xs-max) {
		margin-top: 10px;
	}
	white-space: normal;
	svg {
		fill: $color_gradient_1;
		width: 20px;
		height: 20px;
	}
}
.refersocial-btn--email {
	background-color: $color_primary;
	border-color: darken($color_primary, 10%);
	&:hover {
		background-color: darken($color_primary, 5%);
	}
}
.refersocial-btn--facebook {
	background-color: $color_facebook;
	border-color: darken($color_facebook, 10%);
	&:hover {
		background-color: darken($color_facebook, 5%);
	}
}
.refersocial-btn--facebook-messenger {
	background-color: $color_facebook_messenger;
	border-color: darken($color_facebook_messenger, 10%);
	&:hover {
		background-color: darken($color_facebook_messenger, 5%);
	}
}
.refersocial-btn--twitter {
	background-color: $color_twitter;
	border-color: darken($color_twitter, 10%);
	&:hover {
		background-color: darken($color_twitter, 5%);
	}
}
.refersocial-btn--gplus {
	background-color: $color_gplus;
	border-color: darken($color_gplus, 10%);
	&:hover {
		background-color: darken($color_gplus, 5%);
	}
}

/* Style depending on class rectangle, circle or square */
.refersocial-rectangle {
	.refersocial-btn {
		border: none;
		@include border-radius(5px);
		padding: 10px;
		color: $color_gradient_1;
		margin-bottom: 10px;
		&:hover {
			color: $color_gradient_1;
		}
		svg {
			float: left;
			margin-right: 10px;
		}
	}
}
.refersocial-circle {
	.refersocial-hide {
		display: none;
	}
	.refersocial-btn {
		padding: 10px 10px 5px;
		border-radius: 50%;
	}
}
.refersocial-square {
	.refersocial-hide {
		display: none;
	}
	.refersocial-btn {
		padding: 5px 5px 0;
	}
}
