.loadingOverlay {
	display: flex;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	filter: none;
	pointer-events: none;
}

.loading {
	filter: blur(3px);
}
