@value Haricot from 'styles/colors.module.css';

.alertContent {
  display: flex;
  align-items: center;
}

.alertIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: Haricot;
  margin-right: 0.75rem;
  border-radius: 3px;
  flex-shrink: 0;
}

.alertIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.confirmationCopy {
  composes: fontStyleL from 'design-language/typography.module.css';
  margin-bottom: 0;
}

.deliveryTimeCopy {
  composes: fontStyleXS from 'design-language/typography.module.css';
  display: block;
}

.doneButton {
  margin-bottom: 0.5rem;
}

.recipeCookbookLink {
  font-weight: bold;
  line-height: 1.8;
  max-height: 1.75rem;
  display: block;
}
