@value FontWeightBold, FontFamilyAxiformaBook, 3XLarge, FontBodySize from 'design-language/typography.css';

.header {
  padding-top: 1rem;
  font: FontWeightBold 3XLarge FontFamilyAxiformaBook;
}

.moreRecipes {
  margin-bottom: 1.5rem;
}

.subtitle {
  margin-bottom: 1.5rem;
  font: FontBodySize FontFamilyAxiformaBook;
}

.divider {
  margin-bottom: 1.5rem;
}

.headerContainer {
  padding: 0 0.75rem 0 0.75rem;

  @media ScreenSMMin {
    padding: 0;
  }
}
