@value Pomegranate from 'styles/colors.css';
@value ScreenXXSMin, ScreenSMMin from 'styles/screenSizes.css';

.container {
  display: flex;
  padding: 20px;
}

.phoneImageContainer {
  text-align: center;
  height: 350px;
  overflow: hidden;

  @media ScreenSMMin {
    width: 300px;
  }
}

.phoneImage {
  width: 200px;
  
  @media ScreenXXSMin {
    width: 250px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.bullet {
  position: absolute;
  left: -2em;
  text-align: center;
  width: 2em;
}

.list {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;

  @media ScreenSMMin {
    margin-left: 1em;
  }

}

.list>li {
  position: relative;
  margin-bottom: 1em;
}

.tick {
  composes: fa-basic-class fa-fw fa-check from 'styles/vendor/font-awesome-module.css';
  color: Pomegranate;
}

.appLink {
  
}