@value Pomegranate from 'styles/colors.css';
@value ScreenXXSMin, ScreenSMMin from 'styles/screenSizes.css';

.container {
  text-align: center;
  padding: 20px;
}

.contentContainer {
  display: flex;
}

.phoneImageContainer {
  text-align: center;
  overflow: hidden;
  padding-right: 20px;
  min-height: 280px;

  @media (min-width: 387px) {
    min-height: none;
  }

  @media ScreenXXSMin {
    height: 350px;
  }
  
  @media ScreenSMMin {    
    width: 300px;
  }

}

.phoneImage {
  width: 150px;
  
  @media (min-width: 387px) {
    width: 180px;
  }
  
  @media ScreenXXSMin {
    width: 250px;
  }
  
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: initial;
}

.bullet {
  position: absolute;
  left: -32px;
  text-align: center;
  width: 32px;
}

.list {
  list-style-type: none;
  margin-left: 24px;
  padding-left: 0;
}

.list>li {
  position: relative;
  margin-bottom: 15px;
}

.tick {
  composes: fa-basic-class fa-fw fa-check from 'styles/vendor/font-awesome-module.css';
  color: Pomegranate;
}

.desktopAppLink {
  text-align: center;
}

.hideElement {
  display: none
}

.hideLargeScreen {
  @media (min-width: 387px) {
    display: none;
  }
}

.hideSmallScreen {
  @media (max-width: 386px) {
    display: none;
  }
}