@value ScreenXXSMax from 'styles/screenSizes.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';

.center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.loading {
  width: 100px;
  height: 100px;
}

.confirmationBody {
  margin-bottom: 1rem;
  display: inline;
}

.confirmationBodyAmount {
  composes: fontStyleSubHead from 'design-language/typography.css';
}

.confirmationQuestion {
  font-weight: bold;
  margin-bottom: 1rem;
}

.getInTouch {
  composes: defaultLinkStyle from 'design-language/anchor.module.css';
  font-weight: bold;
  line-height: 1.8;
  max-height: 1.75rem;
}

.feedbackText {
  margin: 0;
}

.extraInfo {
  padding: 0 0.75rem;

  @media BreakpointFromMedium {
    padding: 0 0.75rem 1.25rem;
  }
}

.extraInfoText {
  margin: 0;
  padding-bottom: 0.5rem;
}
