@value ScreenXXSMax from 'styles/screenSizes.css';

.center {
	display: flex;
	width: 100%;
	justify-content: center;
}

.loading {
	width: 100px;
	height: 100px;
}

.button {
	align-self: center;
	flex-grow: 0.4;

	@media ScreenXXSMax {
		align-self: center;
	}
}