@value FontWeightBold, FontFamilyAxiformaBook, FontBodySize from 'design-language/typography.css';

.priceRow {
  display: flex;
  justify-content: space-between;
  font: FontBodySize FontFamilyAxiformaBook;
}

.totalPrice {
  composes: priceRow;
  font-weight: FontWeightBold;
}
