@value ScreenXXSMin, ScreenXSMax, ScreenSMMin from 'styles/screenSizes.module.css';
@value White from 'styles/colors.module.css';

.container {
	composes: flex from 'styles/flex.module.css';
	background-color: White;
	bottom: 0;

	@media ScreenXXSMin {
		position: absolute;
		width: 100%;
	}

	@media ScreenXXSMin and ScreenXSMax {
		min-height: 120px;
	}

	@media ScreenSMMin {
		min-height: 136px;
	}
}

.regular {
	composes: paddingMD from 'sass-loader!styles/spacing.scss';
}
