.subscriptionPage {
	composes: marginXXXXLBottom marginXXXXLLeftRight marginXXLTop from 'sass-loader!styles/spacing.scss';

	@media ScreenXSMax {
		margin: 10px;
	}
}

.heading {
	composes: headerXXL from 'styles/typography.css';
}
