@value 5XLarge, 3XLarge, FontWeightBold, FontFamilyAxiformaBook from 'design-language/typography.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';


.subscriptionPageTitle {
  padding: 1.125rem 0.75rem 0.75rem;
  margin: 0;
  font: FontWeightBold 3XLarge FontFamilyAxiformaBook;

  @media BreakpointFromMedium {
    font: FontWeightBold 5XLarge FontFamilyAxiformaBook;
    padding: 2rem 0 1rem;
  }
}

