@value BreakpointFromMedium, BreakpointToMedium from 'design-language/breakpoints.css';
@value White from 'styles/colors.css';

.boxPricesRedesign {
  > div > div {
    &:first-of-type {
      padding-bottom: 1.5rem;
    }

    > div > div:first-of-type {
      margin-bottom: 0;

      @media BreakpointFromMedium {
        margin-bottom: 2rem;
      }
    }
  }

  p:empty {
    display: none;
  }

  @media BreakpointToMedium {
    p {
      margin-top: 1rem;
    }

    > div {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
    }
  }
}

.boxPricesRedesign {
  background: White;
  padding: 3rem 0;

  @media BreakpointFromMedium {
    padding: 5rem 0;
  }

  > div > div {
    &:first-of-type {
       padding-bottom: 0.5rem;
    }
  }
}
