@value White from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value FS200 #9CDC9E;
@value FS50 #E6F7E7;

.summaryContainerRedesign {
  background-color: White;
  padding: 1rem 0.75rem 0;

  @media BreakpointFromMedium {
    padding: 1.5rem 1.5rem 0;
  }
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 18.75rem;
  padding: 0;
}

.loadingImage {
  width: 3rem;
  height: 3rem;
}

.details {
  margin: 0;
  font-weight: normal;
}

.pricePerServingBlock {
  background: FS50;
  padding: 1rem 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  border: 1px solid FS200;
  border-radius: 3px;

  @media BreakpointFromMedium {
    margin-bottom: 1.5rem;
  }
}

.discountIcon {
  background: url('routes/Checkout/Components/Summary/discount.svg');
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
