@value BreakpointFromMedium, BreakpointToMedium from 'design-language/breakpoints.css';
@value basketBarHeight from 'routes/Menu/components/BoxSummary/Banner/BoxSummaryBanner.css';
@value actionBarHeight, FI-50, FI-200, FS-50, FS-200 from './actionBarConstants.module.css';

@value fullJumpDurationMs 1000ms;
@value jumpFormula cubic-bezier(0.7, -0.4, 0.4, 1.4);

.actionBarPresentational {
  background-color: FI-50;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.separate {
  position: fixed;
  bottom: basketBarHeight;
  width: 100%;
  height: actionBarHeight;
  /* right padding is large so text doesn't hide under the OpenBoxButton at 320px */
  padding: 0.5rem 4rem 0.5rem 0.5rem;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

.embedded {
  flex: 1;
  height: 3rem;
  max-width: 16rem;
  border-radius: 3px;
  border: 1px solid FI-200;
  padding: 0.5rem 0.75rem;
}

.shouldAnimate {
  @media BreakpointToMedium {
    animation: jump fullJumpDurationMs jumpFormula;
  }
}

.actionBarCanCheckout {
  background-color: FS-50;

  &.embedded {
    border-color: FS-200;
  }
}

@keyframes jump {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
