@value Blueberry, Bluecheese from 'styles/colors.css';

.body {
  composes: marginXLTopBottom marginXXLLeftRight paddingMDLeftRight from 'sass-loader!styles/spacing.scss';
  max-width: 490px;
}

.bottom {
  margin-top: 15px;
}

.link {
  display: inline-block;
  color: #1e2c48;
  border-bottom: 1px solid #1e2c48;
  padding-bottom: 2px;
  margin-right: 25px;
  margin-bottom: 20px;

  &,
  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: #1e2c48 !important;
    border-bottom-color: #1e2c48 !important;
  }
}
