@value ScreenXXSMin from 'styles/screenSizes.css';

.button {
	align-self: center;
	flex-grow: 0.4;

	@media ScreenXXSMin {
		align-self: center;
		width: 100%;
	}
}

.buttonChild {
	display: block;
}