@value ScreenMDMin, ScreenSMMax from 'styles/screenSizes.css';
@value Bluecheese, Cacao, Radish, Radish40, DarkRadish, Mushroom, LightestAccessible from 'styles/colors.css';
@value avenirBookFontStack from 'styles/typography.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value FI50 #DFF4FF;
@value FI200 #73D1FC;

.row {
  margin: 0;
}

.deliveryField {
  composes: marginLGTop from 'sass-loader!styles/spacing.scss';
}

.deliveryFieldWrapper {
  margin: 0;
}
