# For gradual migration, ignore everything but the directories that have been
# migrated.  Use explicit `**` syntax instead of `src` to make sure the walker
# visits all directories so that the `!` override can have the effect.
**/*.js
**/*.css
**/*.json
**/*.gql
**/*.scss
**/*.md

!src/routes/Checkout/**/*
!src/routes/Home/**/*
!src/routes/Payment/**/*
!src/routes/Signup/**/*
!src/routes/ShowcaseMenu/**/*
!src/middlewares/tracking/dataLayerTracker/**/*
!src/routes/BoxPrices/**/*
!src/performanceTracker/**/*
