@value Haricot from 'styles/colors.module.css';
@value BreakpointFromMedium from 'design-language/breakpoints.module.css';

.alertContent {
  display: flex;
  align-items: center;
}

.alertIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: Haricot;
  margin-right: 0.75rem;
  border-radius: 3px;
  flex-shrink: 0;
}

.alertIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.alertText {
  composes: fontStyleM from 'design-language/typography.module.css';
  width: 100%;
}

.creditCopy {
  composes: fontStyleXS from 'design-language/typography.module.css';
  margin-bottom: 0;
}

.getInTouchLink {
  composes: defaultLinkStyle from 'design-language/anchor.module.css';
  font-weight: bold;
  line-height: 1.8;
  max-height: 1.75rem;
}

.extraInfo {
  padding: 0 0.75rem;

  @media BreakpointFromMedium {
    padding: 0 0.75rem 1.25rem;
  }
}

.extraInfoText {
  margin-bottom: 0.5rem;
}
