@value White from 'styles/colors.css';
@value BreakpointFromMedium, BreakpointFromLarge from 'design-language/breakpoints.css';

@value CG100 #CED4D9;

.signupContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.stepsContainer {
  border-top: 1px solid CG100;
  border-bottom: 1px solid CG100;
  margin: 0 auto;
  position: relative;
  background: White;

  @media BreakpointFromMedium {
    border: 1px solid CG100;
    max-width: 36rem;
  }

  @media BreakpointFromLarge {
    max-width: 46.75rem;
  }
}

.stepContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;

  @media BreakpointFromMedium {
    padding: 0 1.5rem;
  }

  @media BreakpointFromLarge {
    padding: 0 2rem;
  }
}

.fullWidth {
  width: 100%;
}

.step {
  flex-direction: column;
  padding: 0;
  max-width: 100vw;

  @media BreakpointFromMedium {
    max-width: 36rem;
  }

  @media BreakpointFromLarge {
    max-width: 46.75rem;
  }
}

.stepsContainer,
.stepContainer,
.step {
  display: flex;
  min-height: 38rem;
  height: 100%;
  width: 100%;
  float: left;
  justify-content: normal;
  margin: 0;
}

.stepsContainerVerticalLayout {
  min-height: 39rem;
}

.stepsContainer {
  @media BreakpointFromMedium {
    margin: 0 auto;
  }
}

.socialBelongingContainer {
  .stepsContainer,
  .stepContainer,
  .step {
    min-height: 44rem;

    @media BreakpointFromMedium {
      min-height: 41rem;
    }
  }
}

.header,
.body,
.footer {
  width: 100%;
}

.header {
  margin-bottom: 1rem;
}

.body {
  text-align: center;
}

.basicInputContainer {
  max-width: 100%;
  width: 100%;
  display: block;

  @media BreakpointFromMedium {
    max-width: 22rem;
  }
}

.inputContainer {
  composes: basicInputContainer;
  margin: 0 auto;
}

.stepIndicatorContainer {
  padding: 1rem 0.75rem 0;

  @media BreakpointFromMedium {
    padding: 1.5rem 1.5rem 0;
  }

  @media BreakpointFromLarge {
    padding: 2rem 2rem 0;
  }
}

.animationContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow: hidden;

  @media BreakpointFromMedium {
    max-width: 36rem;
  }

  @media BreakpointFromLarge {
    max-width: 46.75rem;
  }
}

.animation {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  margin-left: 0;
}

.discountApplied {
  padding-top: 0;
}
