{
	"env": {
		"jest": true
	},
	"rules": {
		"prefer-arrow-callback": "off",
		"global-require": "off",
		"space-before-function-paren": "off",
		"func-names": "off",
		"padded-blocks": "off",
		"no-unused-expressions": "off",
		"no-shadow": "off",
		"jsx-a11y/aria-props": "off",
		"react/jsx-no-bind": "off",
		"no-global-assign": "off"
	}
}
