@value Radish, Haricot from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';

.inputContainer {
  margin: 0 auto 1rem;
  min-width: 18.5rem;

  @media BreakpointFromMedium {
    max-width: 22.25rem;
    margin: 0 auto 1.5rem;
  }
}

.row {
  white-space: nowrap;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  button {
    max-width: 8.25rem;
  }
}

.postcodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 50%;
  margin-right: 0.5rem;

  @media BreakpointFromMedium {
    align-items: flex-start;
    flex: auto;
    max-width: 13.5rem;
    width: 100%;
  }

  > div {
    width: 100%;
  }
}

.postcodeLabel {
  composes: fontStyleSubHead from 'design-language/typography.css';
  margin-bottom: 0.5rem;
  text-align: left;
}

.errorText {
  composes: fontStyleBody from 'design-language/typography.css';
  color: Radish;
}

.tick {
  margin-right: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
}

.bodyText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  composes: fontStyleBody from 'design-language/typography.css';
  color: Haricot;
  margin: 0 auto 1rem;
  max-width: 19rem;

  @media BreakpointFromMedium {
    align-items: center;
    color: Haricot;
    margin: 0 auto 1.5rem;
    max-width: 19rem;
  }
}
