@value ScreenXSMax, ScreenSMMin from 'styles/screenSizes.css';
@value Radish, Haricot from 'styles/colors.css';

.smMinHidden {
  display: inherit;
  @media ScreenSMMin {
    display: none;
  }
}

.inputContainer {
  max-width: 22.25rem;
  margin: 1.5rem auto 1rem;

  @media ScreenXSMax {
    margin: 1rem auto;
    min-width: 18.5rem;
  }
}

.row {
  white-space: nowrap;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  button {
    max-width: 8.25rem;
  }
}

.postcodeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: auto;
  max-width: 13.5rem;
  width: 100%;
  margin-right: 0.5rem;

  @media ScreenXSMax {
    align-items: center;
    flex: 0 0 50%;
  }

  > div {
    width: 100%;
  }
}

.postcodeLabel {
  composes: fontStyleSubHead from 'design-language/typography.css';
  margin-bottom: 0.5rem;
  text-align: left;
}

.errorText {
  composes: fontStyleBody from 'design-language/typography.css';
  color: Radish;
  composes: paddingXXLLeftRight from 'sass-loader!styles/spacing.scss';
}

.tick {
  margin-right: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
}

.bodyText {
  display: flex;
  align-items: center;
  justify-content: center;
  composes: fontStyleBody from 'design-language/typography.css';
  color: Haricot;
  margin: 0 auto 1.5rem;
  max-width: 19rem;

  @media ScreenXSMax {
    align-items: flex-start;
    margin: 0 auto 1rem;
    max-width: 19rem;
  }
}
