@value White from 'styles/colors.css';
@value ScreenXXSMax, ScreenXSMax, HeightSMMax, HeightMDMax from 'styles/screenSizes.css';
@value SpacingXXS from 'sass-loader!styles/spacing.scss';

.getHelpContainer {
	width: 100%;
	height: 100%;
	min-height: 520px;

	@media HeightSMMax {
		min-height: 485px;
	}
}

.getHelpContent {
	max-width: 560px;
	margin: 0 auto;
	position: relative;
	border-radius: 0;
	height: 100%;
	width: 100%;
	padding: 1.75rem 0 5rem;
}

.getHelpContent__loading {
	min-height: 495px;
	padding-top: 0px;
	display: flex;
	align-items: center;
}

.loading__container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.loading__image {
	width: 100px;
	height: 100px;
}
