@value White, Blackberry from 'styles/colors.css';
@value ScreenXSMax from 'styles/screenSizes.module.css';

.arrowRight {
  composes: absolute from 'styles/position.css';
  left: 50%;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 30px solid White;
  margin-top: -10px;
}

.recipeSection {
  composes: row flex flexStart from 'styles/flex.css';
  padding: 10px;
  flex: 0 0 50%;
  background-color: White;
  border-top: 1px solid Blackberry;
  @media ScreenXSMax {
    padding: 10px 0;
  }
}

.recipeSectionMobile {
  composes: row flex flexStart from 'styles/flex.css';
  width: 70%;
  justify-content: flex-start;
}

.invisible {
  visibility: hidden;
}
