@value BreakpointToMedium, BreakpointFromMedium from 'design-language/breakpoints.module.css';
@value White from 'styles/colors.module.css';

.headerWrapper {
  h2 {
    padding: 1.5rem;

    @media BreakpointFromMedium {
      padding: 2.5rem;
    }
  }
}

.container {
  width: 100%;
  background: White;

  padding: 1.5rem;

  @media BreakpointFromMedium {
    padding: 2.5rem;
    width: 500px;
  }
}

.containerPaddingReset, .headerPaddingReset h2 {
  padding: 1rem;

  @media BreakpointFromMedium {
    padding: 1.5rem;
  }
}
