&-products {
	padding: 0;

	.product-list {

		&-item {
			background: $color_gradient_1;
			border: 1px solid $color_gradient_4;
			margin-left: 0px;
			margin-bottom: 20px;
			position: relative;
			height: $image-height + $details-height;
			overflow: hidden;
			cursor: pointer;

			&--container {
				padding-left: 0;

				@media (max-width: 767px){
					padding-right: 0;
				}
			}

			&-image {
				overflow: hidden;
				img {
					width: 100%;
				}
			}

			&-details {
				padding: 20px $qty-grid-width + 15px 20px 15px;

				&--container {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					background-color: $color_gradient_1;
				}

				&-title {
					@include font-text-bold;
					font-size: 16px;
					color: $color_gradient_9;
					margin-right: 15px;
				}

				&-price {
					@include font-text-bold;
					color: $color_gradient_7;
					font-size: 14px;
					margin: 0;
				}
			}

			&-limit-reached {
				position: absolute;
				bottom: 0;
				left: 0;
				color: $color_gradient_1;
				text-align: center;
				background-color: $color_gradient_7;
				padding: 2px 0;
				font-size: 14px;
				width: 100%;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				@include vendor-prefix(transform, translate(0, 100%));
				@include vendor-prefix(transition, 0.2s ease);

				&.show {
					@include vendor-prefix(transform, translate(0, 0));
				}
			}
		}
	}

	.qty {
		&--container {
			display: inline-block;
		}

		overflow: hidden;
		@include vendor-prefix(user-select, none);
		@include font-text-bold;
		text-transform: uppercase;
		border-radius: 4px;

		&-segment {
			cursor: pointer;
			display: inline-block;
			text-align: center;
			float: left;

			&.disabled {
				opacity: 0.5;

				&:hover {
					cursor: default;
				}
			}
		}

		&-show-qty {			
			&:hover {
				color: $color_primary;
				background-color: $color_gradient_1;
			}
			&--full {
				background-color: transparent;
				float: none;
			}
		}

		&-context-grid {
			&.qty--container {
				position: absolute;
				bottom: 20px;
				right: 15px;
			}

			.qty {
				border: 1px solid $color_primary;
				min-width: $qty-grid-width;

				&-change {
					font-size: 16px;
				}

				&-segment {
					width: ($qty-grid-width - 2) / 3;
					color: $color_gradient_1;
					background-color: $color_primary;
					line-height: 37px;

					&:hover {
						color: $color_gradient_1;
						background-color: $color_primary;
					}

					&.disabled {
						background-color: $color_primary;
						color: $color_gradient_1;
						&:hover {
							background-color: $color_primary;
						}
					}
				}

				&-show-qty {
					color: $color_primary;
					background-color: $color_gradient_1;
					font-size: 12px;

					&--full {
						color: $color_primary;
						background-color: $color_gradient_1;
						width: 100%;
						&:hover {
							color: $color_gradient_1;
							background-color: $color_primary;
						}
					}
				}
			}
		}

		&-context-details {
			&.qty--container {
				position: relative;
			}

			.qty {
				@include gbtn-default-temp($color_primary);
				min-width: $qty-details-width;
				padding: 0;
				border: 1px solid $color_primary;

				&-change {
					font-size: 18px;
				}

				&-segment {
					width: ($qty-details-width - 2) / 3;
					color: $color_primary;
					line-height: 40px;
					background-color: $color_gradient_1;
					font-size: 14px;
					@include font-text-bold;

					&:hover {
						color: $color_gradient_1;
						background-color: $color_primary;
					}

					&.disabled {
						background-color: $color_primary;
						&:hover {
							color: $color_gradient_1;
							background-color: $color_primary;
						}
					}
				}

				&-show-qty {
					color: $color_gradient_1;
					background-color: $color_primary;

					&--full {
						color: $color_gradient_1;
						background-color: $color_primary;
						width: 100%;

						&.disabled {
							color: $color_primary;
						}

						&:hover {
							color: $color_gradient_1;
							background-color: darken($color_primary, 10%);
						}
					}
				}
			}
		}
	}
	.product-image-placeholder {
		background-image: image-url("icons/product-placeholder.png");
		background-size: 100% auto;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.low-stock {
		background-color: $color_gradient_1;
		@include font-text-bold;
		color: $color_red;
		text-transform: uppercase;
		font-size: 11px;
		padding: 4px 10px;
		position: absolute;
		top: 28px;
		right: 0px;
		z-index: 1;
	}

	.icon-new-box {

		position: absolute;
		top: -12px;
		right: 27px;
		height: 29px;
		width: 39px;
		z-index: 10;

		&::before {
			content: " ";
			width: 0;
			height: 0;
			border-left: 11px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 11px solid $color_tertiary_hover;
			position: absolute;
			left: -9px;
			top: 1px;
			z-index: 6;
		}

		&::after {
			background-color: $color_tertiary;
			border-radius: 5px;
			color: white;
			display: flex;
			justify-content: center;
			content: "New";
			position: absolute;
			z-index: 100;
			padding: 8px 10px;
			@include font-text-bold;
		}
	}
}
