@value Oyster, Radish, DarkHaricot from 'styles/colors.css';

.criteriaContainer {
  width: 100%;
  composes: fontStyleS from 'design-language/typography.module.css';
}

.criteriaTitle {
  margin-bottom: 0.5rem;
  composes: fontBold from 'design-language/typography.module.css';
}

.errorsList {
  padding: 0;
}

.message {
  margin-bottom: 0;
  display: flex;
  align-items: center;

  &::before {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}

.defaultMessage {
  &::before {
    content: url('media/svgs/icon-bullet.svg');
  }
}

.error {
  color: Radish;

  &::before {
    content: url('media/svgs/icon-red-close.svg');
  }
}

.success {
  color: DarkHaricot;

  &::before {
    content: url('media/svgs/icon-success-tick.svg');
  }
}
