@value Bluecheese from 'styles/colors.css';

.cta {
  margin-top: 10px;
  color: Bluecheese;
  font-weight: 600;
  cursor: pointer;
}

.ctaText {
  margin-bottom: 0em;
}

.tooltip {
  position: absolute;
  z-index: 500;
}

.cta__icon {
  vertical-align: sub;
  margin-left: 4px;
}
