@value Height: 100px;
@value Padding: 5px;
@value ScreenXSMax, ScreenSMMax, ScreenMLMax from 'styles/screenSizes.css';
.headingContainer {
	composes: container-fluid from 'sass-loader!styles/bootstrap.scss';
	max-height: Height;
}

.row {
	composes: row from 'sass-loader!styles/bootstrap.scss';
	composes: flex from 'styles/display.css';
	max-height: Height;
	align-items: center;
	justify-content: center;
	text-align: center;
	float: left;
	padding: 5px 8px 5px 0px;
}

.mainImage {
	composes: col-xs-4 from 'sass-loader!styles/bootstrap.scss';
	composes: paddingXXSTopBottom paddingXXSLeftRight from 'sass-loader!styles/spacing.scss';
	padding-left: 0;
}

.secondary {
	composes: col-xs-7 from 'sass-loader!styles/bootstrap.scss';
	composes: paddingXXSTopBottom paddingXXSLeftRight from 'sass-loader!styles/spacing.scss';
	padding-right: 20px;
}

.image {
	width: 100%;
	height: auto;
}
.chefImageContainer {
	padding-right: 0;
	width: 90px;
}
.secondaryImage {
	width: 66px;
	height: auto;
	border-radius: 50%;
	box-shadow: 0 1px 4px #AAAAAA
}
.signature {
	height: auto;
	width: auto;
	max-height: 100px;
}
.secondaryText {
	composes: textMD textLeft from 'styles/typography.css';
	padding-right: 0;
}
.quoteContents {
	font-size: 15px;
	line-height: 20px;
	composes: inline from 'styles/display.css';
}
.container {
	@media ScreenMLMax {
		display: none;
	}
}

.quoteContainer {
	@media ScreenMLMax {
		display: none;
	}
}
