@value ScreenXXSMax, ScreenXSMax, ScreenMDMax from 'styles/screenSizes.css';
@value White, Basa from 'styles/colors.css';
@value SpacingLG, SpacingMD, SpacingXXS from 'sass-loader!styles/spacing.scss';
@value sizeXL from 'styles/typography.css';

.container {
  width: 100%;
  padding-bottom: 4rem;
}

.header {
  composes: col-xs-12 pull-left from 'sass-loader!styles/bootstrap.scss';
  padding: 0;
  background-color: White;
}

.stickyHeader {
  background-color: White;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 690px;
  padding: 0.5rem;
  z-index: 1;
}

.titleFlex {
  composes: flex spaceBetween row from 'styles/flex.css';
}

.titleHidden {
  visibility: hidden;
  padding: 0.5rem;
}
.closeIcon {
  padding-top: 0;
  composes: closeIcon from 'styles/icons.css';
}

.badges {
  composes: marginMDLeftRight paddingMDBottom from 'sass-loader!styles/spacing.scss';
}

.imageContainer {
  width: 100%;
}

.infoBoxDescriptionTitle {
  font-size: sizeXL;
}

.infoBoxText {
  composes: paragraphSM from 'styles/typography.css';
  line-height: 1.4;

  @media ScreenMDMax {
    margin-bottom: SpacingXXS;
    margin-top: SpacingMD;
  }
}

.additionalInfo {
  composes: infoBoxText;
  composes: marginMDTop from 'sass-loader!styles/spacing.scss';
}

.row {
  composes: row from 'sass-loader!styles/bootstrap.scss';
  width: 100%;
  margin: 0;
}

.variantsContainer {
  margin-bottom: 1rem;
}

.sectionPanel {
  margin: 0 1rem 1rem;
  padding: 1rem;
  background-color: White;
  @media ScreenXSMax {
    margin-left: 0;
    margin-right: 0;
  }
}

.stickyContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: White;
  border-top: 1px solid Basa;
  display: flex;
  align-items: stretch;
  padding: 0 10px 10px;
  max-width: 690px;
}
