.overlay {
	composes: absolute from 'styles/position.module.css';
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 1, 0.52);
	z-index: 11;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0.75rem;
}

.overlayText {
	font-family: Axiforma;
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
	color: #FFFFFF;
}
