@value comfortaaRegularFontStack from ‘styles/typography.css’;
@value ScreenSMMin, ScreenXXSMin from 'styles/screenSizes.css';

.marketPlaceWrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
}

.marketPlaceTitle {
  text-align: center;
  font-family: comfortaaRegularFontStack;
  font-weight: 700;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}

.marketPlaceContent {
  @media ScreenSMMin {
    width: 66.6%;
  }
}
