@value comfortaaRegularFontStack from ‘styles/typography.css’;
@value ScreenSMMin, ScreenXXSMin, ScreenXSMax from 'styles/screenSizes.css';

.marketPlaceWrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
}

.marketPlaceTitle {
 text-align: center;
 font-family: comfortaaRegularFontStack;
 font-weight: 700;
 font-size: 24px;
 -webkit-font-smoothing: antialiased;
 margin-bottom: 30px;
}

.marketPlaceContent {
  @media ScreenSMMin {
    width: 66.6%;
  }
}

.navbar {
  display: none;
  @media ScreenSMMin {
    display: block;
  }
}

.dropdown {
  @media ScreenSMMin {
    display: none;
  }
}
