@value comfortaaRegularFontStack from ‘styles/typography.css’;

.marketPlacetWrapper {
 max-width: 1170px;
 margin: 0 auto;
}

.marketPlaceTitle {
 text-align: center;
 margin-top: 20px;
 font-family: comfortaaRegularFontStack;
 font-weight: 700;
 font-size: 24px;
 -webkit-font-smoothing: antialiased;
}

.productList{
 margin-top: 25px;
}