@value Blackberry, DarkRadish, Radish, White from 'styles/colors.css';
@value ScreenSMMin, ScreenXSMax, ScreenMLMax from 'styles/screenSizes.css';
@value SpacingXXS, SpacingSM from 'sass-loader!styles/spacing.scss';
@value sizeLG from 'styles/typography.css';

@value barDesktopHeight from './Banner/Desktop/BoxSummaryDesktopBanner.css';
@value 100percent 100%;

.container {
	z-index: 500;
}

.boxSummary {
	@media ScreenSMMin {
		composes: container;
		composes: inlineBlock from 'styles/display.css';
		composes: relative from 'styles/position.css';
	}
}

.desktopText {
	composes: noMargin from 'sass-loader!styles/spacing.scss';
	font-size: 15px;
}

.hide {
	composes: none from 'styles/display.css';
}

.overflowFix {
	overflow: visible;
	border-radius: 5px;
}

.errorTooltipMobile {
	display: none;
	position: fixed;
	@media ScreenXSMax {
		display: inherit;
	}
}
.errorTooltipDesktop {
	display: none;
	position: fixed;
	@media ScreenSMMin {
		display: inherit;
	}
}

.errorMessage {
	composes: textRegular from 'styles/typography.css';
	color: DarkRadish;
	box-shadow: 0px 2px 5px Radish;
}

.hide {
	composes: none from 'styles/display.css';
}
