@value White from 'styles/colors.css';
@value sizeSM from 'styles/typography.css';
@value SpacingXXS from 'sass-loader!styles/spacing.scss';

.label {
	composes: textBold from 'styles/typography.css';
	font-size: sizeSM;
	text-transform: none;
}
.blockLabel {
    composes: label;
    composes: block from 'styles/display.css';
}
.inlineLabel {
    composes: label;
    margin-left: SpacingXXS;
}
.fullWidth {
	composes: inlineBlock from 'styles/display.css';
	width: 100%;
}
.compact {
    line-height: 19px;
}
