@value White from 'styles/colors.css';
@value sizeSM, sizeXXS from 'styles/typography.css';
@value SpacingXXS from 'sass-loader!styles/spacing.scss';
@value (
	PrimaryColor, PrimaryBgColor, PrimaryHoverColor, PrimaryHoverBgColor, 
	SecondaryColor, SecondaryBgColor, SecondaryHoverColor, SecondaryHoverActiveColor,
	TertiaryColor, TertiaryBgColor, TertiaryBorderColor, TertiaryHoverColor, TertiaryHoverActiveColor,
	NegativeColor, NegativeBgColor, NegativeHoverColor, NegativeHoverBgColor
) from 'styles/buttons.css';
@value Bluecheese, Bluecheese50, White from 'styles/colors.css';

.label {
	composes: textBold from 'styles/typography.css';
	font-size: sizeSM;
	text-transform: none;
}
.blockLabel {
    composes: label;
    composes: block from 'styles/display.css';
}
.inlineLabel {
    composes: label;
    margin-left: SpacingXXS;
}
.fullWidth {
	composes: inlineBlock from 'styles/display.css';
    width: 100%;
    position: relative;
}
.compact {
    line-height: 19px;    
}

.enabled {
    color: Bluecheese !important;
    /* border: 1px solid PrimaryColor !important */
}

.selected {
    color: white !important;
    background-color: Bluecheese !important;
}

.disabled {
    color: Bluecheese50 !important;
	background-color: TertiaryBgColor !important;
	/* border: 1px solid PrimaryColor !important; */
}

.disabledLine {
    height: 1px;
    width: 113%;
    background-color: Bluecheese50;
    position: absolute;
    top: 19px;

}

.disabledLine1 {
    composes: disabledLine;
    transform: rotate(20deg);
    left: -3px;
}

.disabledLine2 {
    composes: disabledLine;
    transform: rotate(-20deg);
    left: -10px;
}

.bigDisabledLine1 {
    composes: disabledLine;
    transform: rotate(7deg);
}

.bigDisabledLine2 {
    composes: disabledLine;
    transform: rotate(-7deg);
    top: 19px;
    left: -36px;
}
