@value ScreenSize1Max (max-width: 375px);
@value ScreenSize2Min (min-width: 376px);
@value ScreenSize2Max (max-width: 475px);
@value ScreenSize3Min (min-width: 476px);
@value ScreenSize3Max (max-width: 600px);
@value ScreenSize4Min (min-width: 601px);
@value ScreenSize4Max (max-width: 767px);
@value ScreenSize5Min (min-width: 768px);

.screenSize1 {
  @media ScreenSize1Max {
    display: none;
  }
}

.screenSize2 {
  @media ScreenSize2Max {
    display: none;
  }
}

.screenSize3 {
  @media ScreenSize3Max {
    display: none;
  }
}

.screenSize4 {
  @media ScreenSize4Max {
    display: none;
  }
}

.readMore1 {
  @media ScreenSize2Min {
    display: none;
  }
}

.readMore2 {
  @media ScreenSize3Min {
    display: none;
  }
}

.readMore3 {
  @media ScreenSize4Min {
    display: none;
  }
}

.readMore4 {
  @media ScreenSize5Min {
    display: none;
  }
}
