.referral {
	background: $color_gradient_1;
	position: relative;

	&--left{
		padding-left: 0;
		@media (max-width: $mobile_breakpoint) {
			display: none !important;
		}
	}

	&--centre{
		display: flex;
		justify-content: center;
	}
}
