@value Mackerel, White from 'styles/colors.css';
@value borderRadius 3px;
@value FI50 #DFF4FF;
@value FI200 #73D1FC;

.deliveryCardContainer {
  padding: 1rem;
  border: 1px solid Mackerel;
  display: flex;
  align-items: flex-start;
  border-radius: borderRadius;
  background: White;
  composes: fontStyleBody from 'design-language/typography.css';
  margin-bottom: 1rem;
}

.blue {
  border: 1px solid FI200;
  background: FI50;
}

.icon {
  min-width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
