@value BreakpointToMedium, BreakpointFromMedium, BreakpointFromLarge from 'design-language/breakpoints.css';
@value White from 'styles/colors.css';

.container {
  padding: 0.75rem 0.75rem 0;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column-reverse;

  @media BreakpointFromMedium {
    flex-direction: row;
    padding: 1rem 2rem;
    margin-bottom: 0;
  }

  @media BreakpointFromLarge {
    padding: 2.5rem 2rem;
  }
}

.heroImage {
  width: 100%;
  margin-bottom: 1rem;

  min-height: 57vw;
  height: 57vw;

  @media BreakpointFromMedium {
    max-height: 30.75rem;
    max-width: 27rem;
    min-height: auto;
    margin-bottom: 0;
  }

  @media BreakpointFromLarge {
    max-width: 35rem;
    margin-bottom: 1.5rem;
  }
}

.heroImage:not(.isHomeJpgEnabled) {
  @media BreakpointToMedium {
    background: url('routes/Home/Hero/mobile-brand.png') center left / cover no-repeat;
  }

  @media BreakpointFromMedium {
    background: url('routes/Home/Hero/tablet-brand-dish.png') right top / cover no-repeat;
  }

  @media BreakpointFromLarge {
    background: url('routes/Home/Hero/desktop-brand-dish.png') right top / cover no-repeat;
  }
}

.heroImage.isHomeJpgEnabled {
  @media BreakpointToMedium {
    background: url('https://cdn.shopify.com/s/files/1/0003/5415/6575/products/nourished-party-proofed-gummies-thedrugstore_1000x1000.jpg?v=1627389593')
      center left / cover no-repeat;
  }

  @media BreakpointFromMedium {
    background: url('routes/Home/Hero/tablet-brand-dish.jpg') right top / cover no-repeat;
  }

  @media BreakpointFromLarge {
    background: url('routes/Home/Hero/desktop-brand-dish.jpg') right top / cover no-repeat;
  }
}

.textContainer {
  width: 100%;
  position: relative;
  text-align: center;

  @media BreakpointFromMedium {
    margin-right: 1.5rem;
    text-align: left;
    max-width: 32rem;
  }

  @media BreakpointFromLarge {
    max-width: 41.5rem;
    min-width: 32rem;
  }
}

.title {
  margin-bottom: 0.5rem;

  @media BreakpointFromMedium {
    margin-bottom: 1rem;
    max-width: 22.5rem;
  }

  @media BreakpointFromLarge {
    max-width: 32rem;
  }
}

.subTitle {
  margin-bottom: 1rem;
}

.processImage {
  @media BreakpointFromMedium {
    width: 200%;
    height: 11.25rem;
    background: url('routes/Home/Hero/process-brand.png') left top / contain no-repeat;
    margin-bottom: 1rem;
  }

  @media BreakpointFromLarge {
    width: 100%;
    margin-bottom: 0;
  }
}

.stickyContainer {
  @media BreakpointFromMedium {
    margin-bottom: 2rem;
  }
}

.isHidden {
  display: none;
}

.mobileStickyInitial {
  display: none;

  @media BreakpointToMedium {
    display: block;
    padding: 0.75rem;
    background: White;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    margin: 0 -0.75rem;
    transform: translateY(31.25rem);
    box-shadow: 0 -0.25rem 3rem rgba(0, 0, 0, 0.2);
  }
}

.mobileStickyRemoval {
  @media BreakpointToMedium {
    transform-origin: bottom;
    transform: translateY(31.25rem);
    transition: transform 0.3s ease;
  }
}

.mobileSticky {
  @media BreakpointToMedium {
    transform: translateY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
  }
}

.hideShadow {
  bottom: auto;
  box-shadow: none;
}
