@value Black, White from 'styles/colors.css';
@value ScreenSMMin from 'styles/screenSizes.css';

.cookingTimeIcon {
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 3px;
  @media ScreenSMMin {
    width: 40px;
    height: 40px;
    padding: 4px;
  }
}

.circularChart {
  display: block;
}

.circularChartCircleBg {
  fill: none;
  stroke: White;
  stroke-width: 4;
}

.circularChartCircle {
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  stroke: Black;
}

.time {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 12px;
  fill: Black;
  color: Black;
  @media ScreenSMMin {
    width: 40px;
    height: 40px;
    font-size: 13px;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
