@value BreakpointToMedium from 'design-language/breakpoints.css';
@value ( Haricot ) from 'styles/colors.module.css';

.container {
  display: flex;

  @media BreakpointToMedium {
    text-align: center;
  }
}

.heading {
  color: Haricot;
  display: block;
}

.tick {
  margin-right: 0.44rem;
  min-width: 1.5rem;
  height: 1.5rem;
  background: url('media/svgs/icon-success-tick.svg') center center / contain no-repeat;
}
