@value BreakpointFromMedium, BreakpointFromLarge from 'design-language/breakpoints.module.css';

@value FW-50 #FAEAE7;
@value FW-100 #FDCEBD;

.container {
  margin: 0 0.75rem 1rem;

  @media BreakpointFromMedium {
    margin: 0 0 1.5rem;
  }

  @media BreakpointFromLarge {
    margin: 0 2rem 1.5rem;
  }
}

.banner {
  background: FW-50;
  border: 1px solid FW-100;
  border-radius: 3px;
  display: flex;
  padding: 0.5rem;
}

@value iconSize 1.5rem;

.iconContainer {
  flex: 0 0 iconSize;
  margin-right: 0.5rem;
  height: iconSize;
}

.icon {
  width: iconSize;
  height: iconSize;
}

.content {
  flex: 1;
}
