@value BreakpointFromXLarge, BreakpointFromLarge, BreakpointFromMedium from 'design-language/breakpoints.module.css';
@value BreakpointToSmall from '../../values.module.css';

.tableSection {
  @media BreakpointToSmall {
    max-width: 18.5rem;
  }
}

.tableSection .tableContent {
  gap: 0.5rem;

  @media BreakpointFromMedium {
    gap: 1rem;
  }

  @media BreakpointFromLarge {
    gap: 0.5rem;
  }

  @media BreakpointFromXLarge {
    gap: 1.5rem;
  }
}
