@value ScreenXSMax from 'styles/screenSizes.module.css';

.coButtonSegment {
	padding-bottom: 44px;
	padding-top: 4px;
}

.submitButton {
	padding-top: 5px;
	min-height: 52px;
	font-family: AxiformaSemiBold;
	font-size: 15px;
}

.buttoncontainer {
	width: 30%;
}

.buttoncontainerFull {
	width: 100%;
}

.coButton {
	min-width: 140px;
	composes: marginMDLeftRight from 'sass-loader!styles/spacing.scss';
	font-family: AxiformaSemiBold;
	font-size: 15px;

	@media ScreenXSMax {
		min-width: 127px;
	}
}
