@value White, BlueBase, BlueBaseDarker from 'styles/colors.css';
@value ScreenSMMin,ScreenMDMin,ScreenLGMin from 'styles/screenSizes.css';

.ctaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #1e2c48;
}

.ctaInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e2c48;
  @media ScreenSMMin {
    position: absolute;
    width: 90%;
  }
}

.ctaText {
  composes: axiforma from 'styles/typography.css';
  font-size: 16px;
  font-weight: bold;
  margin: 1rem 0;
}

.ctaButton {
  border: 1px solid #1e2c48 !important;
  border-radius: 3px;
  color: White;
  background-color: #1e2c48 !important;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 16px;
  @media ScreenSMMin {
    color: #1e2c48;
    background-color: White;
    padding: 0.5rem;
    width: 70%;
  }
}

.ctaButton:hover {
  background-color: rgb(30, 44, 72, 0.9);
  cursor: pointer;
  color: White;
}

.ctaAllRecipe {
  width: 100%;
  position: relative;
  margin: 0 0.75rem 0.75rem 0.75rem;
  flex-direction: column;

  @media ScreenSMMin {
    margin: 0 1rem 1rem 0;
    width: calc(50% - 1rem);
    height: auto;
  }
  @media ScreenMDMin {
    width: calc(33.33% - 1rem);
    height: auto;
  }
  @media ScreenLGMin {
    width: calc(25% - 1rem);
    height: auto;
  }
}

.spottyBorder {
  width: 100%;
  height: 100%;
  display: none;
  @media ScreenSMMin {
    display: block;
  }
}
