@value White from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value barMobileHeight from 'routes/Menu/components/BoxSummary/Banner/BoxSummaryBanner.css';
@value barDesktopHeight from 'routes/Menu/components/BoxSummary/Banner/BoxSummaryBanner.css';
@value actionBarHeight from 'routes/Menu/components/ActionBar/actionBarConstants.module.css';

/* Make sure bootstrap is included */
.bootstrap {
  composes: container from 'sass-loader!styles/bootstrap.scss';
}

.pageContainer {
  position: relative;
  min-height: 500px;
  background: White;
}

.pullUp {
  margin-top: -20px;
}

.withBottomBar {
  padding-bottom: calc(barMobileHeight + actionBarHeight);

  @media BreakpointFromMedium {
    padding-bottom: calc(barDesktopHeight + actionBarHeight);
  }
}
