@value chefImageBorderWidth 2px;
@value chefImageSize calc(70px + chefImageBorderWidth);

.chef {
	height: chefImageSize;
	margin-top: 10px;
	position: absolute;
	right: 10px;
	top: 0;
}

.chef :local img {
	height: 100%;
	border: chefImageBorderWidth solid white;
	border-radius: 50%;
}
