@value chefImageBorderWidth 4px;
@value chefImageSize calc(70px + chefImageBorderWidth);

.chef {
	height: chefImageSize;
	margin-top: calc((chefImageSize)/-2);
	position: absolute;
	right: 15px;
}

.chef :local img {
	height: 100%;
	border: chefImageBorderWidth solid white;
	border-radius: 50%;
}
