@value Oyster, DarkHaricot from 'styles/colors.css';

.toggleHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem;
  border-bottom: 1px solid Oyster;
  outline: 0;
}

.hideBottomBorder {
  border: none;
}

.title {
  composes: fontStyleSubHead from 'design-language/typography.css';
  margin-right: 0.25rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.isCollapsed {
  transform: rotate(90deg);
}

.isExpanded {
  transform: rotate(-90deg);
}

.poundsWrapper {
  display: flex;
  align-items: center;
}

.total {
  margin-right: 0.5rem;
}

.withDiscount {
  composes: fontStyleBodyL from 'design-language/typography.css';
  composes: fontBold from 'design-language/typography.css';
  color: DarkHaricot;
  margin-right: 0.5rem;
}
