@value Bluecheese30, Blackberry from 'styles/colors.css';
@value SpacingSM, SpacingLG from 'sass-loader!styles/spacing.scss';
@value ScreenXSMax, ScreenXXSMax from 'styles/screenSizes.css';
@value avenirHeavyFontStack from 'styles/typography.css';

.recipe {
	composes: marginSMBottom from 'sass-loader!styles/spacing.scss';
	flex-basis: 50%;
	white-space: normal;
	display: flex;

	@media ScreenXXSMax {
		flex-basis: 100%;
	}
}

.image {
	width: 6.25rem;
	height: 6.25rem;
	object-fit: cover;
	margin-bottom: SpacingLG;

	@media ScreenXSMax {
		margin-bottom: SpacingSM;
	}
}

.blankImage {
	border: 1px dashed Blackberry;
	composes: hidden-xs-down from 'sass-loader!styles/bootstrap.scss';
}

.recipeTitle {
	composes: textBold from 'styles/typography.css';
}

.recipeDetails {
	padding: 0 0.625rem;
}
