@value Bluecheese30, Blackberry from 'styles/colors.css';
@value SpacingSM, SpacingLG from 'sass-loader!styles/spacing.scss';
@value ScreenXSMax from 'styles/screenSizes.css';

.recipe {
	composes: marginSMBottom from 'sass-loader!styles/spacing.scss';
	margin-right: SpacingLG;
	width: 150px;
	white-space: normal;

	@media ScreenXSMax {
		margin-right: SpacingSM;
	}
}

.image {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: SpacingLG;

	@media ScreenXSMax {
		margin-bottom: SpacingSM;
	}
}

.blankImage {
	border: 1px dashed Blackberry;
	composes: hidden-xs-down from 'sass-loader!styles/bootstrap.scss';
}
