@value Basa, Mackerel, White, BlueBase  from 'styles/colors.css';
@value ScreenMLMin from 'styles/screenSizes.css';
@value SpacingXXS from 'sass-loader!styles/spacing.scss';

.socialButtons {
	height: 40px;
	display: flex;
	margin: 20px auto;
}

.pageSocialButtons {
	@media ScreenMLMin {
		padding-left: 15px;
		margin: 0 0 0 30px;
		border-left: 1px solid Basa;
	}
}

.componentSocialButtons {
	flex-direction: column;
	height: 140px;
	justify-content: space-between;
}

.mobileHide {
	composes: hidden-sm-down from 'sass-loader!styles/bootstrap.scss';
}

.mobileShow {
	composes: hidden-md-up from 'sass-loader!styles/bootstrap.scss';
}
