@value ScreenXXSMaxDEPRECATED from 'styles/screenSizes.css';
@value SpacingXXS, SpacingSM, SpacingXXXL from 'sass-loader!styles/spacing.scss';
@value Blackberry, Pepper30, White from 'styles/colors.css';

@value holderHeight: 60px;
@value desktopWidth: 60px;


.item {
	composes: flex spaceBetween flexStart from 'styles/flex.css';
	composes: relative from 'styles/position.css';
	padding: 0.5rem 0;
}

.item:not(:last-child) {
	border-bottom: 1px solid Pepper30;
}

.itemUnavailable {
	composes: item;
	opacity: 0.5;
	pointer-events: none;
}

.details {
	composes: flexGrow from 'styles/flex.css';
	composes: paddingSMLeft paddingLGRight from 'sass-loader!styles/spacing.scss';

	@media ScreenXXSMaxDEPRECATED {
		padding-right: SpacingXXXL;
		width: 100%;
	}
}

.detailsExtraPadding {
  @media ScreenXXSMaxDEPRECATED {
    padding-right: SpacingXXXL;
    width: 100%;
  }
}

.title {
	text-align: left;
	border: none;
	background-color: White;
	composes: headerSM textBold from 'styles/typography.css';
	composes: noMargin from 'sass-loader!styles/spacing.scss';
}

.quantity {
	composes: paragraphXS from 'styles/typography.css';
	composes: noMargin from 'sass-loader!styles/spacing.scss';
}

.freeGift {
	composes: paragraphXS from 'styles/typography.css';
	composes: noMargin from 'sass-loader!styles/spacing.scss';
}

.url {
	composes: paragraphXS from 'styles/typography.css';
	composes: noMargin from 'sass-loader!styles/spacing.scss';
}

.hideMobile {
	min-width: 70px;
	@media ScreenXXSMaxDEPRECATED {
		display: none;
	}
}

.pointer {
	cursor: pointer;
}

.minusIcon {
	composes: itemCenter from 'styles/flex.css';
	composes: fa-basic-class fa-fw fa-minus-circle from 'styles/vendor/font-awesome-module.css';
	composes: pointer;

	color: Blackberry;
	user-select: none;

	font-size: 1.4em;

	margin-left: -5px;

	@media ScreenXXSMaxDEPRECATED {
		position: absolute;
		margin-left: 0;
		right: 0;
		top: 1.5rem;
		width: auto;
		font-size: 1.8em;
	}

	&:hover {
		opacity: 0.9;
	}
}

.view {
	composes: paragraphXS from 'styles/typography.css';
}

.img {
	height: holderHeight;
	width: desktopWidth;
	border-radius:100%;
	object-fit: cover;
}

.arrowRight {
	composes: fa-basic-class fa-angle-right from 'styles/vendor/font-awesome-module.css';
	padding-left: 0.3rem;
}

.clickableTitle:hover {
	text-decoration: underline;
}
