{
  "presets": [
    "env",
		"react",
		"stage-0"
      ],
  "plugins": [
    "lodash",
    "transform-async-to-generator",
    "transform-strict-mode",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "transform-runtime", {
            "polyfill": false,
            "regenerator": true
          }
        ],
        "syntax-dynamic-import"
      ]
    }
  }
}