@value sizeMD from 'styles/typography.css';
@value Basa from 'styles/colors.css';
@value attributesLineHeight 1.8;

.recipeDetails {
	composes: relative from 'styles/position.css';
}

.link {
	cursor: pointer;
}

.contentWrapper {
	composes: paddingMD from 'sass-loader!styles/spacing.scss';
	padding-top: 5px;
	margin-top: 15px;
}

.titleWrapper {
	padding-right: 1rem;
	composes: link;
	&:hover {
		text-decoration: underline;
	}
}

.score {
	position: absolute;
	left: 10px;
	margin-top: -40px;
}

.rangeBadgeWrapper{
	margin-top: -15px;
	margin-left: -1px;
	position: absolute;
}

.viewDetails {
  position: relative;
  float: right;
  margin-top: -40px;
  margin-right: 10px;
}
