@value BreakpointToMedium, BreakpointFromMedium from 'design-language/breakpoints.css';
@value Mackerel, White from 'styles/colors.css';
@value GetHelpLayoutMaxWidth 560px;

:global #react-root {
  height: 100%;
}

.wrapperWide {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 750px;
}

.wrapperBack {
  margin-bottom: 1.5rem;
}

.wrapper {
  margin: 0 auto;
  max-width: GetHelpLayoutMaxWidth;
}

.contentWrapper {
  @media BreakpointToMedium {
    margin-bottom: 8rem;
  }
}

.heading {
  margin-bottom: 1rem;
}

.noCTABack {
  @media BreakpointFromMedium {
    padding-top: calc(4rem + 1px);
  }
}

.sideBordersWhenGetHelpLayoutHasMargins {
  @media (min-width: GetHelpLayoutMaxWidth) {
    border-left: 1px solid Mackerel;
    border-right: 1px solid Mackerel;
  }
}
