@value Black, Bluecheese, White from 'styles/colors.css';
@value sizeLG from 'styles/typography.css';

.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.checked {
	.label {
		font-weight: 600;
	}
}

.filter:first-child {
	padding-bottom: 15px;
}

.filter {
	padding: 15px 0;
	&.filter * {
		cursor:pointer;
	}
}

.label {
	flex-grow: 1;
	font-size: sizeLG;
	margin: 0;
}

.radio {
	appearance: none;
	width: 18px;
	height: 18px;
	background: White;
	border-radius: 100%;
	border: 1px solid Black;
	display: block;
	box-sizing: content-box;
	float: left;
	margin-left: 10px;

	&:first-child {
		margin-left: 0;
	}
}

.radio:checked {
	position: relative;
	border-color: Bluecheese;

	&:after {
		content: '';
		position: absolute;
		width: 14px;
		height: 14px;
		left: 2px;
		top: 2px;
		border-radius: 100%;
		background: Bluecheese;
	}
}

.radio:focus {
	outline: none;
}

.checkbox {
	appearance: none;
	width: 20px;
	height: 20px;
	background: White;
	border: 1px solid Black;
	border-radius: 3px;
	display: block;
	float: left;
	margin-left: 10px;

	&:first-child {
	   margin-left: 0;
 	}
	input[type=checkbox] {
		zoom: 1.5;
	}
}

.checkbox:checked {
	position: relative;
	border-color: Bluecheese;
	background: Bluecheese;

	&:after {
		 opacity: 1;
		 content: '';
		 position: absolute;
		 width: 11px;
		 height: 6px;
		 background: transparent;
		 top: 5px;
		 left: 4px;
		 border: 2px solid White;
		 border-top: none;
		 border-right: none;

		 transform: rotate(-45deg);
	 }
}

.checkbox:focus {
	outline: none;
}
