@value White from 'styles/colors.css';
@value ScreenSMMin from 'styles/screenSizes.css';

.recipeTag {
  padding: 0.25rem 0.5rem 0.2rem 0.5rem;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: White;
  white-space: nowrap;

  left: 0;
}
