@value BreakpointToMedium from 'design-language/breakpoints.css';

.noLockIn {
  display: flex;
  align-items: center;
  width: 100%;
  composes: fontStyleXS from 'design-language/typography.css';

  @media BreakpointToMedium {
    justify-content: center;
  }
}

.isCentered {
  justify-content: center;
}

.lockInBold {
  font-weight: 600;
}

.lockSign {
  margin-left: 0.25rem;
}

.lockInIcon {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url('media/svgs/icon-play-pause.svg');
}
