.recipe {

	&--container {
		@media (max-width: $screen-md-max) {
			margin-bottom: 30px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&-image {
		&--container {
			height: 260px;
			position: relative;
			overflow: hidden;
			position: relative;
		}

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	&-label {
		position: absolute;
		top: 15px;
		right: 15px;
		background-color: $color_gradient_1;
		padding: 5px 10px;
		display: inline-block;
		border-radius: 5px;
		text-transform: uppercase;
		color: $color_primary;
		@include font-text-bold;
		font-size: 14px;
	}

	&-details {
		background: $color_gradient_1;
		padding: 15px;
		position: relative;
		height: 105px;

		&-title {
			@include font-text-bold;
			font-size: 16px;
			padding-right: 100px;
			height: 45px;
			overflow: hidden;
			margin: 0;
		}
	}

	&-add {
		position: absolute;
		top: 25px;
		right: 15px;
		&:hover {
			color: $color_gradient_1;
		}
	}

	&-description {
		margin-top: 15px;
		position: relative;

		&-text {
			font-size: 14px;
			color: $color_gradient_7;
			margin: 0;
			line-height: 1;
			margin-left: 33px;
		}

		&-icon {
		    height: 25px;
			width: 25px;
			position: absolute;
			bottom: -4px;
			fill: $color_gradient_5;
		}
	}
}
