.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.centerCenter {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
