@value SpacingXXS, SpacingSM from 'sass-loader!styles/spacing.scss';
@value sizeLG, sizeXS, bodyFontStackBold from 'styles/typography.css';

@value barMobileHeight 90px;

.detailContainer {
	composes: borderXS from 'styles/borders.css';
	composes: paddingMD from 'sass-loader!styles/spacing.scss';
	background-color: White;
}

.detailContainermobile {
	composes: marginSMLeftRight from 'sass-loader!styles/spacing.scss';
	composes: detailContainer;
	position: relative;
	width: 100%;
	height: 100%;
	margin: auto;
	overflow-x: auto;
	padding: 0;
}

.supercontainermobile {
	height: 100%;
}

.mobileOverlay {
	height: calc( 100% - barMobileHeight );
	min-height: calc( 100% - barMobileHeight );
}

.mobileModalContent {
	height: 100%;
	min-height: 100%;
}

.closeBtn {
	composes: fa-basic-class  fa-fw fa-close from 'styles/vendor/font-awesome-module.css';
	composes: absolute from 'styles/position.css';

	right: SpacingXXS;
	top: SpacingSM;

	padding: 0.5rem;
	width: auto;

	font-size: sizeLG;
	cursor: pointer;
}
