@value Bluecheese, Oyster, White, Blueberry from 'styles/colors.css';
@value ScreenXSMax, ScreenSMMin from 'styles/screenSizes.css';
@value axiformaFontStack, sizeMD from 'styles/typography.css';

.addButton {
    background-color: Bluecheese;
    color: White;
    display: flex;
    padding: 0 1rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 3px;
    border: none;
    justify-content: center;
    @media ScreenSMMin {
        min-width: 11.25rem;
    }
}

.addButton:hover {
    background-color: Blueberry;
    cursor: pointer;
}

.addButton:disabled {
    color: White;
    display: flex;
    padding: 0 1rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 3px;
    background-color: Oyster;
    justify-content: center;
    @media ScreenSMMin {
        min-width: 11.25rem;
    }
}

.hideOnMobile {
    margin-left: 0.75rem;
    padding-top: 0.125rem;
    @media ScreenXSMax {
        display: none;
    };
}

.buttonText {
    align-self: center;
    font-family: axiformaFontStack;
    font-weight: 600;
    font-size: sizeMD;
    line-height: 1.5rem;
    margin: .75px 0;
    display: flex;
    align-items: center;
}

.addButtonLine {
    stroke: White;
}
