@value ScreenXSMax, ScreenSMMin, MinBreakPointXL from 'styles/screenSizes.css';
@value SpacingXXL, SpacingLG, SpacingMD as GutterSize, SpacingSM, SpacingXS from 'sass-loader!styles/spacing.scss';
@value sizeMD, sizeSM, sizeXL from 'styles/typography.css';
@value White, Mushroom50, Oyster from 'styles/colors.css';
@value headerHeight from 'components/Header/Header.css';

@value ColumnWidth: 33.333%;
@value MobColumnWidth: 100%;
@value MobGridWidth: 50%;
@value HeaderLimit: 1214px;
@value oneHundrendPercent: 100%;

.gridSizer {
	width: calc(ColumnWidth - GutterSize);
	@media ScreenXSMax {
		width: MobColumnWidth;
	}
}
.gridSizerMobile {
	width: calc(MobGridWidth - SpacingSM);
}
.gutterSizer {
	width: GutterSize;
}
.grid {
	margin-right: calc(GutterSize * -1);
	max-width: MinBreakPointXL;
	margin-top: GutterSize;
	@media ScreenXSMax {
		margin-right: 0px;
	}
}
.gridMobile {
	composes: grid;
	margin-right: -3px;
	@media ScreenXSMax {
		padding-left: 3px;
		width: 100%;
	}
}
.grid:after {
	content: '';
	display: block;
	clear: both;
}
