@value sizeXS, bodyFontStackNormal from 'styles/typography.css';
@value HaricotLight from 'styles/colors.css';
@value ScreenXXSMin from 'styles/screenSizes.css';

.disclaimerWrapper {
    display: flex;
    background-color: HaricotLight;
    border-radius: 0.25rem;
    padding: 0.75rem 0.25rem 0.5rem 0.75rem;
    margin: auto 0;
}

.disclaimerIcon {
    height: 1.125rem;
    width: 1.25rem;
    flex-shrink: 0;
    background-size: 80%;
    background-position: center center;
}

.disclaimerText {
    font-family: bodyFontStackNormal;
    font-size: sizeXS;
    margin-left: 0.5rem;
}
