/* Brand Colors */

$Pomegranate: #F6323E;
$Bluecheese: #7290FF;
$Blueberry: #4968D8;
$Duckegg: #00D5E0;
$Kale: #028289;
$Coconut: #F7FBFA;
$Blackberry: #333D47;
$Oyster: #999EA3;
$Mackerel: #D6D8DA;
$Basa: #EAEBEC;
$Haricot: #01A92B;
$DarkHaricot: #018F25;
$Carrot: #FB6126;
$DarkCarrot: #BB481C;
$Radish: #B6252E;
$DarkRadish: #9B222A;
$Bronze: #E8C776;
$color_logo: $Pomegranate;
$color_primary: $Bluecheese;
$color_primary_hover: $Blueberry;
$color_secondary: $Blackberry;
$color_secondary_hover: #485765;
$color_tertiary: $Duckegg;
$color_tertiary_hover: $Kale;
$color_background: $Coconut;
$color_green: $Haricot;
$color_green_hover: $DarkHaricot;
$color_orange: $Carrot;
$color_orange_hover: $DarkCarrot;
$color_red: $Radish;
$color_red_hover: $DarkRadish;

/**********************/
/***** All Colors *****/
/**********************/

/* base colors */

$color_gradient_1: #FFFFFF;
$color_gradient_3: $Basa;
$color_gradient_4: $Mackerel;
$color_gradient_5: $Oyster;
$color_gradient_7: #777777;
$color_gradient_9: $Blackberry;
$color_gradient_10: #000000;

/* notification color palette */

$color_maize: #FFE4A3;
$color_maize_light: lighten($color_maize, 10);
$color_chilli: #B6252E;
$color_chilli_light: lighten($color_chilli, 10);
$color_artichoke: #CBDAAD;
$color_carrot: #FB6126;
$color_carrot_light: lighten($color_carrot, 10);

/* elements colors */
$color_stars: #F3C200;
$color_stars_light: #FFCC00;

$color_border: $color_gradient_4;
$color_border_light: $color_gradient_3;

$color_text: $color_gradient_9;
$color_text_dulled: $color_gradient_7;

$color_clicklinks: $color_primary;

/* social network colors */
$color_twitter: #6ab7c5;
$color_facebook: #5173a8;
$color_facebook_messenger: #0084ff;
$color_gplus: #da4835;

$color_mushroom50: #FBF9F7;
