@import 'colors';
@import 'fonts';
@import 'mixins';

$default-radius: 10px;


/*SCREEN BREAKPOINTS*/

$mobile-height-small-max: 639px;
$mobile-height-large-min: 640px;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$mobile_breakpoint: $screen-xs-max;
