@value Pepper from 'styles/colors.css';

.greyedOut {
	&:before {
		content: '';
		top: 0;
		left: 0;
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: Pepper;
		opacity: 0.4;
		z-index: 100;
		pointer-events: none;
	}
}

.overlayTransition {
	composes: transition from 'styles/effects.css';
	composes: fixed from 'styles/position.css';
	composes: fullScreen from 'styles/positioning.css';

	z-index: -1;
}

.modal {
	position: relative !important;
	left: inherit !important;
	top: inherit !important;
	transform: inherit !important;
	margin: auto !important;
	box-shadow: none !important;
}


.willFade {
	opacity: 1;
	transition: 0.5s opacity;
}

.fadeOut {
	composes: willFade;
	opacity: 0.4;
	pointer-events: none;
}
