@value headingFontStackBold, sizeLG, sizeMD, sizeXS from 'styles/typography.css';
@value Bluecheese, White, Mackerel from 'styles/colors.css';
@value ScreenXXSMax, ScreenXXSMin, ScreenXSMax from 'styles/screenSizes.css';
.recipeSidesModalButtons {
  display: flex;
  justify-content: space-between;
  @media ScreenXSMax {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

.recipeSidesModalNoSideButton {
  width: 49%;
  @media ScreenXSMax {
    width: 100%;
  }
}

.recipeSidesModalAddSideButton {
  width: 49%;
  @media ScreenXSMax {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}