@value Coconut from 'styles/colors.css';
@value ScreenXSMax, ScreenMDMax from 'styles/screenSizes.css';
@value White, Basa from 'styles/colors.css';
@value SpacingMD, SpacingXXS from 'sass-loader!styles/spacing.scss';
@value sizeXL from 'styles/typography.css';

.container {
  composes: relative from 'styles/position.css';

  padding: 0;
  padding-bottom: 4rem;
  top: 0;
  z-index: 1000;
  background-color: Coconut;
  width: 690px;
  margin: 0 auto;

  @media ScreenXSMax {
    width: 100%;
  }
}

.header {
  composes: col-xs-12 pull-left from 'sass-loader!styles/bootstrap.scss';
  padding: 0;
  background-color: White;
}

.stickyHeader {
  background-color: White;
  position: fixed;
  top: 0;
  width: 690px;
  padding: 0.5rem;
  z-index: 1;
  @media ScreenXSMax {
    width: 100%;
  }
}

.titleFlex {
  composes: flex spaceBetween row from 'styles/flex.css';
}

.titleHidden {
  visibility: hidden;
  padding: 0.5rem;
  margin-right: 2rem;
}
.closeIcon {
  padding-top: 0;
  margin-left: 0.5rem;
  height: 30px;
  composes: closeIcon from 'styles/icons.css';
}

.badges {
  composes: marginMDLeftRight paddingMDBottom from 'sass-loader!styles/spacing.scss';
}

.imageContainer {
  width: 100%;
}

.infoBoxDescriptionTitle {
  composes: headerXL from 'styles/typography.css';
  composes: paddingMDBottom from 'sass-loader!styles/spacing.scss';
}

.additionalInfo {
  composes: marginMDTop from 'sass-loader!styles/spacing.scss';
}

.row {
  composes: row from 'sass-loader!styles/bootstrap.scss';
  width: 100%;
  margin: 0;
}

.variantsContainer {
  margin-bottom: 1rem;
}

.sectionPanel {
  margin: 0 1rem 1rem;
  padding: 1rem;
  background-color: White;
  @media ScreenXSMax {
    margin-left: 0;
    margin-right: 0;
  }
}

.stickyContainer {
  position: fixed;
  bottom: 0;
  background-color: White;
  border-top: 1px solid Basa;
  display: flex;
  align-items: stretch;
  padding: 0 10px 10px;
  width: 690px;
  @media ScreenXSMax {
    width: 100%;
  }
}

.recipeTagHolder {
  position: relative;
  top: 0;

  @media ScreenSMMin {
    top: 1rem;
  }
}
