@value Haricot, Radish, Carrot, White, DarkChilli, White, HaricotMedium from 'styles/colors.css';

.badge {
	composes: paddingSMLeftRight marginXSRight marginXSBottom from 'sass-loader!styles/spacing.scss';
	composes: inlineBlock from 'styles/display.css';
	composes: textXS from 'styles/typography.css';
	font-weight: bold;
	border-radius: 4px;
	border: 1px solid
}

.newRecipe {
	color: Haricot;
	border-color: HaricotMedium;
}

.stockInfo {
	color: Radish;
	border-color: Radish;
}

.recommended {
	color: Carrot;
	border-color: Carrot;
}

.inverse {
	color: White;
	border: none;
	background-color: DarkChilli;
}
