@value Bluecheese from 'styles/colors.css';

.itemContent:hover {
	text-decoration: none;
	cursor: pointer;
}

.itemContent {
	color: Bluecheese;
	display: block;
	padding: 20px 0;
	position: relative;
}

.itemArrow {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -8px;
}

.itemArrowRight {
	composes: fa-basic-class fa-chevron-right from 'styles/vendor/font-awesome-module.css';
	composes: itemArrow;
}

.itemArrowDown {
	composes: fa-basic-class fa-chevron-down from 'styles/vendor/font-awesome-module.css';
	composes: itemArrow;
}
