@value White from 'styles/colors.css';

.contentWrapper {
  width: 35rem;
  margin: 2.5rem auto;
  text-align: center;
  background: White;
  padding: 1.5rem;
}

.contentWrapper h2 {
  padding-top: 1rem;
}

.contentWrapper p {
  padding-top: 0.75rem;
}

.iconNoSlotAvailable {
  width: 5rem;
  min-height: 5rem;
  display: inline-block;
  background: url('media/svgs/icon-slot-not-available.svg') center center no-repeat;
}
