@value basketBarHeight 4rem;
@value BreakpointToMedium from 'design-language/breakpoints.css'; /* imported for isToMedium in BoxSummaryBanner.js */
@value BreakpointFromMedium, BreakpointFromLarge from 'design-language/breakpoints.css';
@value FE-900 #BC1526;
@value FE-800 #CB2432;

.boxSummaryBanner {
  z-index: 500;
  position: fixed;

  left: 0;
  bottom: 0;
  width: 100%;
  height: basketBarHeight;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.16);
  background-color: rgba(51, 61, 71, 0.95);
  backdrop-filter: blur(4px);

  @media BreakpointFromMedium {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 501;
    padding-left: 0.75rem;
  }

  @media BreakpointFromLarge {
    padding-left: 2rem;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  align-items: center;

  padding: 0 0.75rem;

  @media BreakpointFromMedium {
    flex: 1;
    justify-content: flex-end;
    padding: 0;
  }
}

.errorTooltip {
  position: fixed;
}

.errorMessage {
  composes: fontStyleBody from 'design-language/typography.css';
  color: FE-900;
  box-shadow: 0px 2px 5px FE-800;
}
