@value barHeightIsSimplifyBasketBarEnabled 4rem;

/* from mobile banner */
@value Blackberry, DarkRadish, Radish, White, Bluecheese from 'styles/colors.css';
@value SpacingXXS, SpacingSM from 'sass-loader!styles/spacing.scss';
@value sizeLG, sizeXS from 'styles/typography.css';
@value ScreenSMMin from 'styles/screenSizes.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';

@value barMobileHeight 90px;

.barmobile {
  z-index: 500;
  composes: fixed from 'styles/position.css';

  left: 0;
  bottom: 0;
  background-color: Blackberry;
  width: 100%;
  height: barMobileHeight;
  @media BreakpointFromMedium {
    display: none;
  }
}

.isSimplifyBasketBarEnabled {
  height: barHeightIsSimplifyBasketBarEnabled;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.16);
  background-color: rgba(51, 61, 71, 0.95);
  backdrop-filter: blur(4px);
}

.summaryMobile {
  composes: flex spaceAround from 'styles/flex.css';
  composes: marginXXSTop from 'sass-loader!styles/spacing.scss';
}

.buttonsContainerIsSimplifyBasketEnabled {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  align-items: center;

  padding: 0 0.75rem;
}

.errorTooltipDesktop {
  display: none;
  position: fixed;
  @media ScreenSMMin {
    display: inherit;
  }
}

.errorMessage {
  composes: textRegular from 'styles/typography.css';
  color: DarkRadish;
  box-shadow: 0px 2px 5px Radish;
}

/* from desktop banner */
@value Blackberry from 'styles/colors.css';
@value BreakpointToMedium, BreakpointFromLarge from 'design-language/breakpoints.css';
@value barDesktopHeight 75px;
@value ScreenXSMax from 'styles/screenSizes.module.css';
@value barHeightIsSimplifyBasketBarEnabled 4rem;

.bardesktopVariant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 501;
  height: barHeightIsSimplifyBasketBarEnabled;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.16);
  background-color: rgba(51, 61, 71, 0.9);
  backdrop-filter: blur(4px);

  padding-left: 0.75rem;
  @media BreakpointFromLarge {
    padding-left: 2rem;
  }

  @media BreakpointToMedium {
    display: none;
  }
}

.buttonsContainerVariant {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  flex: 1;
}
