@value barHeightIsSimplifyBasketBarEnabled 4rem;

@value Blackberry, DarkRadish, Radish, White, Bluecheese from 'styles/colors.css';
@value SpacingXXS, SpacingSM from 'sass-loader!styles/spacing.scss';
@value sizeLG, sizeXS from 'styles/typography.css';
@value ScreenSMMin from 'styles/screenSizes.css';
@value BreakpointToMedium, BreakpointFromMedium, BreakpointFromLarge from 'design-language/breakpoints.css';

@value barMobileHeight 90px;
@value barDesktopHeight 75px;
@value ScreenXSMax from 'styles/screenSizes.module.css';
@value barHeightIsSimplifyBasketBarEnabled 4rem;

.boxSummaryBanner {
  z-index: 500;
  position: fixed;

  left: 0;
  bottom: 0;
  width: 100%;
  height: barHeightIsSimplifyBasketBarEnabled;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.16);
  background-color: rgba(51, 61, 71, 0.95);
  backdrop-filter: blur(4px);

  @media BreakpointFromMedium {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 501;
    padding-left: 0.75rem;
  }

  @media BreakpointFromLarge {
    padding-left: 2rem;
  }
}

/* remove once unified */
.tempMobile {
  @media BreakpointFromMedium {
    display: none;
  }
}

.tempDesktop {
  @media BreakpointToMedium {
    display: none;
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 100%;
  align-items: center;

  padding: 0 0.75rem;

  @media BreakpointFromMedium {
    flex: 1;
    justify-content: flex-end;
    padding: 0;
  }
}

.errorTooltipDesktop {
  display: none;
  position: fixed;
  @media ScreenSMMin {
    display: inherit;
  }
}

.errorMessage {
  composes: textRegular from 'styles/typography.css';
  color: DarkRadish;
  box-shadow: 0px 2px 5px Radish;
}
