@value Coconut from 'styles/colors.css';

.container {
	composes: paddingMDLeftRight from 'sass-loader!styles/spacing.scss';
}

.accountWrap {
	background-color: Coconut;
	margin-bottom: 25px;
}

.accountContainer {
	composes: accountContainer from 'styles/layout.css';
	composes: paddingMDTopBottom from 'sass-loader!styles/spacing.scss';
}
