@value BreakpointToSmall, colorFS-50 from '../../values.module.css';

.signupCTA .signupCTAInnerContainer {
  @media BreakpointToSmall {
    width: 18.5rem;
  }
}

.signupCTA .signupCTAInnerContainer {
  transition: all 200ms ease;
  transition-property: border, background;
}
.signupCTA .signupCTAInnerContainer:hover {
  background-color: colorFS-50;
}
