{% if environment_name != 'dev' %}
  resolver {{resolver.stdout}}; # http://gc-taylor.com/blog/2011/11/10/nginx-aws-elb-name-resolution-resolvers/
{% endif %}
server {
  listen       {{ ngnix_port }};
  server_name  localhost;

  location / {
    proxy_pass http://localhost:{{ node_server_port }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}
