@value ScreenXXSMin from 'styles/screenSizes.css';

.headerContainer {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header {
	composes: headerMD headlineFont from 'styles/typography.css';
	composes: inlineBlock from 'styles/display.css';
}

.padlockIcon {
	composes: padlockIcon from 'styles/icons.css';
}

.textSM {
	composes: textSM from 'styles/typography.css';
	composes: noMargin from 'sass-loader!styles/spacing.scss';
}

.boldInfo{
	composes: textSM from 'styles/typography.css';
	composes: marginXSBottom from 'sass-loader!styles/spacing.scss';
}

