@value Radish from 'styles/colors.css';
@value ScreenXSMax, ScreenSMMax, ScreenMDMin from 'styles/screenSizes.css';

.formRow {
	display: flex;
	padding-top: 10px;
	@media ScreenXSMax {
		flex-direction: column;
	}
}

.cardRow {
	justify-content: flex-start;
}

.inputTitle {
	composes: avenirBook, textBold, textMD from 'styles/typography.css';
	font-weight: bold;
}

.formItemName {
	flex: 0 0 100%;
}

.formItemCardNumber {
	padding-right: 20px;
}

.question {
	padding: 0 14px;
	composes: fa-basic-class fa-question-circle from 'styles/vendor/font-awesome-module.css';
	font-size: 25px;
	align-self: center;
}

.row {
	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
	padding-top: 15px;
}
.separator {
	align-self: top;
	composes: inputTitle;
	font-size: 30px;
	padding: 0 10px;
}

.formItemSecurityCode {
	width: 160px;
}

.formItemCardType {
	width: 190px;
	align-self: top;
	@media ScreenXSMax {
		padding-top: 10px;
	}
}

.formCardMonth {
	align-self: top;
	width: 80px;
	@media ScreenXSMax {
		width: 100px;
	}
}

.formCardYear {
	align-self: top;
	width: 90px;
	@media ScreenXSMax {
		width: 110px;
	}
}

.errorMessage {
	font-size: 13px;
	color: Radish;
}

.nowrap {
	white-space: nowrap;
}

.iconCard {
	width: 64px;
	height: 40px;
}

.iconCardObverse {
	composes: iconCard;
	margin-left: 30px;
	margin-bottom: 10px;
	@media ScreenSMMax {
		margin-left: 0px;
		margin-right: 10px;
		margin-bottom: 0px;
	}
}

.iconCardReverse {
	composes: iconCard;
	float: left;
}

.creditCard {
	composes: flex rowReverse flexEnd verticalCenter from 'styles/flex.css';
}

.visa {
	composes: fa-basic-class  fa-cc-visa from 'styles/vendor/font-awesome-module.css';
	composes: paddingSMRight from 'sass-loader!styles/spacing.scss';
}

.mc {
	composes: fa-basic-class fa-cc-mastercard from 'styles/vendor/font-awesome-module.css';
	composes: paddingSMRight from 'sass-loader!styles/spacing.scss';
}

.bottom {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}

.mobileHide {
	@media ScreenSMMax {
		display: none;
	}
}
.mobileOnly {
	@media ScreenMDMin {
		display: none;
	}
}

.securityCodeTooltip {
	flex: 2 0;
	composes: marginSMLeft from 'sass-loader!styles/spacing.scss';
}
