@value BluecheeseLight, LightestAccessible, Oyster from 'styles/colors.css';
@value SpacingLG from 'sass-loader!styles/spacing.scss';
@value BreakpointFromMedium from 'design-language/breakpoints.module.css';

.container {
	composes: textBold from 'styles/typography.css';
	position: relative;
	padding: SpacingLG;
	background-color: BluecheeseLight;
	min-height: inherit;
}

.loading {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFFBB;
	pointer-events: none;
}

.wrapper > div {
	width: 50%;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap
}

.recaptchaContainer {
	display: inline-block;
}

.hide {
	display: none;
}

.checkoutOverhaulContainer {
  composes: sectionRedesignContainer from '../../CheckoutRedesignContainer.css';
}

.paypalSetupBox {
  display: flex;
  composes: fontStyleBody from 'design-language/typography.css';
  margin-bottom: 1rem;

  @media BreakpointFromMedium {
    margin-bottom: 1.25rem;
  }
}

.paypalSetupInfo {
}

.padlockIcon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  margin-right: 0.5rem;
}
