@value Bluecheese, Blueberry, Oyster, Radish from 'styles/colors.module.css';
@value sizeMD from 'styles/typography.module.css';
@value ScreenXSMax from 'styles/screenSizes.module.css';
@value BreakpointFromLarge, BreakpointFromMedium from 'design-language/breakpoints.module.css';
@value HeadingHeightSM: 62px;
@value HeadingHeightLG: 80px;

.hide {
	composes: none from 'styles/display.module.css';
}

.rememberMe {
	composes: marginMDBottom from 'sass-loader!styles/spacing.scss';
	margin-right: 1.75rem;

	@media BreakpointFromMedium {
		width: 50%;
		order: -1;
	}
}

.loginOptionsContainer {
	display: flex;
	flex-direction: column;

	@media BreakpointFromMedium {
		flex-direction: row;
	}
}

.resetFormContainer {
	@media BreakpointFromMedium {
		text-align: right;
		width: 50%;
	}
}

.inputContainer {
	margin-bottom: 1rem;
}

.link {
	composes: fontStyleSubHead from 'design-language/typography.module.css';
	margin-bottom: 1rem;
	display: inline-block;
	color: Oyster;
	border-bottom: 1px solid Oyster;
	transition: all 200ms ease;
	transition-property: color, border;
	text-decoration: none;

	&:link,
	&:visited,
	&:active {
	  color: Bluecheese;
	}

	&:hover,
	&:focus {
	  color: Blueberry;
	  border-color: Blueberry;
	  text-decoration: none;
	}
}

.confirmMsg {
	composes: textCenter from 'styles/typography.module.css';
	padding: 80px 140px;
	@media ScreenXSMax {
		padding-left: 40px;
		padding-right: 40px;
	}
}

.confirm {
	composes: fa-basic-class fa-check from 'styles/vendor/font-awesome-module.css';
	composes: marginXSLeft from 'sass-loader!styles/spacing.scss';
}

.input {
	composes: marginSMBottom from 'sass-loader!styles/spacing.scss';
	font-size: sizeMD;
}

.error {
	composes: fontStyleXS from 'design-language/typography.module.css';
	margin-bottom: 1rem;
	color: Radish;
}

.icon {
	padding-right: 0.25rem;
	composes: fa-basic-class from 'styles/vendor/font-awesome-module.module.css';
}

.errorIcon {
	composes: icon;
	composes: fa-exclamation-circle from 'styles/vendor/font-awesome-module.module.css';
	color: Radish;
}

.appAwarenessLoginForm {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.appAwarenessLoginForm .loginOptionsContainer {
	display: block;
}

.appAwarenessLoginForm .appAwarenessBottomContainer {
	margin-top: auto;
}

.appAwarenessLoginForm .resetFormContainer {
	text-align: left;
	width: 100%;
}

.appAwarenessLoginForm .rememberMe {
	width: 100%;
}

.appAwarenessLoginModal .confirmMsg {
	padding: 1.5rem;
}

.appAwarenessLoginModal {
	height: calc(100% - HeadingHeightSM);
	padding: 0 0.5rem;

	@media BreakpointFromLarge {
		height: calc(100% - HeadingHeightLG);
	}
}
