@value NewGrey from 'styles/colors.css';

.labelContainer {
  display: block;
  margin: 0;
}

.label {
  composes: fontStyleSubHead from 'design-language/typography.css';
  margin-bottom: 0.5rem;
}

.sublabel {
  color: NewGrey;
  composes: fontStyleS from 'design-language/typography.css';
  margin-bottom: 0.5rem;
}
