@value White, Black, Bluecheese from 'styles/colors.css';
@value spinnerSticksWidth: 100%;

.fadingCircle {
	composes: sk-fading-circle from 'sass-loader!spinkit/scss/spinkit.scss';
	margin: 0;
	margin-left: 14px;
	width: 5.5px;
    height: 25px;
}

.circle {
	composes: sk-circle from 'sass-loader!spinkit/scss/spinkit.scss';
	margin:0;

	&.white:before {
		background-color: White !important;
		width: spinnerSticksWidth;
	}

	&.black:before {
		background-color: Black !important;
		width: spinnerSticksWidth;
	}

	&.bluecheese:before {
		background-color: Bluecheese !important;
		width: spinnerSticksWidth;
	}
}

.circle1 {
	composes: sk-circle1 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle2 {
	composes: sk-circle2 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle3 {
	composes: sk-circle3 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle4 {
	composes: sk-circle4 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle5 {
	composes: sk-circle5 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle6 {
	composes: sk-circle6 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle7 {
	composes: sk-circle7 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle8 {
	composes: sk-circle8 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle9 {
	composes: sk-circle9 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle10 {
	composes: sk-circle10 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle11 {
	composes: sk-circle11 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}

.circle12 {
	composes: sk-circle12 from 'sass-loader!spinkit/scss/spinkit.scss';
	composes: circle;
}
