@value Blackberry, DarkRadish, Radish, White from 'styles/colors.css';
@value SpacingXXS, SpacingSM from 'sass-loader!styles/spacing.scss';
@value ScreenSMMin, ScreenXSMax, ScreenMLMax from 'styles/screenSizes.css';

.bsButton {
	composes: inlineBlock from 'styles/display.css';

	@media ScreenMLMax {
		max-width: 200px;
	}
}

.overflowFix {
	overflow: visible;
	border-radius: 5px;
}

.summaryDesktopSegment {
	composes: inlineFlex verticalCenter from 'styles/flex.css';
	composes: paddingXXSTopBottom paddingSMLeftRight from 'sass-loader!styles/spacing.scss';
	text-align: left;
	max-height: none;
	border-radius: 5px;
	padding-top: SpacingXXS;
	padding-bottom: SpacingXXS;
}

.badge {
	composes: noMargin from 'sass-loader!styles/spacing.scss';
	composes: paragraphXS textCenter from 'styles/typography.css';
	composes: absolute from 'styles/position.css';
	right: 0;
	top: 0;
	transform: translate(25%, -25%);
	width: 18px;
	line-height: 18px;
	color: White;
	background-color: Radish;
	border-radius: 20px;
}

.iconDesktop {
	composes: marginXSLeft from 'sass-loader!styles/spacing.scss';
}

.arrowDown {
	composes: fa-basic-class  fa-chevron-down from 'styles/vendor/font-awesome-module.css';
}

.arrowUp {
	composes: fa-basic-class  fa-chevron-up from 'styles/vendor/font-awesome-module.css';
}
