@value Blackberry, White, Basa from 'styles/colors.css';
@value ScreenSMMin from 'styles/screenSizes.css';


.referralCodeCopied {
	composes: paddingXXS from 'sass-loader!styles/spacing.scss';
	background-color: Blackberry;
	box-sizing: content-box;
	color: White;
	height: 20px;
	line-height: 20px;
	position: absolute;
}

.positionTop45 {
	top: 45px;
}

.mobileHide {
	composes: hidden-sm-down from 'sass-loader!styles/bootstrap.scss';
}

.mobileShow {
	composes: hidden-md-up from 'sass-loader!styles/bootstrap.scss';
}

.invisible {
	display: none;
}
