@value ScreenXSMax, ScreenXXSMax from 'styles/screenSizes.css';
@value sizeXXS, sizeXS from 'styles/typography.css';
@value Blackberry, Pomegranate from 'styles/colors.css';

@value padding: 1rem;

.tab {
	composes: textCenter from 'styles/typography.css';
	composes: marginXXLRight from 'sass-loader!styles/spacing.scss';
	color: Blackberry;
	position: relative;
	@media ScreenXSMax {
		margin-right: 0px;
	}

	&:hover, &:focus, &:active {
		cursor: pointer;
		border-bottom: solid 2px Pomegranate;
		color: Pomegranate;
	}
}

.tab > a {
	display: inline-block;
	padding-top: padding;
	padding-bottom: padding;
}

.active {
	border-bottom: solid 2px Pomegranate;
	padding-top: padding;
	padding-bottom: padding;
	color: Pomegranate;
	&:hover, &:focus, &:active {
		cursor: default;
	}
}

.active span:hover {
	text-decoration: none;
}

.bold {
	composes: textBold from 'styles/typography.css';
	color: Pomegranate;
}
