@value ScreenSMMin, ScreenXSMax from 'styles/screenSizes.css';
@value Radish, DarkRadish from 'styles/colors.css';

.hide {
	composes: none from 'styles/display.css';
}

.errorTooltipMobile {
	display: none;
	position: fixed;
	@media ScreenXSMax {
		display: inherit;
	}
}
.errorTooltipDesktop {
	display: none;
	position: fixed;
	@media ScreenSMMin {
		display: inherit;
	}
}

.errorMessage {
	composes: textRegular from 'styles/typography.css';
	color: DarkRadish;
	box-shadow: 0px 2px 5px Radish;
}
