@value White, Bluecheese, Oyster, Mackerel, Pepper30 from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.header {
  composes: fontStyleM from 'design-language/typography.css';
  margin-bottom: 0;
}

.mb0 {
  margin-bottom: 0;
}

.editOrder {
  color: Bluecheese;
  border-bottom: 1px solid Oyster;
  text-decoration: none;
  composes: fontStyleS from 'design-language/typography.css';
  composes: fontBold from 'design-language/typography.css';
  white-space: nowrap;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: White;
  border-bottom: 1px solid Oyster;
  padding: 0 0.75rem 1rem;

  @media BreakpointFromMedium {
    padding: 0 1.5rem 1.5rem;
    border: none;
  }
}

.separator {
  border-bottom: 1px solid Mackerel;
  margin-bottom: 1rem;
}

.deliveryDate {
  margin: 0;
  composes: fontStyleSubHead from 'design-language/typography.css';
}

.deliveryTime {
  composes: fontStyleBody from 'design-language/typography.css';
  text-transform: uppercase;
  margin: 0;
}
