[{{ cfn_service_resource_pm2log }}]
file = /var/log/pm2/server-outerr.log
log_group_name = {{ cfn_service_resource_pm2log }}
log_stream_name = {instance_id}
datetime_format =
multi_line_start_pattern = {datetime_format}
