[{{ cfn_service_resource_pm2log }}]
file = {{ pm2_log_file }}
log_group_name = {{ cfn_service_resource_pm2log }}
log_stream_name = {instance_id}
datetime_format =
multi_line_start_pattern = {datetime_format}
