.notification{
	text-align: center;
	min-height: 3em;
	padding: 10px;
	margin-bottom: 10px;
	@media (max-width: $screen-xs-max) {
		text-align: left;
	}
	&--notify{
		background-color: $color_artichoke;
		box-shadow: 1px 1px 1px 1px $color_gradient_7;
	}
	&--text{
		display: inline-block;
		margin-bottom: 0;
		margin-top: -2px;
	}
	&--link{
		color: $color_gradient_10;
		&:hover{
			color: $color_gradient_10;
		}
		@media (max-width: $screen-xs-max) {
			padding: 0;
		}
		&-text{
			@media (max-width: $screen-xs-max) {
				padding-bottom: 10px;
			}
		}
	}
	&--title{
		@include font-text-bold;
		font-size: 15px;
	}
	&--icon{
		margin-top: 2px;
		padding-right: 10px;
		font-size: 15px;
	}
	&--glyph{
		font-size: 11px;
	}
	&--confirm{
		background-color: $color_maize_light;
		box-shadow: 1px 1px 1px 1px $color_gradient_7;
	}
	&--warning{
		background-color: $color_chilli_light;
		box-shadow: 1px 1px 1px 1px $color_gradient_7;
	}
	&--alert{
		background-color: $color_carrot_light;
		box-shadow: 1px 1px 1px 1px $color_gradient_7;
	}
}
