.container {
	margin: 30px 0;
}

.title {
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-align: center;
	margin: 10px auto;
	font-family: Avenir;
}

.message{
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
	text-align: center;
	font-family: Avenir;
}
