@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value FS-200 #9CDC9E;
@value FS-800 #008610;

.description {
  margin: 0;
  color: FS-200;
  composes: fontStyleXS from 'design-language/typography.css';

  @media ScreenMLMax {
    /* undo display: none from .desktopText */
    display: block;
  }

  @media BreakpointFromMedium {
    color: FS-800;
  }
}

.canCheckout {
  composes: fontSemiBold from 'design-language/typography.css';
}
