@value Bluecheese from 'styles/colors.css';

.cancelRow {
  composes: marginSMTop from 'sass-loader!styles/spacing.scss';
  composes: textCenter from 'styles/typography.css';
}

.cancelLink {
  composes: textSM textCenter from 'styles/typography.css';
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: Bluecheese;
}
