@value White, Mackerel from 'styles/colors.css';
@value BreakpointToMedium, BreakpointFromMedium, BreakpointFromLarge from 'design-language/breakpoints.css';

.boxSizeContainer {
  display: flex;
  flex-wrap: wrap;

  @media BreakpointFromMedium {
    flex-wrap: nowrap;
  }
}

.subtitle {
  margin-bottom: 1rem;
  composes: fontStyleBody from 'design-language/typography.css';

  @media BreakpointFromMedium {
    margin-bottom: 1.5rem;
  }
}

.boxSizeCarousel {
  overflow-x: scroll;
  max-width: calc(100vw - 1.5rem);

  @media BreakpointFromMedium {
    overflow: hidden;
    max-width: 100%;
  }
}

.verticalLayout {
  overflow: hidden;
  max-width: 100%;
}

.boxSizeCarouselInner {
  display: flex;
  justify-content: space-between;
}

.innerVerticalLayout {
  @media BreakpointToMedium {
    display: block;
  }
}

.carouselItem {
  background: White;
  border: 1px solid Mackerel;
  flex-grow: 1;
  margin: 0;
  min-width: 16rem;
  padding: 1rem 0.75rem;

  &:first-child {
    margin-right: 0.75rem;
  }

  @media BreakpointFromLarge {
    max-width: 20.75rem;
    padding: 1.5rem;

    &:first-child {
     margin-right: 0;
    }
  }
}

.verticalLayoutItem {
  &:first-child {
    @media BreakpointToMedium {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

.itemHeading {
  composes: fontStyleL from 'design-language/typography.module.css';
  margin-bottom: 1rem;
}

.suitableTitle {
  margin-bottom: 0.5rem;
  composes: fontStyleBody from 'design-language/typography.css';
}

.list {
  composes: fontStyleBody from 'design-language/typography.css';
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  &::before {
    content: '';
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('media/svgs/icon-success-tick.svg');
  }
}
