@value ScreenXSMax, HeightMDMax, ScreenXSMax from 'styles/screenSizes.css';
@value SpacingXXS, SpacingXS, SpacingSM, SpacingMD from 'sass-loader!styles/spacing.scss';
@value Medium, Small, FontFamilyAxiformaBook from 'design-language/typography.css';
@value NewGrey from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';

.container {
  composes: container-fluid from 'sass-loader!styles/bootstrap.scss';
}

.row {
  composes: row from 'sass-loader!styles/bootstrap.scss';
  composes: marginMDTop from 'sass-loader!styles/spacing.scss';
}

.left,
.right {
  width: 50%;

  @media ScreenXSMax and HeightMDMax {
    width: 100%;
  }
}

.left {
  padding-left: SpacingMD;
  padding-right: calc(SpacingXS * 0.5);

  @media ScreenXSMax and HeightMDMax {
    padding: 0 SpacingSM;
  }
}

.right {
  padding-left: calc(SpacingXS * 0.5);
  padding-right: SpacingMD;

  @media ScreenXSMax and HeightMDMax {
    margin-top: SpacingSM;
    padding: 0 SpacingSM;
  }
}

.subTitlePriceClarity {
  font: normal Medium FontFamilyAxiformaBook;
  color: NewGrey;

  @media BreakpointFromMedium {
    font-size: normal Small FontFamilyAxiformaBook;
  }
}

.boxSizeContainer {
  display: flex;
  flex-wrap: wrap;

  @media BreakpointFromMedium {
    flex-wrap: nowrap;
  }
}

.pricePerServingRow {
  display: flex;
  margin: 2rem -0.75rem 0;
  @media ScreenXSMax {
    width: 34rem;
    margin: 2rem 0 3rem;
  }
}

.pricePerServingRowWrapper {
  @media ScreenXSMax {
    overflow-x: scroll;
    padding-bottom: 1rem;
  }
}
