@value ScreenXSMax, ScreenSMMin from 'styles/screenSizes.css';
@value White, Mackerel from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';

.boxSizeContainer {
  display: flex;
  flex-wrap: wrap;

  @media BreakpointFromMedium {
    flex-wrap: nowrap;
  }
}

.subtitle {
  margin: 0 0 1rem;
  composes: fontStyleBody from 'design-language/typography.css';

  @media ScreenSMMin {
    margin: 0 0 1.5rem;
  }
}

.boxSizeCarouselInner {
  display: flex;
  margin: 2rem -0.75rem 0;
  justify-content: center;

  @media ScreenXSMax {
    width: 34rem;
    margin: 0.5rem 0 1rem;
  }
}

.boxSizeCarousel {
  @media ScreenXSMax {
    overflow-x: scroll;
  }
}

.carouselItem {
  background: White;
  border: 1px solid Mackerel;
  flex-grow: 1;
  margin: 0 0.75rem;
  max-width: 16rem;
  padding: 1rem 0.75rem;

  @media ScreenSMMin {
    max-width: 21rem;
    padding: 1.5rem;

    &:first-child {
     margin-right: 0;
    }
  }
}

.itemHeading {
  composes: fontStyleL from 'design-language/typography.module.css';
  margin-bottom: 1rem;
}

.suitableTitle {
  margin-bottom: 0.5rem;
  composes: fontStyleBody from 'design-language/typography.css';
}

.list {
  composes: fontStyleBody from 'design-language/typography.css';
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  &::before {
    content: '';
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('media/svgs/icon-success-tick.svg');
  }
}
