@value ScreenXXSMin from 'styles/screenSizes.css';

.flexColumnWrap {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.rootContainer {
	composes: flexColumnWrap;
}

.pageContent {
	composes: flexColumnWrap;
	width: 100%;
}

.header {
	display: inline-block;

	@media ScreenXXSMin {
		align-self: center;
	}
}

.header h1 {
	text-align: left;
}

.bodyDescription {
	@media ScreenXXSMin {
		align-self: center;
	}
}

.bodyContent {
	@media ScreenXXSMin {
		align-self: center;
		width: 400px;
	}
}

.bodyContentFullWidth {
	@media ScreenXXSMin {
		width: 100%;
	}
}
