/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/keystonejs/react-select
*/
#root :global .Select {
	position: relative;
}
#root :global .Select,
#root :global .Select div,
#root :global .Select input,
#root :global .Select span {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#root :global .Select.is-disabled > .Select-control {
	background-color: #f9f9f9;
}
#root :global .Select.is-disabled > .Select-control:hover {
	box-shadow: none;
}
#root :global .Select.is-disabled .Select-arrow-zone {
	cursor: default;
	pointer-events: none;
}
#root :global .Select-control {
	background-color: #fff;
	border-color: #d9d9d9 #ccc #b3b3b3;
	border-radius: 4px;
	border: 1px solid #ccc;
	color: #333;
	cursor: default;
	display: table;
	height: 36px;
	outline: none;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#root :global .Select-control:hover {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
#root :global .is-searchable.is-open > .Select-control {
	cursor: text;
}
#root :global .is-open > .Select-control {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: #fff;
	border-color: #b3b3b3 #ccc #d9d9d9;
}
#root :global .is-open > .Select-control > .Select-arrow {
	border-color: transparent transparent #999;
	border-width: 0 5px 5px;
}
#root :global .is-searchable.is-focused:not(.is-open) > .Select-control {
	cursor: text;
}
#root :global .is-focused:not(.is-open) > .Select-control {
	border-color: #007eff;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}
#root :global .Select-placeholder,
#root :global .Select--single > .Select-control .Select-value {
	bottom: 0;
	color: #aaa;
	left: 0;
	line-height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	right: 0;
	top: 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#root :global .has-value.Select--single > .Select-control > .Select-value .Select-value-label,
#root :global .has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value .Select-value-label {
	color: #333;
}
#root :global .has-value.Select--single > .Select-control > .Select-value a.Select-value-label,
#root :global .has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label {
	cursor: pointer;
	text-decoration: none;
}
#root :global .has-value.Select--single > .Select-control > .Select-value a.Select-value-label:hover,
#root :global .has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label:hover,
#root :global .has-value.Select--single > .Select-control > .Select-value a.Select-value-label:focus,
#root :global .has-value.is-pseudo-focused.Select--single > .Select-control > .Select-value a.Select-value-label:focus {
	color: #007eff;
	outline: none;
	text-decoration: underline;
}
#root :global .Select-input {
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	outline-style: none;
}
#root :global .Select-input > input {
	width: 100%;
	background: none transparent;
	border: 0 none;
	box-shadow: none;
	cursor: default;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
	line-height: 14px;
	/* For IE 8 compatibility */
	padding: 8px 0 12px;
	/* For IE 8 compatibility */
	-webkit-appearance: none;
}
#root :global .is-focused .Select-input > input {
	cursor: text;
}
#root :global .has-value.is-pseudo-focused .Select-input {
	opacity: 0;
}
#root :global .Select-control:not(.is-searchable) > .Select-input {
	outline: none;
}
#root :global .Select-loading-zone {
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 16px;
}
#root :global .Select-loading {
	-webkit-animation: Select-animation-spin 400ms infinite linear;
	-o-animation: Select-animation-spin 400ms infinite linear;
	animation: Select-animation-spin 400ms infinite linear;
	width: 16px;
	height: 16px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-right-color: #333;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
#root :global .Select-clear-zone {
	-webkit-animation: Select-animation-fadeIn 200ms;
	-o-animation: Select-animation-fadeIn 200ms;
	animation: Select-animation-fadeIn 200ms;
	color: #999;
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 17px;
}
#root :global .Select-clear-zone:hover {
	color: #D0021B;
}
#root :global .Select-clear {
	display: inline-block;
	font-size: 18px;
	line-height: 1;
}
#root :global .Select--multi .Select-clear-zone {
	width: 17px;
}
#root :global .Select-arrow-zone {
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 25px;
	padding-right: 5px;
}
#root :global .Select-arrow {
	border-color: #999 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 2.5px;
	display: inline-block;
	height: 0;
	width: 0;
}
#root :global .is-open .Select-arrow,
#root :global .Select-arrow-zone:hover > .Select-arrow {
	border-top-color: #666;
}
/* @-webkit-keyframes :global(Select-animation-fadeIn) {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes :global(Select-animation-fadeIn) {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
} */
#root :global .Select-menu-outer {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top-color: #e6e6e6;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}
#root :global .Select-menu {
	max-height: 198px;
	overflow-y: auto;
}
#root :global .Select-option {
	box-sizing: border-box;
	background-color: #fff;
	color: #666666;
	cursor: pointer;
	display: block;
	padding: 8px 10px;
}
#root :global .Select-option:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
#root :global .Select-option.is-selected {
	background-color: #f5faff;
	/* Fallback color for IE 8 */
	background-color: rgba(0, 126, 255, 0.04);
	color: #333;
}
#root :global .Select-option.is-focused {
	background-color: #ebf5ff;
	/* Fallback color for IE 8 */
	background-color: rgba(0, 126, 255, 0.08);
	color: #333;
}
#root :global .Select-option.is-disabled {
	color: #cccccc;
	cursor: default;
}
#root :global .Select-noresults {
	box-sizing: border-box;
	color: #999999;
	cursor: default;
	display: block;
	padding: 8px 10px;
}
#root :global .Select--multi .Select-input {
	vertical-align: middle;
	margin-left: 10px;
	padding: 0;
}
#root :global .Select--multi.has-value .Select-input {
	margin-left: 5px;
}
#root :global .Select--multi .Select-value {
	background-color: #ebf5ff;
	/* Fallback color for IE 8 */
	background-color: rgba(0, 126, 255, 0.08);
	border-radius: 2px;
	border: 1px solid rgba(0, 126, 255, 0.24);
	color: #007eff;
	display: inline-block;
	font-size: 0.9em;
	line-height: 1.4;
	margin-left: 5px;
	margin-top: 5px;
	vertical-align: top;
}
#root :global .Select--multi .Select-value-icon,
#root :global .Select--multi .Select-value-label {
	display: inline-block;
	vertical-align: middle;
}
#root :global .Select--multi .Select-value-label {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	cursor: default;
	padding: 2px 5px;
}
#root :global .Select--multi a.Select-value-label {
	color: #007eff;
	cursor: pointer;
	text-decoration: none;
}
#root :global .Select--multi a.Select-value-label:hover {
	text-decoration: underline;
}
#root :global .Select--multi .Select-value-icon {
	cursor: pointer;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-right: 1px solid #c2e0ff;
	/* Fallback color for IE 8 */
	border-right: 1px solid rgba(0, 126, 255, 0.24);
	padding: 1px 5px 3px;
}
#root :global .Select--multi .Select-value-icon:hover,
#root :global .Select--multi .Select-value-icon:focus {
	background-color: #d8eafd;
	/* Fallback color for IE 8 */
	background-color: rgba(0, 113, 230, 0.08);
	color: #0071e6;
}
#root :global .Select--multi .Select-value-icon:active {
	background-color: #c2e0ff;
	/* Fallback color for IE 8 */
	background-color: rgba(0, 126, 255, 0.24);
}
#root :global .Select--multi.is-disabled .Select-value {
	background-color: #fcfcfc;
	border: 1px solid #e3e3e3;
	color: #333;
}
#root :global .Select--multi.is-disabled .Select-value-icon {
	cursor: not-allowed;
	border-right: 1px solid #e3e3e3;
}
#root :global .Select--multi.is-disabled .Select-value-icon:hover,
#root :global .Select--multi.is-disabled .Select-value-icon:focus,
#root :global .Select--multi.is-disabled .Select-value-icon:active {
	background-color: #fcfcfc;
}
/* @keyframes :global(Select-animation-spin) {
	to {
		transform: rotate(1turn);
	}
}
@-webkit-keyframes :global(Select-animation-spin) {
	to {
		-webkit-transform: rotate(1turn);
	}
} */
