@import '../../config/main';

#good-rating-modal {
	h5 {
		margin-top: 20px;
	}

	.share-buttons {
		display: inline-table;
		.btn {
			display: inline-block;
			width: 49%;
			@media (max-width: 600px) {
				width: 100%;
			}
			margin: 2px;
			color: $color_gradient_1;
		}
	}
}
