@value Haricot, HaricotMedium from 'styles/colors.css';
@value BreakpointFromMedium from 'design-language/breakpoints.module.css';

.helperText {
	text-align: center;
	padding: 1rem 0.625rem 0.625rem;
	font-size: 1rem;
}

.helperHighlighted {
	color: Haricot;
	font-weight: bold;
}

.tick {
	composes: fa-basic-class fa-fw fa-check from 'styles/vendor/font-awesome-module.css';
	color: HaricotMedium;
	font-size: 1.25rem;
}

.checkoutOverhaulContainer {
  margin-bottom: 1.5rem;

  @media BreakpointFromMedium {
    margin-bottom: 2rem;
  }

  /* Temporary; short-term it should be applied at the level of CheckoutButton; long-term in ui-components/CTA. */
  & > button {
    height: 3rem;
  }

  & > button > span {
    padding: 0.5rem;
  }
}
