@value Cacao, Chia from 'styles/colors.css';

.icon {
  composes: fa-basic-class fa-calendar fa-fw from 'styles/vendor/font-awesome-module.css';
  color: Cacao;
}

.description {
  composes: paragraphXS from 'styles/typography.css';
  color: Chia;
}
