@value Blackberry, Blueberry, Bluecheese, White from 'styles/colors.css';
@value SpacingXS from 'sass-loader!styles/spacing.scss';
@value PrimaryBorderColor, PrimaryHoverBorderColor, NegativeBorderColor from 'styles/buttons.css';

.container {
	composes: row center from 'styles/flex.css';
	composes: borderSM from 'styles/borders.css';
	position: relative;
	display: flex;
	border-color: PrimaryBorderColor;

	&.fill:not(.disabled) {
		&:hover, &:active, &:focus {
			border-color: PrimaryHoverBorderColor;
		}
	}
}

.secondary {
	&.noFill {
		border-color: Blackberry;

		&:not(.disabled) {
			&:hover, &:active, &:focus {
				border-color: Bluecheese;
			}
		}
	}

	&.fill {
		border-color: Bluecheese;

		&:not(.disabled) {
			&:hover, &:active, &:focus {
				border-color: Blueberry;
			}
		}
	}
}

.tertiary {
	border: none;
}

.negative {
	border-color: NegativeBorderColor;

	&.fill:not(.disabled) {
		&:hover, &:active, &:focus {
			border-color: NegativeBorderColor;
		}
	}
}

.disabled {
	opacity: 0.6;
}

.widthAuto {
	display: inline-flex;
}

.spinnerContainer {
	display: none;
	padding: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	bottom: 0;
	top: 0;
	border-color: transparent;
}

.spinner {
	display: block;
	width: 36px;
	height: 25px;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.spinnerShow {
	opacity: 0.8;
	z-index: 99;
	display: block;
}
