@value RadiusXS from 'styles/borders.css';
@value ScreenXSMax from 'styles/screenSizes.css';
@value sizeMD from 'styles/typography.css';
@value (
	PrimaryColor, PrimaryBgColor, PrimaryHoverColor, PrimaryHoverBgColor, 
	SecondaryColor, SecondaryBgColor, SecondaryHoverColor, SecondaryHoverActiveColor,
	TertiaryColor, TertiaryBgColor, TertiaryBorderColor, TertiaryHoverColor, TertiaryHoverActiveColor,
	NegativeColor, NegativeBgColor, NegativeHoverColor, NegativeHoverBgColor
) from 'styles/buttons.css';

.base {
	composes: textUpper textMD from 'styles/typography.css';
	composes: outlineNone from 'styles/borders.css';
	cursor: pointer;
	user-select: none;
	max-height: 39px;
	line-height: 39px;
	text-align: center;
	width: 100%;
	overflow: hidden;
	border-width: 0;
	transition: 0.15s all;
	padding-top: 1px;
	padding-bottom: 0;
}

.autoWidthPadding {
	composes: paddingMDTopBottom paddingMDLeftRight from 'sass-loader!styles/spacing.scss';
}

.large {
	width: 60%;
	min-width: 30%;
}

.small {
	font-size: sizeMD;
	min-width: 35px;
	width: 20%;
}

.shortLarge {
	composes: large;
	line-height: 30px;
	padding: 0;
}

.shortSmall {
	composes: small;
	line-height: 30px;
}

.tertiary {
	&:nth-child(2) {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	
	&:not(:first-child):not(:nth-child(2)) {
		margin-left: -1px;
	}

	&:last-child {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}

.noFill {
	&.primary {
		color: PrimaryColor;
		background-color: PrimaryBgColor;

		&:not(.noHover):not(.disabled) {
			&:hover, &:active {
				color: PrimaryBgColor;
				background-color: PrimaryColor;
			}
		}
	}

	&.secondary {
		color: SecondaryColor;
		background-color: SecondaryBgColor;

		&:not(.noHover):not(.disabled) {
			&:hover, &:active {
				color: SecondaryHoverColor;
				background-color: SecondaryBgColor;
			}
		}
	}

	&.tertiary {
		color: TertiaryColor;
		background-color: TertiaryBgColor;
		border: 1px solid TertiaryBorderColor;

		&:not(.noHover):not(.disabled) {
			&:hover, &:active {
				z-index: 2;
				color: TertiaryHoverColor;
				background-color: TertiaryBgColor;
				border: 1px solid TertiaryHoverColor;
			}
		}
	}
}

.fill {
	&.primary {
		color: PrimaryBgColor;
		background-color: PrimaryColor;

		&:not(.noHover):not(.disabled) {
			&:hover, &:active {
				color: PrimaryHoverColor;
				background-color: PrimaryHoverBgColor;
			}
		}
	}

	&.secondary {
		color: SecondaryHoverColor;
		background-color: SecondaryBgColor;

		&:not(.noHover):not(.disabled) {
			&:hover, &:active {
				color: SecondaryHoverActiveColor;
				background-color: SecondaryBgColor;
			}
		}
	}

	&.tertiary {
		z-index: 2;
		color: TertiaryHoverColor;
		background-color: TertiaryBgColor;
		border: 1px solid TertiaryHoverColor; 

		&:not(.noHover):not(.disabled) {
			&:hover, &:active {
				color: TertiaryHoverActiveColor;
				background-color: TertiaryBgColor;
				border: 1px solid TertiaryHoverActiveColor;
			}
		}
	}

	&.negative {
		color: NegativeColor;
		background-color: NegativeBgColor;

		&:not(.noHover):not(.disabled) {
			&:hover, &:active {
				color: NegativeHoverColor;
				background-color: NegativeHoverBgColor;
			}
		}
	}
}

.noHover {
	cursor: default;
}

a .noDecor:hover {
	text-decoration: none;
}

.disabled {
	opacity: 0.6;
}
