@value Blackberry, White, Basa from 'styles/colors.css';

.linkContainer {
	min-height: 40px;
	padding: 7px;
	overflow: hidden;
	border: 1px #979797 dashed;
	border-radius: 3px;
}

.link {
	composes: textBold from 'styles/typography.css';
}

.referralCodeCopied {
	composes: paddingXXS from 'sass-loader!styles/spacing.scss';
	background-color: Blackberry;
	box-sizing: content-box;
	color: White;
	height: 20px;
	position: absolute;
	top: 45px;
}

.mobileHide {
	composes: hidden-sm-down from 'sass-loader!styles/bootstrap.scss';
}

.mobileShow {
	composes: hidden-md-up from 'sass-loader!styles/bootstrap.scss';
}

.invisible {
	display: none;
}
