@value White from 'styles/colors.css';
@value ScreenXXSMax from 'styles/screenSizes.css';

.bottomBar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 80px;
	background: White;

	@media ScreenXXSMax {
		height: 85px;
		padding: 15px;
		bottom: 0;
		left: 0;
		position: fixed;
		box-shadow: 0 -3px 15px 0 rgba(51, 61, 71, 0.3);
	}
}
