@value ScreenXSMax, HeightSMMax, HeightMDMax from 'styles/screenSizes.css';
@value SpacingXXS, SpacingXS, SpacingSM, SpacingMD from 'sass-loader!styles/spacing.scss';

.container {
	composes: container-fluid from 'sass-loader!styles/bootstrap.scss';
}

.row {
	composes: row from 'sass-loader!styles/bootstrap.scss';
	composes: marginMDTop from 'sass-loader!styles/spacing.scss';
}

.left, .right {
	width: 50%;
	@media ScreenXSMax and HeightMDMax {
		width: 100%;
	}
}

.left {
	padding-left: SpacingMD;
	padding-right: calc(SpacingXS * .5);

	@media ScreenXSMax and HeightMDMax {
		padding: 0 SpacingSM;
	}
}

.right {
	padding-left: calc(SpacingXS * .5);
	padding-right: SpacingMD;

	@media ScreenXSMax and HeightMDMax {
		margin-top: SpacingSM;
		padding: 0 SpacingSM;
	}
}

.dropdown :global .Select-menu-outer {
	max-height: 130px;

	@media HeightSMMax {
		max-height: 92px;
	}
}

.dropdown :global .Select-menu {
	max-height: 130px;
	overflow-y: auto;

	@media HeightSMMax {
		max-height: 92px;
	}
}

.radio {
	margin-right: 7px;
	margin-top: 1px;
}

.modal {
	padding: 22px;
	min-width: 342px;
	max-width: 342px;
	min-height: 610px;
}

.modalTitleDiv {
	font-family: 'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
    width: 260px;
    margin-bottom: 100px;
}

.modalFirstTitle {
	border-width: 0px;
	position: absolute;
	top: 34px; /* 45px; */
	left: 16px;
	white-space: nowrap;
}

.modalSecondTitle {
	border-width: 0px;
	position: absolute;
	top: 66px; /* 72px; */
	left: 80px;
	white-space: nowrap;
}

.modalrow {
	display: block;
	composes: marginMDTopBottom from 'sass-loader!styles/spacing.scss';
}

.label {
	margin-bottom: 0px;
}

.iconDeliverySection {
	height: 170px;
	composes: flex rowWrap from 'styles/flex.css';
	composes: marginLGTopBottom from 'sass-loader!styles/spacing.scss';
}

.iconDelivery {
	width: 250px;
	height: 250px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -20%);
}
