@value ScreenXSMax, HeightSMMax, HeightMDMax from 'styles/screenSizes.css';
@value SpacingXXS, SpacingXS, SpacingSM, SpacingMD from 'sass-loader!styles/spacing.scss';

.container {
	composes: container-fluid from 'sass-loader!styles/bootstrap.scss';
}

.row {
	composes: row from 'sass-loader!styles/bootstrap.scss';
	composes: marginMDTop from 'sass-loader!styles/spacing.scss';
}

.left, .right {
	width: 50%;
	@media ScreenXSMax and HeightMDMax {
		width: 100%;
	}
}

.left {
	padding-left: SpacingMD;
	padding-right: calc(SpacingXS * .5);

	@media ScreenXSMax and HeightMDMax {
		padding: 0 SpacingSM;
	}
}

.right {
	padding-left: calc(SpacingXS * .5);
	padding-right: SpacingMD;

	@media ScreenXSMax and HeightMDMax {
		margin-top: SpacingSM;
		padding: 0 SpacingSM;
	}
}

.dropdown :global .Select-menu-outer {
	max-height: 130px;
	
	@media HeightSMMax {
		max-height: 92px;
	}
}

.dropdown :global .Select-menu {
	max-height: 130px;
	overflow-y: auto;

	@media HeightSMMax {
		max-height: 92px;
	}
}

