@value SpacingMD from 'sass-loader!styles/spacing.scss';
@value ScreenXSMax from 'styles/screenSizes.css';
@value BreakpointFromMedium, BreakpointToLarge, BreakpointFromLarge from 'design-language/breakpoints.css';
@value Mackerel from 'styles/colors.css';

.rowCheckout {
  composes: row from 'sass-loader!styles/bootstrap.scss';
  width: 100%;
  margin: 0 auto;
}

.rowCheckoutRedesign {
  padding: 0;

  @media BreakpointFromMedium and BreakpointToLarge {
    max-width: 36rem;
    padding: 0 2rem;
    display: block;
  }

  @media BreakpointFromLarge {
    padding: 0 2rem;
  }
}

.col {
  composes: col-xs-12 from 'sass-loader!styles/bootstrap.scss';
}

.section {
  composes: col;
  composes: col-md-7 from 'sass-loader!styles/bootstrap.scss';
}

.sectionRedesign {
  padding: 0;

  @media BreakpointFromMedium and BreakpointToLarge {
    max-width: 36rem;
  }

  @media BreakpointFromLarge {
    padding: 0 1.5rem 0 0;
  }
}

.aside {
  composes: col;
  composes: col-md-5 from 'sass-loader!styles/bootstrap.scss';
  @media ScreenXSMax {
    margin-top: SpacingMD;
  }
}

.asideRedesign {
  padding: 0;
  display: none;

  @media BreakpointFromMedium {
    display: block;
    border: 1px solid Mackerel;
    height: 100%;
  }

  @media BreakpointFromMedium and BreakpointToLarge {
    max-width: 36rem;
  }
}

.checkoutContent {
  composes: rowCheckout;
  composes: pageContainerLG from 'styles/layout.css';
  composes: marginXXLTopBottom from 'sass-loader!styles/spacing.scss';
  padding-top: 20px;
  padding-bottom: 15px;
}

.checkoutContentRedesign {
  padding: 0 0 1rem 0;
  margin: 0 auto;

  @media BreakpointFromMedium {
    padding: 2rem;
    display: block;
  }

  @media BreakpointFromLarge {
    padding: 3rem 2rem;
  }
}

.menuTitle {
  composes: headerXXL from 'styles/typography.css';
  composes: noMargin noPadding from 'sass-loader!styles/spacing.scss';
}

.subHeader {
  composes: relative from 'styles/position.css';
  composes: hidden-sm-down from 'sass-loader!styles/bootstrap.scss';
  background: White;
  z-index: 1;
}

.subHeaderContent {
  composes: pageContainer from 'styles/layout.css';
  composes: paddingSMTop paddingXXSBottom from 'sass-loader!styles/spacing.scss';
}

.mobileButton {
  composes: fixed from 'styles/position.css';
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
}

.errorContainer {
  margin-top: 10px;
}

.modal {
  position: relative !important;
  left: inherit !important;
  top: 0 !important;
  transform: inherit !important;
  min-width: 288px;
  width: 60% !important;
  margin: 0 auto !important;
  box-shadow: none !important;
  max-width: 650px !important;
  border-radius: 0px !important;
  padding: 1rem !important;
  @media ScreenXSMax {
    width: 98% !important;
  }
}

.modalContainer {
  width: 100%;
}

.modalOverlay {
  display: flex;
  align-items: center;
  padding: 1rem;
}
