@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value FontFamilyAxiformaBook from 'design-language/typography.css';
@value Mackerel, White, Oyster, Bluecheese, Radish from 'styles/colors.css';

.sectionRedesignContainer {
  border-bottom: 1px solid Mackerel;
  border-top: 1px solid Mackerel;
  padding: 1rem 0.75rem 1.5rem;
  margin-bottom: 1rem;
  background: White;

  @media BreakpointFromMedium {
    border: 1px solid Mackerel;
    padding: 1.5rem 1.5rem 2rem;
    margin-bottom: 1.5rem;
  }

  button {
    height: 3rem;
  }
}

.inputContainer {
  max-width: 100%;
  flex: 0 0 100%;
  margin: 0 0 1rem 0;
  padding: 0;
  font-family: FontFamilyAxiformaBook, Helvetica, sans-serif;
  border-radius: 3px;

  @media BreakpointFromMedium {
    margin: 0 0 1.5rem 0;
  }
}

.inputRedesign {
  composes: fontStyleBody from 'design-language/typography.css';
  padding: 0 0.75rem;
  border-color: Oyster;
  display: flex;
  align-items: center;
  min-height: 3rem;
  height: 3rem;

  &:hover {
    border: 1px solid Bluecheese !important;
  }

  &:focus {
    border: 2px solid Bluecheese !important;
  }
}

.inputErrorRedesign {
  background: White;
  border: 2px solid Radish;
  box-shadow: none;
}

.prefixPadding {
  padding-left: 4rem;
}

.relative {
  position: relative;
}

.fieldHeader {
  composes: fontStyleSubHead from 'design-language/typography.css';
  margin-bottom: 0.5rem;
}
