@value Apricot, Bluecheese, White, Blackberry, Mackerel from 'styles/colors.css';
@value Screen3XSMin from 'styles/screenSizes.css';
@value bannerOffset -80px;

.appBannerWrapper {
  margin-top: bannerOffset;
  background: url('media/images/app-promo-banner-background.png') center top no-repeat;
  display: flex;
  background-color: ##343579;
  color: White;

  animation: appBannerAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;

  @media Screen3XSMin {
    font-size: initial;
  }
}

.closeButton {
  background: none;
  border: none;
  color: White;
  display: flex;
  padding: 2rem 1rem;
}

.closeIcon {
  fill: White;
  height: 16px;
  width: 16px;
}

.appLink {
  align-items: center;
  display: flex;
  padding: 10px;
  color: #1e2c48;
  background: White;
  font-weight: 900;
  margin: 1rem 0.75rem;
  border: 0;
  border-radius: 3px;
  padding: 0.75rem 1rem;

  animation: installCTAAnimation 0.3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2.9s;

  & > div > div:last-child {
    text-transform: none;
    font-weight: 600;
  }

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

@keyframes installCTAAnimation {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appBannerAnimation {
  0% {
    margin-top: bannerOffset;
  }
  100% {
    margin-top: 0;
  }
}
