@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value spacingS, spacingM from 'routes/ShowcaseMenu/showcaseMenuStyles.css';

.showcaseMenuContainer {
  width: 100%;
  height: 100%;
}

.heading {
  composes: fontStyle3XL from 'design-language/typography.css';
  max-width: 75rem;
  margin: 0 auto 1rem;
  padding: 0 spacingS;

  @media BreakpointFromMedium {
    padding: 0 spacingM;
    margin-bottom: 1.5rem;
  }
}
