@value BreakpointToMedium, BreakpointFromMedium from 'design-language/breakpoints.css';
@value White from 'styles/colors.css';
@value CG100, CG800, spacingS, spacingM from 'routes/ShowcaseMenu/showcaseMenuStyles.css';
@value iconSize 1.25rem;
@value cardWidth 15rem;
@value spaceBetweenCards 1rem;

.recipesContainer {
  display: flex;
  padding: 0 spacingS;

  @media BreakpointFromMedium {
    padding: 0 spacingM;
  }

  /* Note: overflow: scroll ignores padding-right.  Force the space to be visible
     anyway with an empty element. */
  &::after {
    content: "";
    flex: 0 0 spacingS;

    @media BreakpointFromMedium {
      flex: 0 0 spacingM;
    }
  }
}

.loadingRecipeCard {
  width: cardWidth;
  margin-right: spaceBetweenCards;
}

.loadingImage {
  width: cardWidth;
  height: cardWidth;
  background: CG100;
  margin-bottom: 0.5rem;
}

.loadingDetails {
  padding: 1rem;
}

.loadingLine {
  width: 100%;
  height: 0.5rem;
  background: CG100;
  margin-bottom: 1rem;
}

.loadingStars {
  height: iconSize;
  width: 6.25rem; /* iconSize * 5 */
  background: url('routes/ShowcaseMenu/images/icon-hollow-star.svg') repeat-x;
}

.recipeCardWrapper {
  text-decoration: none;
  flex: 0 0 cardWidth;
  width: cardWidth;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  text-align: left;
  cursor: pointer;

  img {
    left: 0;
    top: 0;
  }

  &:not(:last-child) {
    margin-right: spaceBetweenCards;
  }

  &:hover {
    text-decoration: none;
  }
}

.arrowButton {
  position: absolute;
  top: 7.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.2s;
  background-color: CG800;
  border: 1px solid White;
  pointer: cursor;

  &:hover {
    opacity: 1;
  }

  @media BreakpointToMedium {
    display: none;
  }
}

.leftArrowButton {
  left: spacingS;

  @media BreakpointFromMedium {
    left: spacingM;
  }
}

.rightArrowButton {
  right: spacingS;

  @media BreakpointFromMedium {
    right: spacingM;
  }
}

.leftArrowIcon {
  width: 100%;
  height: 100%;
  background: url('routes/ShowcaseMenu/images/icon-arrow-left.svg') center no-repeat;
}

.rightArrowIcon {
  width: 100%;
  height: 100%;
  background: url('routes/ShowcaseMenu/images/icon-arrow-right.svg') center no-repeat;
}

.invisible {
  opacity: 0;
  pointer-events: none;

  &:hover {
    opacity: 0;
  }
}
