@value Bluecheese, Bluecheese50, White from 'styles/colors.css';
@value sizeSM from 'styles/typography.css';
@value SpacingXXS from 'sass-loader!styles/spacing.scss';
@value TertiaryBgColor from 'styles/buttons.css';

.label {
	composes: textBold from 'styles/typography.css';
	font-size: sizeSM;
	text-transform: none;
}
.blockLabel {
    composes: label;
    composes: block from 'styles/display.css';
}
.inlineLabel {
    composes: label;
    margin-left: SpacingXXS;
}
.fullWidth {
	composes: inlineBlock from 'styles/display.css';
    width: 100%;
    position: relative;
}
.compact {
    line-height: 19px;
}

.disabledLine {
    height: 1px;
    background-color: Bluecheese50;
    position: absolute;
}

.disabledLine1 {
    composes: disabledLine;
    transform: translateY(18px) rotate(20deg);
    width: 100%;
}

.disabledLine2 {
    composes: disabledLine;
    transform: translateY(18px) rotate(-20deg);
    width: 100%;
}

.bigDisabledLine1 {
    composes: disabledLine;
    transform: rotate(7deg);
    top: 19px;
    width: 113%;
}

.bigDisabledLine2 {
    composes: disabledLine;
    transform: rotate(-7deg);
    top: 19px;
    left: -36px;
    width: 113%;
}
