@import '../config/main';
body.account {
	// General styles
	.wrapper {
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
		float: none;
		color: $Blackberry;
	}
	.row {
		margin-bottom: 0;
	}
	.account-content-container {
		margin-top: 25px;
		margin-bottom: 40px;
		.account-block-outer {
			padding: 0;
		}
		.account-block-inner {
			overflow: auto;
			background-color: $color_gradient_1;
			padding: 0 20px;
			> .col-sm-12 {
				padding: 0;
			}
		}
	}
	@media (max-width: 767px) {
		.account-content-container {
			padding: 0;
		}
	}
	.account-heading {
		.heading-title {
			font-size: 25px;
			@include font-text-bold;
			color: $color_gradient_7;
			margin: 10px 0;
		}
		.heading-text {
			padding-bottom: 20px;
			font-size: 15px;
		}
	}
	.account-text {
		font-size: 14px;
	}
	.standout-text {
		color: $color_primary;
		font-size: 22px;
		@include font-text-bold;
	}
	input[type="text"], input[type="tel"], input[type="email"], select {
		margin: 5px 0;
		border-color: $color_gradient_4;
		color: $color_secondary;
		&:focus {
			border-color: $color_gradient_5;
			box-shadow: none;
			outline: none;
		}
	}
	button.account-function {
		border: none;
		background: none;
		padding: 0;
		text-transform: uppercase;
		color: $color_secondary;
		&:focus {
			outline: none;
		}
		&:hover {
			color: $color_primary;
		}
	}
	.glyphicon-remove {
		top: 2px;
	}
	@media (max-width: 767px) {
		.account-heading {
			.heading-title {
				text-transform: uppercase;
				font-size: 16px;
				line-height: 65px;
				padding: 0 10px;
				margin: 0;
			}
			.heading-text {
				padding: 0px 10px 40px 10px;
				a.text-link {
					color: $color_secondary;
				}
			}
		}
		hr {
			margin: 15px 0 13px 0;
		}
	}

	#referral-image-container {
		height: 200px;
		&-desktop{
			margin-top: 10px;
		}
	}
	#referral-text {
		margin: 25px 0;
		@media (max-width: $screen-xs-max) {
			margin: 25px 10px;
		}
	}
	#referral-code-container {
		padding-left: 0;
		padding-right: 25px;
	}
	#referral-code-box {
		border: 1px solid $color_gradient_3;
		height: 40px;
	}
	#referral-share-links {
		@media (min-width: 767px) {
			width: 45%;
			height: 40px;
			border-left: 1px solid $color_gradient_3;
			padding-left: 25px;
		}
	}
	// End referrals section

	// Choose Address Form
	.address-form {
		input {
			&:first-child {
				margin: 10px 0;
			}
		}
	}
	.address-box {
		background-color: $color_gradient_1;
		border: 1px solid $color_gradient_4;
		padding: 10px;
		margin-bottom: 10px;
		.address-check-box {
			color: $color_primary;
			&:hover {
				color: $color_primary_hover;
			}
			&:disabled {
				color: $color_secondary;
			}
		}
		&.active {
			.address-check-box {
				color: $color_primary;
				&:disabled {
					color: $color_secondary;
				}
			}
		}
		.address-text {
			p {
				margin-bottom: 0;
			}
		}
		.address-buttons {
			overflow: auto;
			text-transform: uppercase;
			font-size: 14px;
			.address-delete {
				margin-left: 5px;
			}
			.address-edit:enabled:hover {
				color: $color_primary;
			}
			.address-cancel, .address-delete{
				&:enabled:hover{
					color: $color_primary;
				}
				&:disabled{
					color: $color_gradient_5;
				}
			}
			.address-name {
				@include font-text-bold;
			}
			.glyphicon {
				padding-right: 5px;
			}
		}
		input {
			&:first-child {
				margin: 10px 0;
			}
			&.address-first-line {
				margin-top: 15px;
			}
		}
		.leave-box-custom .leave-box-input {
			margin-top: 0;
		}
		&.button-style {
			&:hover {
				.address-buttons {
					.address-name {
						color: $color_secondary;
					}
				}
				background-color: $color_gradient_3;
				@include cursor-pointer;
			}
		}
		.account-postcode-container {
			width: 130px;
			label {
				display: inline-block;
			}
		}
		.account-postcode-lookup {
			margin: 10px 0 0 10px;
		}
		.account-address-list {
			color: $color_primary;
				select {
					height: 34px;
					&:focus {
						border-color: $color_gradient_5;
						box-shadow: none;
						outline: none;
					}
				}
		}
		.account-address-cant-find {
			display: none;
		}
		.account-address-details {
			margin-top: 10px;
			position: relative;

			input[readonly] {
				background: transparent;
				color: $color_gradient_7;
				border: none;
				padding: 0;
				box-shadow: none;
				cursor: default;
				height: auto;

				&.empty {
					display: none;
				}
			}

			&-edit {
				position: absolute;
				right: 0;
				bottom: 0;
				display: none;
				text-transform: uppercase;
				color: $color_gradient_7;

				&:hover {
					color: $color_secondary;
				}
				&:disabled{
					color: $color_gradient_5;
				}
			}
		}
	}


	.add-new-address {
		overflow: auto;
		margin-bottom: 20px;
		color: $color_primary;
		span.glyphicon-plus, .new-address-text {
			color: $color_primary;
		}
		.new-address-text {
			text-transform: uppercase;
			@include font-text-bold;
			color: $color_primary;
		}
	}
	.celeb-banner {
		margin-top: 10px;
		.heading-title {
			font-size: 25px;
			color: $color_gradient_7;
			margin-top: 10px;
		}
	}
}
