@import '../config/main';
body.deliveries {
	.account-block-outer {
		&#orders-sidebar {
			padding-right: 20px;
			.account-block-inner {
				padding: 0;
				background-color: $color_background;
			}
		}
		&#order-summary-container {
			@media (max-width: 767px) {
				padding: 0;
			}
		}
	}
	.account-block-inner {
		p {
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.glyphicon {
			padding-right: 5px;
			color: $color_secondary;
		}
		.glyphicon-check {
			color: $color_primary;
		}
		.glyphicon-unchecked {
			color: $color_primary;
		}
		&.order-container {
			padding: 0 20px;
			background-color: $color_gradient_1;
			@include vendor-prefix(transition, all 0.3s ease);
			max-height: 0;
			opacity: 0;
			&.displayed {
				opacity: 1;
				max-height: 10000px;
			}
		}
	}
	.order-row {
		padding: 20px 0;
		border-bottom: 1px solid $color_gradient_4;
		float: none;
		&:last-child {
			border-bottom: none;
		}
		.projected-delivery-message {
			display: none;
			&.active {
				display: block;
			}
		}
		.order-choose-address {
			padding-top: 10px;
			.add-new-address {
				margin-bottom: 5px;
			}
		}
		.order-item-grid {
			img {
				margin-bottom: 8px;
				&.product{
					position: absolute;
					left: 50%;
					top: 50%;
					height: 100%;
					width: auto;
					-webkit-transform: translate(-50%,-50%);
					    -ms-transform: translate(-50%,-50%);
					        transform: translate(-50%,-50%);
			        max-width: none;
				}
			}
			.order-item-title {
				color: $color_secondary;
				font-size: 15px;
				padding: 3px 0;
			}
			.order-item-upsell {
				color: $color_gradient_5;
				margin: 0px;
				margin-bottom: 58px;
				padding: 0px 10px 10px 10px;
				align-self: stretch;
				vertical-align: top;
				max-height: 32%;
				p {
					padding-bottom: 15px;
				}
				@media (min-width: 768px) and (max-width: 1024px) {
					display: block;
					min-width: 100%;
					margin: 0 auto;
				}
				@media (max-width: 767px) {
					display: block;
					margin: 15px auto;
				}
			}
			.order-item {
				margin-bottom: 15px;
			}
			.order-item-col {
				padding: 0;
			}
		}
		.order-pricing {
			overflow: auto;
			p {
				margin-bottom: 0;
			}
			.discount-info {
				color: $color_green;
				padding: 0 10px 10px 10px;
				font-size: 14px;
			}
			.price-per-portion, .products-total, .delivery-charge {
				padding: 0 10px 10px 10px;
				font-size: 14px;
			}
			.box-price {
				background-color: $color_gradient_1;
				padding: 10px;
				p {
					font-size: 16px;
					@include font-text-bold;
					span.box-price-pence {
						font-size: 12px;
					}
				}
			}
		}
		.order-options {
			overflow: auto;
			.order-option-buttons {
				overflow: auto;
				&:before {
					margin: 20px 0 10px 0;
					display: block;
					content: '';
					border-bottom: 1px solid $color_gradient_4;
				}
			}
			.skip-order {
				padding-left: 0;
				padding-right: 5px;
			}
			.edit-order {
				padding-right: 0;
				padding-left: 5px;
			}
		}
	}
	.order-row {

		.muted-div{
			position: relative;

			&:before {
				content: ' ';
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				opacity: 0.5;
				background-color: gray;
			}
		}

		font-size: 14px;
		padding: 10px 0;
		p {
			margin-bottom: 0;
		}

		.selected-order-date,
		.selected-order-recipes,
		.cancel-order-address,
		.selected-address-name {
			@include font-text-bold;
			text-decoration: none;
		}

		.update-order-date,
		.update-order-recipes,
		.update-order-address,
		.cancel-order-address {
			@include font-text-bold;
			text-decoration: none;
			text-transform: uppercase;
			float: right;
			color: $color_primary;
			cursor: pointer;
		}

		.edit-delivery-dropdown {
			display: inline-block;
		}

		.edit-delivery-dropdown button,
		.edit-delivery-submit {
			margin-right: 9px;
			margin-top: 9px;
		}

		@media(max-width: 768px) {
			.update-order-date {
				float: left;
				padding-top: 8px;
			}

			.edit-delivery-dropdown,
			.edit-delivery-dropdown button,
			.edit-delivery-dropdown ul,
			.edit-delivery-submit {
				width: 100%;
			}
		}

		.edit-delivery-dropdown {
			& > button {
				border: 1px solid rgb(220, 225, 2300);
				background-color: white;
				border-color: $color_gradient_4;
				color: $color_secondary;

				.glyphicon-menu-down {
					margin-left: 4px;
				}
			}

			li {
				cursor: pointer;

				&.disabled {
					opacity: 0.5;
					cursor: no-drop;
				}

				&.hidden {
					display: none;
				}
			}

			.subtext {
				color: #999999;
				padding-left: 4px;
			    font-style: italic;
			}
		}
	}
	.addbox {
		margin-bottom: 10px;
	}
	.orders-sidebar-item, .orders-list-item {
		position: relative;
		overflow: hidden;
		margin-top:-1px;
		margin-bottom: 15px;
		background: $color_gradient_3;
		&:first-child{
			margin-top: 0;
		}
		.content {
			padding: 20px 20px 10px 20px;
			position: relative;
			hr {
				position: absolute;
				margin: 0;
				width: 65%;
				left: 18%;
				bottom: -19px;
				border-top: 1px solid $color_gradient_4;
			}
		}
		&.active, &:hover {
			@include cursor-pointer;
			background-color: $color_gradient_1;
		}
		.order-phase {
			text-align: center;
			padding:  6px 0px 2px 0px;
			&:last-of-type {
				border-right: none;
			}
			&:first-of-type {
				border-left: none;
			}
			&.active {
				&:last-of-type {
					border-right: none;
				}
				&:first-of-type {
					border-left: none;
				}
				.glyphicon {
					color: $color_gradient_1;
					background: $color_primary;
				}
			}
			.glyphicon {
				display: block;
				margin: 0 auto;
				color: $color_gradient_1;
				background: $color_gradient_5;
				font-size: 10px;
				padding-top: 4px;
				padding-left: 4px;
				width: 20px;
				height: 20px;
				@include vendor-prefix(border-radius, 10px);
			}
			p {
				padding: 6px 3px 3px 3px;
				line-height: 14px;
			}
		}
	}
	.order-time-message {
		color: $color_primary;
		font-style: italic;
	}
	.delivery-info {
		font-style: italic;
		.glyphicon-ok {
			background: $color_secondary;
			@include vendor-prefix(border-radius, 10px);
			width: 20px;
			height: 20px;
			padding-top: 2px;
			padding-left: 3px;
		}
		.choose-now {
			color: $color_primary;
			font-size: 15px;
			font-style: normal;
			@include font-text-bold;
			text-transform: uppercase;
		}
		.mobile-order-status {
			font-style: normal;
			text-transform: uppercase;
			margin-right: 5px;
			display: none;
			&.active {
				display: inline-block;
			}
			&.active-order {
				color: $color_secondary;
			}
			&.skipped-order {
				color: $color_primary;
			}
		}
	}
	.delivery-date {
		text-transform: uppercase;
		font-size: 14px;
		color: $color_secondary;
		.delivery-time {
			text-transform: none;
			font-size: 12px;
		}
		.strikethrough-day {
			text-decoration: line-through;
			font-size: 12px;
		}
	}
	.delivery-portions {
		font-size: 16px;
		@include font-text-bold;
		margin-right: 15px;
		.icon-fork-knife {
			fill: $color_secondary;
			width: 20px;
			height: 20px;
		}
	}
	.delivery-info {
		font-style: italic;
	}
	.corner-ribbon {
		width: 200px;
		background: $color_gradient_4;
		position: absolute;
		top: 7px;
		right: -50px;
		text-align: center;
		line-height: 15px;
		letter-spacing: 1px;
		color: $color_gradient_9;
		@include vendor-prefix(transform, rotate(30deg));
		padding: 8px 44px 8px 56px;
		&.ribbon-green{
			background: $color_secondary;
		}
		&.ribbon-grey{
			background: $color_gradient_4;
		}
	}

	@media (max-width: 767px) {
		#deliveries-content-row {
			border-bottom: 1px solid $color_gradient_4;
		}
		.account-block-outer {
			overflow: auto;
			&:first-child {
				padding-right: 0px;
			}
			&:last-child {
				padding-left: 0px;
			}
		}
		.account-block-inner.orders-sidebar-item {
			&.active {
				border: none;
			}
		}
		.account-block-inner.order-container {
			background-color: $color_background;
			border-top: 1px solid $color_gradient_4;
			border-bottom: none;
			padding: 0;
			max-height: none;
			opacity: 1;
			.order-details {
				max-height: 0;
				overflow: auto;
				@include vendor-prefix(transition, all 0.6s ease);
				.projected-delivery-message {
					margin: 15px 0 0;
					color: $color_gradient_7;
					font-style: normal;
				}
			}
			&.displayed-mobile {
				background-color: $color_background;
				.order-details {
					max-height: 5000px;
				}
			}
		}
		.order-row {
			padding: 10px;
			position: relative;
			&.order-summary {
				border-bottom: none;
			}
			.delivery-info {
				display: block;
				margin-bottom: 0;
			}
			&.order-items {
				padding: 10px 0;
				margin: 0 10px;
				.order-item-grid {
					.order-item.col-xs-12:nth-child(n) {
						overflow: auto;
						padding-left: 0;
						padding-right: 0;
						margin-bottom: 10px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				.order-item-col {
					padding: 0;
					.order-item-title {
						padding-left: 5px;
					}
				}
			}
			.order-pricing {
				padding: 0;
				.row {
					padding: 0 10px 10px 10px;
					&.box-price {
						padding: 10px;
					}
				}
				.discount-info {
					color: $color_green;
				}
			}
			.order-options .order-option-buttons {
				&:before {
					display: none;
				}
				margin: 10px 0;
				a {
					margin-top: 0;
					padding: 7px 0;
				}
			}
			.address-name {
				text-transform: uppercase;
				@include font-text-bold;
			}
			.view-order-summary, .hide-order-summary {
				text-transform: uppercase;
				@include font-text-bold;
				color: $color_secondary;
				padding-top: 8px;
			}
			.delivery-portions {
				clear: both;
			}
		}
	}
}

.order-discount-info {
	position: relative;
	right: 0px;
	margin-left: 10px;
	margin-right: -20px;
	@media (max-width: 767px) {
		position: absolute;
		margin-right: auto;
		padding: 0;
		top: 10px;
	}
}
.order-discount-info-label {
	background: $color_green;
	color: $color_gradient_1;
	@include font-text-bold;
	text-transform: uppercase;
	padding: 5px;
}
@media (max-width: 767px) {
	.selected-order-date {
		display: block;
		margin-right: 60px;
	}
}
