@import '../config/main';


.no-delivery-row {
	@media (max-width: 767px) {
		padding: 0 10px;
	}
}

.no-delivery-col {
	padding: 0;
}

.no-delivery-tile {
	@media (max-width: 767px) {
		padding: 0 5px;
	}
}

.no-delivery-recipetitle {
	@include font-text-bold;
	margin-bottom: 20px;
}
