@import '../config/main';
body.account {
	.order-rating-row {
		margin-bottom: 20px;
		padding: 20px 20px 0;
		.order-rating-details {
			font-size: 14px;
			margin-bottom: 20px;
			overflow: auto;
			p {
				margin-bottom: 0;
			}
		}
		.order-rating-recipes {
			overflow: auto;
			margin: 0 -10px;
			.recipe-rating-outer {
				padding: 0 10px;
				margin-bottom: 20px;
				@media (max-width: 450px) {
					width: 100%;
				}
				@media (max-width: 992px) {
					&:nth-child(3) {
						clear: both;
					}
				}
			}
			.recipe-rating-inner {
				background-color: $color_gradient_1;
				.recipe-rating-form {
					padding: 0 10px 10px;
					textarea {
					    resize: vertical;
					    border-color: $color_gradient_4;
					    color: $color_secondary;
					    max-height: 250px;
					    &:focus {
		    				border-color: $color_gradient_5;
							box-shadow: none;
							outline: none;
					    }
					}
				}
				.stored-rating {
					padding: 0 10px 10px;
				}
				.recipe-rating-title {
					padding: 10px;
					min-height: 60px;
					@include font-text-bold;
					font-size: 14px;
					p {
						margin-bottom: 0;
					}
				}
				.recipe-rating-comments {
					padding-bottom: 10px;
				}
				.recipe-rating-stars {
					border-top: 1px solid $color_gradient_4;
					padding: 10px 0;
					.star {
						display: inline-block;
						margin: 0 -2px;
						border: none;
						background: none;
						padding: 0;
						&:focus {
							outline: none;
						}
						&.gold {
							.glyphicon {
								color: $color_stars;
							}
						}
						&.gold_light {
							.glyphicon {
								color: $color_stars_light;
							}
						}
					}
					.glyphicon {
						padding: 0 4px;
						top: 0;
						font-size: 30px;
						color: $color_gradient_4;
						&.gold {
							color: $color_stars;
						}
					}
				}
				.recipe-rating-meaning {
					text-transform: uppercase;
				}
				.saved-rating-text {
					word-wrap: break-word;
				}
			}
		}
	}
	@media (max-width: 767px) {
		.order-rating-row {
			background-color: $color_gradient_1;
			border-top: 1px solid $color_gradient_4;
			margin-bottom: 0;
			padding: 0 10px;
			&.active {
				background-color: $color_gradient_3;
			}
			&:last-child {
				border-bottom: 1px solid $color_gradient_4;
			}
			.order-rating-details {
				margin-bottom: 0;
				padding: 20px 0;
				p {
					max-width: 75%;
					font-size: 12px;
				}
				button {
					color: $color_secondary;
				}
			}
			.mobile-collapse {
				overflow-y: hidden;
				max-height: 4000px;
				@include vendor-prefix(transition, all 500ms ease-in-out);
				&.closed {
					max-height: 0;
				}
			}
			.recipe-rating-outer {
				margin-bottom: 20px;
			}
		}
	}
}
