@value Blackberry, White from 'styles/colors.css';
@value ScreenXXSMin, ScreenMDMin, ScreenLGMin from 'styles/screenSizes.css';

.container {
  position: relative;
  background-color: Blackberry;
  color: White;
}

.content {
  padding: 1rem 0 2.5rem;
}
