@import '../../config/main';

.delivery-skip-links {
	color: $color_primary;
	float: right;
	border: none;
	background: none;
	text-transform: uppercase;
	margin-bottom: 15px;
	margin-top: 15px;

	&:hover {
		color: darken($color_secondary, 10);
		text-decoration: underline;
	}
}
