@value Oyster, Bluecheese from 'styles/colors.css';

.header {
  display: flex;
  composes: fontStyleBody from "design-language/typography.css";
  font-weight: 600;
}

.headerTitle {
  margin: 0 0 0 0.5rem;
  flex-grow: 1;
}

.headerCta {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid Oyster;
  color: Bluecheese;
  background: none;
  cursor: pointer;
}

.currentValue {
  padding: 0.5rem 0 0 2rem;
}
