@value ScreenMDMin from 'styles/screenSizes.css';
@value BreakpointFromLarge from 'design-language/breakpoints.css';
@value BreakpointToMedium from 'design-language/breakpoints.css';
@value BreakpointFromMedium from 'design-language/breakpoints.css';
@value White from 'styles/colors.css';
@value grey #AEB7C0;

.container {
  max-width: 80%;
  padding: 30px 15px;
  margin: 40px auto;
  background-color: #fff;
  text-align: center;

  @media ScreenMDMin {
    max-width: 41.66666666666667%;
  }
}

.title {
  composes: headerXXL from 'styles/typography.css';
  text-align: center;
}

.link {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media ScreenMDMin {
    flex-direction: row;
    align-items: baseline;
  }
}

.uppercase {
  text-transform: uppercase;
}

.itemHeading {
  composes: fontStyleL from 'design-language/typography.css';
  margin-bottom: 1rem;
  text-align: left;
}

.container,
.containerActive {
  max-width: 70%;
  padding: 0 0.938rem 0.313rem;
  margin: 0 0.938rem 1.25rem;
  background-color: White;
  border: 1px solid grey;
  width: 33%;

  @media BreakpointToMedium {
    width: 100%;
    padding: 0 0.938rem 0.313rem;
    display: none;
  }

  @media BreakpointFromMedium {
    width: 50%;
    padding: 0 0.5rem 0.313rem;
  }

  @media BreakpointFromLarge {
    width: 372px;
    padding: 0 0.5rem 0.313rem;
  }
}

.containerActive {
  @media BreakpointToMedium {
    max-width: 100%;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

    .itemHeading {
      display: none;
    }
  }
}

.carouselItem {
  background: White;
  border: 1px solid Mackerel;
  flex-grow: 1;
  margin: 0;
  min-width: 100%;
  padding: 1rem 0.75rem 0;

  &:first-child {
    margin-right: 0.75rem;
  }

  @media BreakpointFromLarge {
    &:first-child {
      margin-right: 0;
    }
  }
}

.subhead {
  composes: fontStyleSubHead from 'design-language/typography.css';
  margin: 0.5rem 0;
  text-align: left;
}

.list {
  composes: fontStyleBody from 'design-language/typography.css';
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  &::before {
    content: '';
    margin-right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('media/svgs/icon-success-tick.svg');
  }
}

.boxSizeButton,
.boxSizeButtonActive {
  cursor: pointer;
  display: inline-block;
  width: 33%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #615cff;
  composes: headerXL from 'styles/typography.css';
}

.boxSizeButtonActive {
  border-radius: 3px;
}

.boxSizeButton:first-child {
  border-right: none;
}

.boxSizeButton:last-child {
  border-left: none;
}

.boxSizeButton:nth-child(2) {
  border-left: 1px solid #615cff;
  border-right: none;
}

.boxSizeButtonActive {
  height: 48px;
  color: #fff;
  background-color: #615cff;
  border: none;
}

.boxSizeButtonActive {
  + .boxSizeButton {
    border-left: none;
    border-right: 1px solid #615cff;
  }
}

.boxSizeButton:focus,
.boxSizeButtonActive:focus {
  outline: none !important;
  box-shadow: none;
}

.selectDescription,
.selectDescriptionSuccess {
  background-color: #516272;
  padding: 0.25rem;
  border: 1px solid grey;
  color: #fff;
  text-align: center;
  margin-top: 1.25rem;
  composes: headerXL from 'styles/typography.css';
  font-size: 13px;
}

.selectDescriptionSuccess {
  background: #008610;
}

.select {
  width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  display: inline-flex;
}

.selectItem {
  width: 50%;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding: 0.625rem 0;
  border: 1px solid grey;
  border-top: none;
  line-height: 23px;
}

.selectItem:last-child {
  color: #008610;
  border-left: none;
}

.amount {
  font-weight: 600;
  font-size: 20px;
}

.ctaContainer {
  margin-bottom: 0.5rem;
}

.benefitContainer {
  margin-bottom: 1rem;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: no-wrap;
}
