@value White, Pomegranate from 'styles/colors.css';

.rangeBadge{
  position: relative;
  height:28px;
  display: flex;
  flex-direction: row;
}

.ribbon {
  width: 10px;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  border-top: 1px solid White;
  border-bottom: 1px solid White;
}

.arrow {
  height: 28px;
  position: absolute;
  z-index: 200;
	width: 0;
	height: 0;
}

.arrowTopBorder  {
	composes: arrow;
  border-right: none;
  border-top: none;
  border-bottom: 16px solid transparent;
  border-left: 10px solid White;
}

.arrowTop {
  composes: arrow;
  border-right: none;
  border-top: none;
  border-bottom: 14px solid transparent;
  border-left: 9px solid Pomegranate;
}

.arrowBottom {
	composes: arrow;
  top: 12px;
  border-right: none;
  border-top: 14px solid transparent;
  border-bottom: none;
  border-left: 9px solid Pomegranate;
}

.arrowBottomBorder {
	composes: arrowBottom;
  right: -1px;
  border-top: 15px solid transparent;
  border-bottom: none;
  border-left: 10px solid White;
}

.ribbonText {
  z-index: 10;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  background-color: Pomegranate;
  border: 1px solid White;
  border-right: none;
  color: White;
  padding: 5px 11px 5px 15px;
  font-size: 12px;
  font-weight: 700;
  font-family: Avenir-Black, Avenir;
}
