@value Coconut from 'styles/colors.css';

.loginDesktopContainer {
    display: flex;
    justify-content: flex-end;
}

.appAwarenessContainer {
    position: relative;
    order: 1;
    min-width: 460px;
    background-color: Coconut;
    overflow: hidden;
}

.loginFormContainer {
    order: 2;
    padding: 1rem 1rem 2rem;
    min-width: 290px;
}

.loginFormContainer h4 {
  padding-left: 0.5rem;
}

.heading {
    padding: 2rem 2rem 1rem;
    min-height: 224px;
}

.subCopy {
    composes: fontStyleBody from 'design-language/typography.css';
    margin-bottom: 0;
}

.imageContainer {
    height: 272px;
}

.phoneImage {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 244px;
}

.ricePattern {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}
