.productBundleList{
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media ScreenXXSMin {
    width: calc(80% - 10px);
    margin: 0 auto;
  }
}

.productImage {
  width: 5rem;
  height: 5rem;
  align-self: center;
}

.recipeHeader{
  padding: 8px 8px 0px 16px;
  align-self: center;
}

.title {
  margin-bottom: 0px;
}

.recipeBox{
  background-color: #dff4ff;
  margin-top: 24px;
  
  @media ScreenXXSMin {
    width: calc(80% - 10px);
    margin: 0 auto;
  }
}
