@value Blackberry from 'styles/colors.css';

.noDecor {
  composes: noDecor from 'styles/typography.css';
  color: #1e2c48;
  &:hover,
  &:focus {
    color: #1e2c48;
  }
}

.base {
  composes: textLinkBase from 'styles/typography.css';
}

.secondary {
  color: #1e2c48;

  &:hover,
  &:active,
  &:focus {
    color: #1e2c48;
  }
}
