@value Chia, Cacao, Tomato, Mushroom50, White, Blackberry, Basa from 'styles/colors.css';
@value SpacingXL from 'sass-loader!styles/spacing.scss';
@value bodyFontStackBold, sizeXS from 'styles/typography.css';
@value MainColor Blackberry;

.container {
	composes: flex column spaceBetween from 'styles/flex.css';
	composes: hidden-md-up from 'sass-loader!styles/bootstrap.scss';
	transition: 0.1s ease-in-out;
	position: fixed;
	top: 0;
	right: 0;
	background: White;
	height: 100%;
	z-index: -1;
}

.defaultState {
	composes: container;
	transform: translateX(100%);
}

.show {
	composes: container;
	transform: translateX(0);
	z-index: 2000;
}

button:target .defaultState {
	transform: translateX(0);
	z-index: 2000;
}

.list {
	composes: paddingLGTopBottom paddingLGLeft paddingXXLRight from 'sass-loader!styles/spacing.scss';
	list-style-type: none;
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 0px;
}

.menuItemBase {
	composes: paragraphMD from 'styles/typography.css';
	composes: paddingLGTopBottom from 'sass-loader!styles/spacing.scss';
	composes: block from 'styles/display.css';
	@media ScreenXSMax {
		composes: inline from 'styles/display.css';
	}
}

.removeButtonDesign {
	margin: 0;
	border: 0;
	padding: 0;
	background: none;
}

.menuItem {
	width: 100%;
	text-align: left;
	composes: removeButtonDesign;
	composes: menuItemBase;
	composes: bodyFont noDecor textBoldHover textBoldActive textBoldFocus from 'styles/typography.css';
	color: MainColor;
	border-bottom: 3px solid transparent;
	cursor: pointer;

	&.disabled, &:hover, &:focus, &:active {
		& button { 
			border: 0;
		}
		width: 100%;
		color: MainColor;
		border-color: MainColor;
	}
}

.disabled {
	composes: textBold from 'styles/typography.css';
}

.listElement {
	composes: paddingMDTopBottom from 'sass-loader!styles/spacing.scss';
	padding-left: 15px;
	padding-right: 30px
}

.childListElement {
	composes: listElement;
	padding-left: 30px;
}

.borderListElement {
	composes: listElement;
	border-top: 1px solid Basa;
	padding-top: 20px;
	margin-top: 10px
}

.boxContainer {
	text-align: center;
	padding: 0 SpacingXL;
}

.box {
	width: 100px;
	height: 115px;
	margin: 0 20px;
}

.mobileMenuTestWrapper { 
	display: flex;
	font-family: bodyFontStackBold;
	font-size: sizeXS;
}

.accountIcon {
	height: 1.125rem;
	width: 1.125rem;
}

.helpMenuItem {
	color: White;
	padding: 0 0.25rem;
	margin: 0;
	border: none;
	background: none;
	line-height: 1.4;
}

.accountMenuItem {
	composes: helpMenuItem;
	padding-right: 1.25rem;
}
.accountMenuItem:hover, .accountMenuItem:active, .accountMenuItem:focus {
	color: White;
}
