@value ScreenXXSMax from 'styles/screenSizes.css';

.button {
	align-self: center;
	flex-grow: 0.4;
	width: 100%;

	@media ScreenXXSMax {
		align-self: center;
	}
}

.copy {
	composes: fontStyleSubHead from 'design-language/typography.module.css';
}
