@value White from 'styles/colors.css';
@value ScreenSMMin from 'styles/screenSizes.css';

.filterTagContainer {
    composes: paddingMDTop paddingXLBottom from 'sass-loader!styles/spacing.scss';
    display: flex;
    padding-top: 55px;
    padding-bottom: 0px;
}

.filterListContainer {
    composes: pageContainer from 'styles/layout.css';
    width: 100%;
    display: flex;
    padding-right: 5px;
}

.filtersCTA {
    min-width: 12%;
}
