

.filterTag {
    padding: 8px;
    border: 1px solid #D6D8DA;
    border-radius: 10px;
    box-shadow: inset 1px 0 0 0 #E9F0F7;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}
