@value White from 'styles/colors.css';
@value ScreenXSMax, ScreenSMMin from 'styles/screenSizes.css';

.filterTagContainer {
    composes: paddingMDTop paddingXLBottom from 'sass-loader!styles/spacing.scss';
    padding-top: 57px;
    padding-bottom: 20px;
    @media ScreenSMMin {
        padding-top: 50px;
        padding-bottom: 0px;
    }
}

.filterTagContainerFixedWithoutFilters {
    padding-top: 43px;
    @media ScreenXSMax {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

.filterTagContainerFixedWithFilters {
    padding-top: 88px;
    @media ScreenXSMax {
        padding-top: 75px;
    }
}

.filterListContainer {
    composes: pageContainer from 'styles/layout.css';
    width: 100%;
    @media ScreenXSMax {
        position: absolute;
        display: flex;
        padding-right: 5px;
    }
}

.filterListContainerFixed {
    composes: filterListContainer;
        width: 100%;    
        position: fixed;
        z-index: 89;
        background-color: White;
        border-bottom: solid 1px #EAEBE9;
    @media ScreenSMMin {
        max-width: initial;
        top: 43px;
    }
    @media ScreenXSMax {
        top: 0;
        padding-top: 55px;
        padding-bottom: 5px;
    }
}

.filtersCTA {
    min-width: 12%;
}
