.list {
  composes: fontStyleBody from 'design-language/typography.css';
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  margin: 0;
  padding: 0 0 0 2rem;
  margin-bottom: 1.5rem;
}

.strong {
  composes: fontSemiBold from 'design-language/typography.css';
}

.itemValue {
  background: url('./assets/icon-value.svg') no-repeat;
}

.itemRecipes {
  background: url('./assets/icon-recipes.svg') no-repeat;
}

.itemSkip {
  background: url('./assets/icon-skip.svg') no-repeat;
}

.itemDietary {
  background: url('./assets/icon-dietary.svg') no-repeat;
}

.itemSelection {
  background: url('./assets/icon-selection.svg') no-repeat;
}

.itemEnvironmental {
  background: url('./assets/icon-dietary.svg') no-repeat;
}

.itemWorldCuisine {
  background: url('./assets/icon-world-cuisine.svg') no-repeat;
}
