@value White, RadishLight, RadishLightPulse, BluecheeseLighter, Duckegg, Oyster from 'styles/colors.css';
@value avenirBookFontStack, sizeXS from 'styles/typography.css';

@keyframes background-shortlist-change {
  from { background-color: RadishLightPulse; }
    to { background-color: RadishLight; }
}


@keyframes background-recipe-box-change {
  from { background-color: Duckegg; }
    to { background-color: BluecheeseLighter; }
}

.recipeCountContainer {
  background-color: White;
  font-family: avenirBookFontStack;
  font-size: sizeXS;
}

.line {
  display: flex;
  padding: 0.25rem 0.5rem;
}

.boxRecipes {
  background-color: BluecheeseLighter;
  composes: line;
}


.boxRecipesChange {
  animation: background-recipe-box-change 750ms linear;
}

.shortlistRecipes {
  background-color: RadishLight;
  composes: line;
}

.shortlistRecipesChange {
  animation: background-shortlist-change 750ms linear;
}

.recipeNumber {
  margin-left: auto;
}

.text {
  margin: 0;
  padding-left: 0.25rem;
}

.square {
  height: 1.25rem;
  width: 1.25rem;
  display: inline-flex;
}

.box {
  composes: square;
  background: url('media/svgs/icon_cart_in_box_empty.svg') center center no-repeat;
}

.withRecipesBox {
  composes: box;
  background: url('media/svgs/icon_cart_in_box_with_recipes.svg') center center no-repeat;
}

.shortlist {
  composes: square;
  background: url('media/svgs/icon_cart_shortlist_empty.svg') center center no-repeat;
}

.withRecipesShortlist {
  composes: shortlist;
  background: url('media/svgs/icon_cart_shortlist_with_recipes.svg') center center no-repeat;
}
