@value Oyster, White, Bluecheese from 'styles/colors.css';

.cta {
  composes: fontStyleButtonL from 'design-language/typography.css';
  /**
   * min-height instead of height so when text breaks in 2 lines, then button would not lose it's paddings.
   */
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: Bluecheese;
  color: White;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;

  &,
  &:hover {
    border: none;
  }
}

.isDisabled {
  background: Oyster;
  border-color: Oyster;
  color: White;
  cursor: not-allowed;

  &:hover {
    color: White;
  }
}

.isFullWidth {
  width: 100%;
}
