@value Haricot, Carrot, White from 'styles/colors.css';
@value axiformaFontStack from 'styles/typography.css';

.offerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.discountOSR {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 78.44px;
  width: 78.77px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 21px;
}

.discountOSROrder {
  border: 1.44px solid Haricot;
  background-color: Haricot;
}

.discountOSRSubscription {
  border: 1.44px solid Carrot;
  background-color: Carrot;
}

.discountOSR__container {
  display: flex;
  flex-direction: column;
  max-width: 60px;
  font-size: 22px;
  font-family: axiformaFontStack;
  font-weight: bold;
  color: White;
}

.discountOSR__sub {
  font-size: 70%;
  line-height: 1.2;
}

.messageDiscountOSR {
  font-family: Avenir;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  margin-left: 20px;
}

.messageDiscountOSROrder {
  color: Haricot;
}

.messageDiscountOSRSubscription {
  color: Carrot;
}
