@value White, Bluecheese, NewGrey from 'styles/colors.css';

.variantHeader {
    padding: 0.25rem 0;
    color: White;
    font-weight: bold;
    box-sizing: content-box;
    background: Bluecheese;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.variantHeaderSides {
    padding: 0.25rem 0;
    color: White;
    font-weight: bold;
    box-sizing: content-box;
    background: NewGrey;
    width: 100%;
    z-index: 100;
}

.variantHeaderSidesCarousel {
    padding: 0.25rem 0;
    color: White;
    font-weight: bold;
    box-sizing: content-box;
    background: NewGrey;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.variantHeaderText {
    padding-left: 0.625rem;
}
