.setDeliveryDateButton-desktop {
  width: 355px;
  margin-right: 93px;
}

.setDeliveryDateButton-mobile {
  width: 30%;
}

.fullWidth {
  width: 100%;
}

.mobile {
  padding-bottom: 44px;
  padding-top: 4px;
  padding-left: 0;
  padding-right: 0;
}
