@value BreakpointFromMedium from 'design-language/breakpoints.css';

.mainText {
  padding-top: 0.5rem;
  composes: fontStyleBody from 'design-language/typography.module.css';

  @media BreakpointFromMedium {
    padding-bottom: 0.5rem;
  }
}
