@value ScreenXSMax from 'styles/screenSizes.css';

.horizontalScrollWrapper {
	composes: flex flexStart from 'styles/flex.css';
	width: 100%;
	height: auto;
	@media ScreenXSMax {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
	}
}

.horizontalScrollWrapper::-webkit-scrollbar {
	display: none;
}
