@import '../config/main';

/**
 * Define all the website borders
 */

@mixin gbrdr-default($color: $color_borders, $width: 1px, $style: solid, $radius: 0) {
	border-color: $color;
	border-style: $style;
	border-width: $width;
	@include border-radius($radius);
}

.gbrdr-dashed-regular {
	@include gbrdr-default($color: $color_border, $width: 2px, $style: dashed, $radius: $default_radius);
}

.gbrdr-dashed-light {
	@include gbrdr-default($color: $color_border_light, $width: 2px, $style: dashed, $radius: $default_radius);
}

.gbrdr-solid-regular {
	@include gbrdr-default($color: $color_border, $width: 2px, $style: solid, $radius: $default_radius);
}

.gbrdr-solid-light {
	@include gbrdr-default($color: $color_border_light, $width: 2px, $style: solid, $radius: $default_radius);
}
