@import '../config/main';

input, .form-control {
	border-radius: 5px;
	border: 1px solid $color_gradient_4;
	font-size: 16px;
	height: 36px;

	&:focus {
		border-color: $color_gradient_5;
		box-shadow: none;
		outline: none;
	}

	&.error {
		color: $color_red;
		border: 1px solid $color_red;
		background: lighten($color_red, 90);
	}
}

input[type='checkbox'], input[type='radio'] {
	height: 15px;
}

.input-group-field {
	width: 80%;
}

.input-group-rightbtn {
	width: 18%;
	float: right;
}
