@import '../config/main';

img {
	max-width: 100%;
	height: auto;
}
picture {
	display: block;
}

.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 0ms;
}

.one-to-one {
	@include aspect-ratio(1,1);
	overflow: hidden;
}
