@import '../config/main';

.gquote {
	border-left: 0;
	color: $color_gradient_9;
	position: relative;
	margin: 10px 20px 30px 20px;
	padding: 0px 10px;
	quotes: "\201C""\201D""\201C""\201D";
	p {
		display: inline;
	}
	&:before, &:after {
		@include font-heading-bold;
		color: $color_gradient_5;
		position: absolute;
		font-size: 54px;
		line-height: 0;
		margin-right: 0;
		vertical-align: 0;
		position: absolute;
		top: 20px;
	}
	&:before {
		content: open-quote;
		left: -30px;
	}
	&:after {
		content: close-quote;
		right: -30px;
	}
	.author {
		display: block;
		font-size: 18px;
		margin-top: 22px;
		margin-bottom: 20px;
	}
}
