@import '../config/main';

.hide-soft {
	display: none;
}
@media (min-width: 768px) {
	.desktop-hide {
		display: none !important;
	}
	.desktop-hide-soft {
		display: none;
	}
}
@media (max-width: 767px) {
	.mobile-hide-soft {
		display: none;
	}
	.mobile-pull-left {
		float: left;
	}
	.mobile-pull-right {
		float: right;
	}
	.mobile-hide {
		display: none !important;
	}
	.mobile-text-center {
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.tablet-hide {
		display: none !important;
	}
	.tablet-show {
		display: block !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.md-hide {
		display: none !important;
	}
}

.flex{
	display: flex;
}

.flex-center-all {
	@include vendor-prefix(display, flex);
	@include prop-vendor-prefix(display, flex);
	@include vendor-prefix(justify-content, center);
	@include vendor-prefix(align-items, center);
}
.flex-center-h {
	@include vendor-prefix(display, flex);
	@include prop-vendor-prefix(display, flex);
	@include vendor-prefix(justify-content, center);
}
.flex-center-v {
	@include vendor-prefix(display, flex);
	@include prop-vendor-prefix(display, flex);
	@include vendor-prefix(align-items, center);
}
.flex-container {
	@include vendor-prefix(display, flex);
	@include prop-vendor-prefix(display, flex);
}

.flex-wrap {
	@include vendor-prefix(flex-wrap, wrap);
}

.flex-self-center {
	@include vendor-prefix(align-self, center);
}

.flex-self-stretch {
	@include vendor-prefix(align-self, stretch);
}

.flex-justify-between {
	@include vendor-prefix(justify-content, space-between);
}

.flex-justify-around {
	justify-content: space-around;
}


/* flex-eq-321 provides 3-2-1 flex layout for desk-tab-mob */

.flex-eq-321 {
	width: 32%;
	padding: 0;
	margin-bottom: 15px;
	&.empty {
		height: 0;
		opacity: 0;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.flex-eq-321 {
		min-width: 48%;
	}
}

@media (max-width: 767px) {
	.flex-eq-321 {
		min-width: 100%;
	}
}

/*
	iPhone 6+
 */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
  	.flex-eq-321 {
		width: 100%;
	}
}

/*
	iPhone 6
 */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.flex-eq-321 {
		width: 100%;
	}
}

/*
	iPhone 5 and 5s
 */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.flex-eq-321 {
		width: 100%;
	}
}

/*
	iPhone 4 and 4s
 */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.flex-eq-321 {
		width: 100%;
	}
}

/*  flexbox fallbacks for unsupported browsers */
html.no-flexbox {
	.flex-eq-321 {
		width: 33%;
		display: inline-block;
		padding-right: 10px;
	}
}
