@import '../config/main';

/**
 * Define all the website fonts, typography classes
 */

 @font-face {
	font-family: 'AvenirBook';
	src: url('/fonts/avenir-book.eot');
	src: url('/fonts/avenir-book.eot?#iefix') format('embedded-opentype'), url('/fonts/avenir-book.woff') format('woff'), url('/fonts/avenir-book.woff2') format('woff2'), url('/fonts/avenir-book.ttf') format('truetype');
}
@font-face {
	font-family: 'AvenirHeavy';
	src: url('/fonts/avenir-heavy.eot');
	src: url('/fonts/avenir-heavy.eot?#iefix') format('embedded-opentype'), url('/fonts/avenir-heavy.woff') format('woff'), url('/fonts/avenir-heavy.woff2') format('woff2'), url('/fonts/avenir-heavy.ttf') format('truetype');
}
@font-face {
	font-family: 'ComfortaaRegular';
	src: url('/fonts/comfortaa-regular.eot');
	src: url('/fonts/comfortaa-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/comfortaa-regular.woff') format('woff'), url('/fonts/comfortaa-regular.woff2') format('woff2'), url('/fonts/comfortaa-regular.ttf') format('truetype');
  }
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('/fonts/glyphicons-halflings-regular2.eot');
	src: url('/fonts/glyphicons-halflings-regular2.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular2.woff') format('woff'), url('/fonts/glyphicons-halflings-regular2.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular2.svg#glyphicons-halflingsregular') format('svg');
}

/*** Default ***/
h1, h2, h3, h4, h5, h6, body {
	@include font-text-regular;
	color: $color_secondary;
}

h1 {
	font-size: 44px;
	@media (max-width: 767px) {
		font-size: 24px;
	}
}

h2 {
	font-size: 32px;
	@media (max-width: 767px) {
		font-size: 20px;
	}
}

h3 {
	font-size: 24px;
	@media (max-width: 767px) {
		font-size: 18px;
	}
}

h4 {
	font-size: 20px;
	@media (max-width: 767px) {
		font-size: 16px;
	}
}

h5 {
	font-size: 16px;
	@media (max-width: 767px) {
		font-size: 14px;
	}
}

h6 {
	font-size: 14px;
	@media (max-width: 767px) {
		font-size: 12px;
	}
}

body {
	font-size: 14px;
}

/*** Fonts ***/
.text-heading {
	@include font-heading-bold;
	color: $color_secondary;
}

/*** Colored text ***/
.text-success {
	color: $color_secondary;
}
.text-dulled {
	color: $color_text_dulled;
}
.text-danger {
	color: $color_red;
}
a:hover {
	&.text-success {
		color: darken($color_secondary, 10%);
	}
	&.text-dulled {
		color: darken($color_text_dulled, 10%);
	}
	&.text-danger {
		color: darken($color_red, 10%);
	}
}

/*** Links ***/
.highlight-links {
	a, a:hover {
		color: $color_primary;
	}
}

.strong {
	@include font-text-bold;
}

.highlight-link, .highlight-link:hover {
	color: $color_primary_hover;
}

a.imitate-link {
	@include cursor-pointer;
}
a[href^=tel] {
	color: inherit;
	text-decoration: none;
}
a, a:hover {
	color: inherit;
}
a:focus {
	outline: none;
}
