@value ScreenMDMax, ScreenXSMax, ScreenSMMax from 'styles/screenSizes.css';
@value sizeMD, sizeXL from 'styles/typography.css';

.buttonsContainer{
	display: flex;
}
.btnWrapper {
	margin: auto;
	vertical-align: middle;
}

.addButton {
	width: 75px;
	border-radius: 3px;
}

.segmentControler{
	width: 25px;
}

.qtySegment {
	width: 25px;
}
