@value ScreenMDMax, ScreenXSMax, ScreenSMMax from 'styles/screenSizes.css';
@value sizeMD, sizeXL from 'styles/typography.css';

.buttonsContainer{
	display: flex;
}
.btnWrapper {
	margin: auto;
	vertical-align: middle;
}
